[2016-10-10 17:02] IRCody commented on #1268
I went ahead and added the files in-line to make it easier to see.

lscpu:
[code]

perf_sched:
[code]

[2016-10-10 17:12] kindermoumoute commented on #1270
No, you can load a bunch of plugins in a specific location in the same time you run snapd with `-a` flag. But it's doing the same than loading one by one plugins.

Plugin are compressed when loaded, could this be a performance behavior on a platform such Edison? @IRCody

This kind of feedback is welcomed, thank you!

[2016-10-10 17:45] IRCody commented on #1270
@ericho: Which plugins are you trying to load?

I'm wondering if the later ones were just a lot larger which caused it to take longer to be transferred/load. Other than plugin size I can't think of anything that should effect the load time so drastically.

[2016-10-10 18:25] IRCody commented on #1268
Just for clarity, what values did you try?

[2016-10-10 18:33] obourdon commented on #1268
From the top of my head I think I tried 3 seconds and 5 times retry.

[2016-10-10 18:51] IRCody commented on #1268
Not that this is a permanent solution, but since the max-delay in your perf stuff is ~5 seconds would it make since to try 6 seconds?

Another thing that came to mind is that it could make sense to modulate health grace period by task frequency (e.g. for something that collects frequently we want to know sooner that it failed)

The issue with basing health checks off the task interval is that, unl

[2016-10-10 19:51] ericho commented on #1270
I tried with ```snap-plugin-collector-mock1``` ```snap-plugin-processor-passthru``` ```snap-plugin-publisher-mock-file``` in different order of loading with the same result.

The last experiment was with ```snap-plugin-processor-passthru``` ```snap-puglin-publisher-file``` and ```snap-plugin-collector-edison```. The last one is the one that I'm creating :smile:

Can plugins be loaded without compr

[2016-10-10 20:08] kindermoumoute commented on #1270
No benchmark yet, but you can easily [create a flamegraph of the CPU use](https://github.com/intelsdi-x/snap/blob/master/docs/PROFILING.md), PM me on the [Slack channel](https://intelsdi-x.herokuapp.com/) if you need help for that.

[2016-10-10 23:44] kindermoumoute commented on #1237
It would really simplify user experience if we can go to the point where a task manifest automate plugin downloads, a la "docker hub"/"vagrant up"/"kubectl".

[2016-10-11 00:11] kindermoumoute opened #1273 "Get metric from tree still use `/` separator"
Calling the API on `/v1/metrics/*namespace` will call a `getMetricsFromTree`method, which use a deprecated `parseNamespace` function, that will split a namespace from the `/` separator.

See https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/server.go#L518-L526

@candysmurf @kjlyon it would be interesting to have the API test that, thoughts?

[2016-10-11 00:30] kindermoumoute commented on #529
(I updated the above link)
There are 2 aspects here:
* In one hand, we should be able to do `pluginCatalog[key]` when we have type, name **and** version. [See here](https://github.com/intelsdi-x/snap/blob/master/control/plugin_manager.go#L192-L195).
So looping currently doesn't make sense.
* In the other hand, if we want to return plugins by type, name, **or** version, it requires several changes.

[2016-10-11 16:32] #1211 closed

[2016-10-11 16:33] #1167 closed

[2016-10-11 19:19] astub commented on #1175
Perfmon is just an app that displays windows metics and writes to logs based on user created scheduling. The idea would be to hook into the c# library that exposes the counters to Perfmon.

[2016-10-11 20:25] #1233 closed

[2016-10-12 03:55] lynxbat opened #1276 "Snap plugins should have a packaging abstraction"
I think that Snap plugins should have some sort of outside packaging around them.
This could be a tar, zip, etc. Some ideas why this might be better:

1. The package could contain a manifest that describes things about the plugin that are useful before executing. Examples are what runtime is required, snap version compatibility, and more.
2. For non-compiled source code like Ruby, the source files

[2016-10-12 04:19] kindermoumoute commented on #1276
Can't we sign the whole package?

[2016-10-12 04:54] candysmurf commented on #1273
@kindermoumoute, this method never gets called. Look: https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/server.go#L471.

[2016-10-12 12:35] marcin-krolik commented on #852
Fixed with #1109

[2016-10-12 12:35] #852 closed

[2016-10-12 17:46] kindermoumoute commented on #1273
If the namespace is not defined, it's normal it fails. After loading a mock plugin:
[code]

[2016-10-12 17:48] candysmurf commented on #1273
@kindermoumoute, do you mind to try this: curl http://localhost:8181/v1/*namespace to see if you get all metrics back?

[2016-10-12 17:49] kindermoumoute commented on #1273
`*namespace` is not a namespace, that's why it returns 404.

[2016-10-12 18:19] candysmurf commented on #1273
@kindermoumoute, I'm very confused by the syntax. Got it. It's the syntax of this library Snap uses: https://github.com/julienschmidt/httprouter.

[2016-10-12 18:39] #749 closed

[2016-10-12 19:51] lynxbat commented on #1276
We could sign the whole package. But it is not ideal to leave it compressed on disk once loaded. on a start or stop we need an uncompressed copy of the plugin. But, it is possible to swap out pieces (libs, scripts, etc) in a non binary version. My signing the manifest also and maintaining hashes of the contents we can ensure integrity of the uncompressed version.

[2016-10-12 19:52] lynxbat commented on #1276
I think we do both IMHO.

[2016-10-12 19:52] lynxbat commented on #1276
Though RBAC on the API and SSL ensure the right user did the upload.

[2016-10-12 20:06] geauxvirtual commented on #1276
How is this different from the current packaging of plugins that snap supports?

[2016-10-12 20:08] jcooklin commented on #1276
👉  https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_PACKAGING.md

[2016-10-12 20:16] lynxbat commented on #1276
What about non-Linux?

[2016-10-12 20:32] jcooklin commented on #1276
The acbuild can't be run on windows but I'm unaware of anything that would prevent snap from loading a package on Windows.  I'll verify this soon.

[2016-10-12 21:01] jtlisi opened #1280 "Snapd Config Tags and Vars"
## Global Tags

**Proposition:** A configurable array of tags that are applied globally to any metrics collected by tasks scheduled on the snap agent.
- Every metric collected and brought into the agent would have this tag appended, similar to how the `'plugin_running_on'` tag is currently applied to every collected metric
- It would exist in the config file supplied to snap upon startup and would

[2016-10-12 21:49] #1230 closed

[2016-10-12 21:54] lynxbat commented on #1276
Is acbuild aligned to the use cases above? Is this is the path we want to take over a simpler zip + manifest?

[2016-10-13 15:37] IzabellaRaulin opened #1282 "graph in docs/PLUGIN_SIGNING.md needs to be updated"
Graph in docs/PLUGIN_SIGNING.md needs to be updated:

https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_SIGNING.md#how-it-works

**Expectations:** renaming Pulse to Snap

[2016-10-13 17:18] #1158 closed

[2016-10-13 18:10] IzabellaRaulin commented on #786
After action of removing the /examples folder from snap (https://github.com/intelsdi-x/snap/pull/1269) and not pointing to mock plugins anymore, this issue seems to be no longer valid. @mjbrender, do You confirm that?

[2016-10-13 19:33] mjbrender commented on #786
I agree @IzabellaRaulin. As we focus on using examples from plugin repositories, it will be good to keep this issue in mind.

The overall goal if keeping Task Manifests as real-world as possible is captured elsewhere. Closing this one.

[2016-10-13 19:33] #786 closed

[2016-10-13 22:37] IRCody commented on #1268
@obourdon: Looking into this more, I think there is another issue that is built into the health checks for plugins. Even if the health check interval is changed from the snap side, the plugins are expecting health checks every 1.5 seconds and if it fails 3 ([here](https://github.com/intelsdi-x/snap/blob/master/control/plugin/session.go#L210) of them it kills itself. This value would also need to b

[2016-10-14 10:52] ralberto opened #1283 "Seed node does not join the cluster after restart"
A cluster of 3 nodes was started using the tribe configuration below:

[code]

Executing `snapctl member list` shows all three nodes. However if we restart seed node, it does not join the cluster again. Other nodes join the cluster without any problem!

[2016-10-14 17:21] IRCody commented on #1283
Can you go into more detail about how you're restarting the seed node, including what command you're using?

[2016-10-14 18:04] IRCody commented on #1280
@jtlisi: Can you talk about what this gets you that isn't currently supplied by the tags section described in this page: [Tasks.md](https://github.com/intelsdi-x/snap/blob/master/docs/TASKS.md).

[2016-10-14 20:35] jose5918 opened #1285 "Behavior for joining agreement from seed node different from joining from other nodes"
Joining an agreement from different nodes, without waiting in between, can cause Snap to loop a duplicate message output. This was something I encountered while trying to join from multiple nodes.

**Steps to reproduce:**

Start snap seed in tribe
[code]
Start another snap in tribe
[code]
Create agreement
[code]
Both nodes join the agreement in rapid succession
[code]

**Example Result:**
The dupl

[2016-10-14 20:49] IRCody opened #1286 "Flaky test in control_test.go"
This test has been failing a decent amount lately. Posting an issue so we come back to it.

[code]

[2016-10-14 21:08] IRCody commented on #1285
@jose5918: Is this related to #1285?

[2016-10-14 21:15] #1273 closed

[2016-10-15 07:43] jose5918 commented on #1285
@IRCody I'm not sure I follow. Isn't that this issue?

[2016-10-15 17:20] IRCody commented on #1285
@jose5918: Sorry I meant #1283.

[2016-10-15 17:55] jcooklin commented on #1285
@jose5918: just to clarify you see this message repeating "forever", right?

@IRCody: this doesn't seem like a dup with #1283 to me.  In #1283 it appears that the user is restarting the first node that had originally started without referring it to a node in the now formed cluster.

[2016-10-15 17:58] jcooklin commented on #1283
@ralberto in this example the first node needs to (re)start with a seed referring to **any** other node in the original cluster else it will start and essentially create a new cluster that includes only itself.

[2016-10-15 19:27] jose5918 commented on #1285
@jcooklin yes that is correct.

[2016-10-17 09:55] ralberto commented on #1283
Thanks.
Why it's not possible to specify a list of seed nodes? Being able to specify only one seed node we have a single point of failure.

[2016-10-17 22:25] IRCody opened #1289 "Deprecating GoRPC"
## TL;DR

As Snap makes the move to gRPC, we will officially consider the  Go RPC plugin libraries deprecated. All plugin authors should consider migrating to utilize the new gRPC. We currently have gRPC plugin libraries for [Go](https://github.com/intelsdi-x/snap-plugin-lib-go) and [C++](https://github.com/intelsdi-x/snap-plugin-lib-cpp).

Plugins written using Go RPC plugins libs **will continue

[2016-10-18 12:05] marcin-krolik commented on #1132
@kindermoumoute I tried to reproduce this error with various scenarious without success. Last one I tried was
- `snapd` built from `master-d9b23fa`
- `meminfo` checkout `master-edd7a87`, changed routing strategy to `plugin.ConfigRouter`, compiled
- `mock-file` and `passthru` loaded
- started task from `meminfo` examples

I got no error on task start, task is running and metrics are being gathered.

[2016-10-18 14:06] marianoguerra opened #1294 "error: snapctl requires SNAP_CONTEXT environment variable"
following the getting started guide from the readme when I try running snapctl I get that error

[code]

googling there's no information about that env variable and what value it should have

[2016-10-18 15:45] candysmurf commented on #1294
@mantri, would you please let us know which release of Snap has you used and the steps for reproducing this error?

[2016-10-18 16:35] IzabellaRaulin opened #1296 "Deprecating the JSON RPC Client"
## TL;DR:
- **JSON RPC is deprecated immediately and will be removed as part of 0.18 release**
- Only JSON RPC plugins are affected, which is no plugin listed in the plugin_catalog.
- JSON RPC plugins will no longer work and must be updated

**Please note: Removing JSON RPC does NOT impact any plugins listed in the  [PLUGIN_CATALOG.md](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CAT

[2016-10-18 17:02] marianoguerra commented on #1294
download latest release from releases page (v0.16.1-beta) unpack, run

    snapd --plugin-trust 0 --log-level 1

and try to run any command with snapctl from the getting started guide.

using ubuntu 16.04

[2016-10-18 17:39] candysmurf commented on #1294
@marianoguerra, I was not able to reproduce your issue on ubuntu14.04.  We'll see on ubuntu 16.04.

[2016-10-18 17:54] nanliu commented on #1294
Looks like ubuntu core snapd packaging added a snapctl command:
http://www.ubuntuupdates.org/package/core/xenial/universe/updates/snapd

[code]

This command does not appear to be documented, nor does it include a man page. This is unfortunately clobbering the snapctl command you downloaded.

cc: @mjbrender we may need to rename our binaries...

[2016-10-18 18:25] #1267 closed

[2016-10-18 18:53] ConnorDoyle commented on #1289
Can we be more specific? e.g. would it be removed in version 2.0?

[2016-10-18 19:19] jcooklin opened #1297 "Allows multiple seeds to be provided on startup"
Today you can provide only a single potential seed node.  It would be useful if a list of nodes could be provide such that the list will be walked until the node is successful in joining.

[2016-10-18 19:22] jcooklin commented on #1283
There's no technical reason that we couldn't enable a providing multiple seeds at startup.  I've added   https://github.com/intelsdi-x/snap/issues/1297 to capture the request.

[2016-10-18 20:13] marianoguerra commented on #1294
yep, found out the same before seeing the last comment, I never installed snapd so it seems to come by default, I had your snap after this one in the path so it was picking it up instead of yours.

at least a note in the getting started section about setting path correctly and being careful with copying this binaries in /usr/bin

[2016-10-18 20:16] lynxbat commented on #1294
Reopening because your comment on catching this in getting started section is valid. We also like hints in the error message also which would help here. We will close this when we resolve both. Thanks for catching this.

[2016-10-18 22:33] astub opened #1298 "Add Tribe member's address to tags"
Add ability to see Tribe member's address in REST API.

[code]

[2016-10-18 22:35] bjray commented on #1289
@ConnorDoyle, we are still working out the targeted scope for 2.0, but in all likelihood it would be delivered with that release, particularly given that it represents a change to our contract.

[2016-10-18 22:56] bjray commented on #1267
After further discussions, we decided to keep the structure as is.

[2016-10-19 02:43] evilezh opened #1300 "Too verbose, too much unnecessary data, some intenal logic re-work"
Each metric today have a bunch of parameters which repeats in each metric.
timestamp, tags, version, last_advertised ...  unit in most cases is useless as you know what you are processing and how data is represented and unit seems always is the same if it is B .. then B .. it is not changing to KB MB or anything else. Also many plugins even do not set that field at all.

Another thing is about nam

[2016-10-19 03:36] kindermoumoute commented on #1300
timestamp, tags, version, last_advertised ... unit in most cases is useless as you know what you are processing and how data is represented and unit seems always is the same if it is B .. then B .. it is not changing to KB MB or anything else. Also many plugins even do not set that field at all.

Are you referring to this [metric structure](https://github.com/intelsdi-x/snap-plugin-lib-go/blob/mas

[2016-10-19 14:50] nanliu commented on #1155
What about https://github.com/facebook/mention-bot?

[2016-10-19 15:04] jcooklin commented on #1300
You get messages 50+kb (in case of json).. every 10 seconds from every single server and most of data is just repeating timestamps, tags etc.

[2016-10-19 15:14] jcooklin commented on #1300
You get messages 50+kb (in case of json).. every 10 seconds from every single server and most of data is just repeating timestamps, tags etc.

The publisher can choose, as appropriate, how and what to publish.  So depending on what you are publishing to it might make sense to filter static or unchanging data.

I'd like to hear more about your suggestions.  Specifically I'm curious to understand ho

[2016-10-19 16:34] IRCody commented on #1298
Closing this as #1299 was merged.

[2016-10-19 16:34] #1298 closed

[2016-10-20 01:18] evilezh commented on #1300
Good :)
I'll try to keep as close to existing idea as possible ... but it might be useful to change it in core.
I havn't yet familiarized myself with code, so some of things might be already in way I'm describing. I just want to put my version.

Let's assume plugin have id defined like:
/vendor/name1/name2/version
or maybe just /name/version e.g. /snap-collector-cpu/8
So main rule UNIQUE ID + VERS

[2016-10-20 02:20] kindermoumoute commented on #1300
int64 Version = 2; // for what .. we know version of plugin already ???
ConfigMap Config = 3; // it is enough at top level to bypass any config
Time LastAdvertisedTime = 4; // ??
map Tags = 5; // top level enough
Time Timestamp = 6; // top level enough
string Unit = 7; // we can read plugin documentation and we know what units it will send
string Description = 8; // who cares ? read plugin documen

[2016-10-20 03:50] evilezh commented on #1300
Let's see ..
I guess most of collectors do not use those features. I understand - you want bypass parameters to metric and for that purpose use config.
Two types of metrics:
- simple ... when you have `"metric":value`
- complex ... when you have `"metric":{ "value": value, "timestamp":123123123,"tags":[],"config":"google.com"}`
I think - "simple" we will match most of plugins.

As for timestamp :)

[2016-10-20 04:20] IRCody commented on #1300
@evilezh: I tried to address your feedback below. If I missed something let me know.

[code]
Is it not possible to make these different for each metric? I guess you could argue that version would be for all metrics in a plugin (but I don't know that are current implementation requires that).

[code]
The unit could change and it's not hard imagine a processor/publisher that uses unit in a way that

[2016-10-20 13:23] evilezh commented on #1300
Of course it is and probably it would be also possible to enrich with even more data every single unit, but who really needs it ? Ok, even it is required - can't that all be optional ?

Units:
I would say - it is rather normal use case and requirement send data in same units. Otherwise you can't display that data without normalization of inputs (which is forced extra processing).

I do not know -

[2016-10-20 14:47] jtlisi commented on #1280
Currently, if I load a task through a tribe agreement, the tags will be identical across every node in that agreement. This would allow for two snap agents to have unique tasks while sharing the same task workflow.

[2016-10-20 14:53] lynxbat commented on #1280
I just want to agree to this because of `"krabby":"patty"`...

[2016-10-20 17:57] evilezh commented on #1300
p.s. ignore my last comment mostly.
I need to spend some time to go through code. There is tree :) and just need to think about few adjustments maybe.

[2016-10-20 18:24] IRCody commented on #1280
@jtlisi: Thanks for expanding on it, makes sense to me now.

[2016-10-20 19:42] kindermoumoute commented on #1132
@marcin-krolik I can't reproduce it too. Maybe I was using a version of Snap older than when you added this feature in #850.

[2016-10-20 19:42] #1132 closed

[2016-10-21 05:35] lynxbat commented on #1300
I believe your use case influences your perception here. There is absolutely nothing wrong with that. But, some of your proposed changes to abstractions may introduce a tradeoff for other use cases.

You perceive the data points a repetition because your implementation is sophisticated enough to not need these data points per metric. Also, it is likely the subset of metrics you are collecting are

[2016-10-22 01:43] kindermoumoute opened #1305 "Add an API endpoint to easily profile snapd"
As a Snap contributor, I want to be able to easily use profiling tools, so I can generate clear views of the resources used by snapd, during a customized period.

[2016-10-22 08:27] kindermoumoute commented on #1305
More things we could look into for #1306:
- [ ] Update documentation about using go-torch in a container.
- [ ] Fix 404 when using a web browser.
- [ ] Profile plugin binary.

[2016-10-27 06:49] doublechiang opened #1312 "problem when load node-manager plugin on Haswell Ubuntu 14.04"
Having problem tried to install plugin-node-manager on Intel Haswell powered server.
I can install the cpu/disk/meminfo plugin and collect information, however, when I tried to install node-manger plugin, it will fail with
`Error loading plugin:
unexpected EOF`

The platform is Ubuntu 14.04.
I had followed the README, installed the ipmitool packages.
There is a problem, in my system there is no im

[2016-10-27 08:44] marcin-krolik commented on #1133
@skonefal @IRCody This issue no longer exists due to fix introduced in `d969354`. Retested manually on current master.

[2016-10-27 08:44] #1133 closed

[2016-10-27 12:34] katarzyna-z commented on #1134
Golang JSON encoder is able to deal with time.Time. time.Time has [UnmarshaJSON](https://golang.org/pkg/time/#Time.UnmarshalJSON) method but the time must be given as a  quoted string in RFC 3339 format.

The issue was mainly caused by missing tags for JSON parser in this struct:
[code]

[2016-10-28 00:09] candysmurf commented on #1312
@doublechiang, let me see if I can get utuntu 14.04 up and try it out.

[2016-10-29 01:01] candysmurf commented on #1312
@doublechiang, I tried node-manager plugin on Ubuntu 14.04. Unfortunately, I don't have IPMI modules, so I got a different error message. I opened an issue for it. Please refer to https://github.com/intelsdi-x/snap-plugin-collector-node-manager/issues/27

This issue may not cause by Snap. We can follow up on this later.

[2016-10-31 11:05] PatrykMatyjasek commented on #1312
Hi @doublechiang
I've tested it at my ubuntu 14.04. Plugin is able to load even without modules loaded. But it returns empty list of metrics. Please try to run it with this config:
[code]
If it won't help please report an issue at node-manager plugin repo

[2016-10-31 13:58] #1282 closed

[2016-10-31 20:52] mjbrender commented on #1216
With @nanliu's updates, the Plugin Catalog has tested builds only. Thanks for catching this @woodsaj - let us know if you have another issue. Closing this ticket.

[2016-10-31 20:52] #1216 closed

[2016-10-31 21:04] mjbrender opened #1322 "Defining Plugin Status"
Not all plugins in the Plugin Catalog are as mature as others. Based on user discussion, I want to offer 3 status indicators that can be indicated in each plugin repository.

**Updated Goal (1/17/17)** - provide support levels for plugins based on their maturity.

---
~It should be clear if a plugin is known to run, known to *not* run or is somewhere in between.~

~Here they are:~
~**Stable** - Th

[2016-10-31 21:17] thomastaylor312 commented on #1322
`Not Working` seems a little misleading. Trying to think of a better option

[2016-10-31 21:17] IRCody commented on #1322
`Unstable`?

[2016-10-31 21:20] candysmurf commented on #1322
Shouldn't all published plugins run?:-) Highlight on the platform dependencies?

[2016-10-31 21:22] jackson-intel commented on #985
We're working on deploying some Intel collectors with SNAP and would like a feature like this one.

[2016-10-31 21:23] thomastaylor312 commented on #1322
I like @IRCody's. `Stale` could also be an option, but I am not sure if that has a more negative connotation

[2016-10-31 21:49] mjbrender commented on #1322
I originally used `Broken`, to clarify the assumption that it once worked and is not now running in an e2e test (whether manual or automated). @candysmurf the catalog goal is to share all plugins that can be used or contributed to. Sometimes that means it won't work, especially as dependencies change.

[2016-11-01 07:29] doublechiang commented on #1312
Thanks for the reply.
My config file /etc/snap/snapd.conf is as following,
Thanks for the information that the plugin can be loaded without ilmi module loaded.

From the error message I assume it's related to the node-manager-plugin itself since I can install other plugin and running without problem.

`
{
    "log_level": 1,
    "control": {
        "cache_expiration": "1s",
        "plugin_trust_

[2016-11-01 07:42] doublechiang commented on #1312
@PatrykMatyjasek
Thanks for the help, after I changed to channel and slave value back to default "0x00". the plugin can be loaded.

[2016-11-01 07:42] #1312 closed

[2016-11-01 08:56] sandlbn commented on #1238
@IRCody sorry for a delay, but I just seen your message. Yes, I'm looking to use one processor in deployment, this could be helpful for people who want to run some kind on analytics and parse stream of data on the fly. MaxMsgSize is coming from https://github.com/grpc/grpc-go/blob/master/server.go#L110 .

[2016-11-01 16:23] candysmurf commented on #1322
refactoring or upgrading

[2016-11-01 16:38] IRCody commented on #1238
@sandlbn: That's ok. I created [this](https://github.com/intelsdi-x/snap-plugin-lib-go/issues/43) issue on the plugin-lib to expose those options to the plugin author.

It seems like if you're using existing plugins though you'd almost want to be able to expose it to the task creator? I'm not sure of a good way to do that. What do you think?

[2016-11-01 20:56] thomastaylor312 commented on #1322
@mjbrender I think broken would be good because like you said, we need to have something that indicates that it did work at some point but it might not now

[2016-11-01 21:22] thomastaylor312 opened #1324 "Open connections from snap are not closed"
When using tribe mode with multiple nodes, the number of connections increases until we hit the open file handle limit. Something appears to be opening a connection while in tribe mode and not closing it.

[2016-11-01 21:26] thomastaylor312 opened #1325 "Unclosed http connections on one node in tribe"
This is an offshoot of #1324. When using a fix from @IRCody for #1324, there was still a single node in a tribe cluster that has an increasing number of open connections until it hits the file handle limit. However, after discussion with @IRCody, this is possibly caused by a different code path. These connections accrue over the course of a few days, so this bug is harder to duplicate

[2016-11-01 21:27] thomastaylor312 commented on #1325
I will get logs as soon as I have more available.

[2016-11-02 14:01] marcin-krolik commented on #960
Task interval is not used as timeout for CollectMetrics call. `DefaultClientTimeout` which is currently hard coded to 10s, timeouts client connection. Task deadline and task interval do not interfere, since deadline means other jobs (process, publish) will not be executed, while intervals means how often task will spin.

[2016-11-02 14:01] #960 closed

[2016-11-02 15:13] katarzyna-z opened #1328 "Missing information about time/data format for schedule parameters"
Schedule parameters given as snapctl options start-date, start-time, stop-date, stop-time must be in specific format, see exemplary error:
[code]
It will be good to have this information at least in the help for snapctl, see current help for these options:
[code]
Currently formats for these parameters are set in `cmd/snapctl/task.go` through following variables:
[code]

[2016-11-02 19:05] #1134 closed

[2016-11-02 20:35] candysmurf commented on #1300
@evilezh, the beauty of supporting both static and dynamic metrics is that you can query lots metrics by using dynamic metric definition and query as little as a few metrics by using static metrics. Of course, some measurements only have the static metrics.

If your issue is to identify your target metrics among all of the received metrics I have a sample implementation to show your around.

Do yo

[2016-11-02 21:16] jcooklin commented on #1300
Closing this issue as it has been moved to [slack](https://intelsdi-x.herokuapp.com/).

[2016-11-02 21:16] #1300 closed

[2016-11-03 19:49] bjray commented on #1322
For "Not Working", could we use something related to "Broken - Help Wanted"?

[2016-11-04 18:10] #1286 closed

[2016-11-04 18:42] woodsaj opened #1332 "snap errors and exists if there is a symlink to a directory in the auto_discover_path"
If there is a symLink in the auto_discovery_path snapd doesn't start.

[code]

[2016-11-04 19:16] mjbrender commented on #1322
"Broken" is the clear winner with an emphasis on the help others can offer up. Thanks everyone who hopped in 👍

[2016-11-04 22:05] #1068 closed

[2016-11-04 23:26] lmroz commented on #680
@geauxvirtual I've just opened this file: https://github.com/intelsdi-x/snap/blob/master/control/strategy/config_based.go#L104 and it looks like config based/stricky routing strategies are using per task/config cache, but the plugin you tested is not specifying routing strategy.
If it's nothing wrong with the implementation (besides that later one is copy&paste of former) after updating `plugin.Me

[2016-11-04 23:38] kindermoumoute opened #1333 "Add config per namespace for processors and publishers"
The way we define and use config is not consistent between collector config, and processor/publisher config.

## The current state

### Collector
Because we give a list of namespace, we define config per namespace:
[code]
In `CollectMetrics(mts []plugin.Metric)`, we don't receive global config because those are defined in each metric config (e.g. `mts[0].Config`).

### Processor/publisher
In the o

[2016-11-06 23:03] IzabellaRaulin commented on #1261
Resolved by https://github.com/intelsdi-x/snap/pull/1311

[2016-11-06 23:03] #1261 closed

[2016-11-07 09:20] #1296 closed

[2016-11-07 11:54] rkd286 opened #1335 "snapd daemon not running"
I am unable to run the snapd daemon. Tried several times.
![snapd](https://cloud.githubusercontent.com/assets/22471467/20056991/fdc0c7d8-a50e-11e6-8df5-a87a0ff5f3e6.png)

[2016-11-07 16:38] geauxvirtual commented on #1335
It does look like snapd is running as the prompt is not returning. The default log level for snapd is `warning` or `3`, so only warning messages would be printed to stdout. You can try running snapd with `snapd -t 0 -l 1` for debug logging or `snapd -t 0 -l 2` for info logging and more log messages should be printed to stdout.

[2016-11-07 17:35] nanliu commented on #1335
Another possibility, if you installed snap as a package, the default log location is `/var/log/snap/snapd.log`, so there will be no output to stdout. Try `snapd -t 0 -l 1 -o ''` to redirect logs to stdout, or check the log file for output.

[2016-11-07 23:47] IRCody commented on #1333
The example behavior in the proposal can be accomplished today by having two tasks that split the metrics into the groupings you want differing behavior for.

I think both of these are addressed because of the core difference between how collection steps and processor/publisher steps are handled by Snap. The config differences are an implication of treating collection as being done per metric and

[2016-11-08 01:14] kindermoumoute commented on #1333
If we want to have multivariate statistics, this would allow to set which namespaces act together. And we could still keep the idea of one buffer per namespace.

BTW, I don't see other use case (maybe making user experience easier?). And this may be something we don't want. In that case:
- Should we remove creating rule per namespace in processor & publisher plugins?
- Should we keep config per me

[2016-11-08 18:19] mjbrender commented on #1335
@rkd286 yeah, +1 to @nanliu's point. How did you install Snap? If you did as a package, output will be in `/var/log/snap/snapd.log` and you'd want to interact with Snap using the service commands (like `systemctl start snap-telemetry` for 16.04) [explored here](https://github.com/intelsdi-x/snap#running-snap).

Let me know if that helps! Thanks for jumping in and using Snap - we're excited here.

[2016-11-08 19:03] jackson-intel commented on #1280
We are working on deploying some Intel collectors with SNAP. We would like the ability to dynamically define paths in config and setfiles using something like a $SNAPHOME environment variable. Perhaps this could work for us.

[2016-11-09 22:16] #1305 closed

[2016-11-10 10:49] dulek opened #1341 "Utilizing notifications for OpenStack plugins"
(not a Snap expert here)

Currently OpenStack plugins are polling OpenStack APIs to get required metrics. Due to various limitations of APIs of different services, this may be critically inefficient and is putting unnecessary load on the API services. Instead of that strategy, the plugins should listen to notifications issued by OpenStack services and calculate metrics based on that. For examples

[2016-11-10 12:18] akantak opened #1342 "Snap Jolokia collector plugin"
Hey,
I would like to use Snap but I would need to have Jolokia collector plugin for my Java/JMX applications.

Also it would be useful for Scala applications when using [library for Jolokia for SBT](https://github.com/jtescher/sbt-jolokia)

Thanks!

[2016-11-10 18:56] thomastaylor312 commented on #1325
Looks like after some more testing, we cannot replicate this issue. So I am going to close it

[2016-11-10 18:56] #1325 closed

[2016-11-11 17:45] nanliu commented on #687
We released snap containers on docker hub (includes alpine) that should address this issue:
https://hub.docker.com/r/intelsdi/snap/

If you have any issues with those containers, please file them in this repository:
https://github.com/intelsdi-x/snap-docker

[2016-11-11 17:45] #687 closed

[2016-11-11 17:55] mjbrender opened #1344 "Snap binary names conflict with Ubuntu Snap"
This one is tricky, so I'm going to be thorough in the explanation.

## Problem
Exploration of the root cause of #1294 by @nanliu has found a noticeable conflict in naming conventions between the Snap Telemetry project and [Ubuntu Snap](http://snapcraft.io/).

* Current naming of snapd and snapctl conflicts with snap/snapd package shipped by default starting Ubuntu 16.04 and snapctl starting 16.04

[2016-11-11 17:57] mjbrender commented on #1344
We can focus on calling our project **Snap Telemetry** since its more descriptive and still vendor neutral. The binary names should reflect that. Talking to other maintainers, we came up with `snaptel` as a solid option.

So:
  * `snapd` -> `snapteld`
  * `snapctl` -> `snaptel`

Let's do some due diligence to make sure this looks good and won't conflict again in the future.

[2016-11-11 18:38] kindermoumoute commented on #1116
I close that because of https://github.com/intelsdi-x/snap/pull/1252

[2016-11-11 18:38] #1116 closed

[2016-11-11 18:52] mjbrender commented on #1294
Issue is documented in #1284 - thanks again for bringing this up @marianoguerra. Also, so good to see you in here!

#1344 will handle the resulting binary names.

[2016-11-11 18:52] #1294 closed

[2016-11-11 19:06] #634 closed

[2016-11-11 19:12] kindermoumoute commented on #660
Close this as https://github.com/intelsdi-x/snap/pull/1343 is merged.

[2016-11-11 19:12] #660 closed

[2016-11-11 19:19] #730 closed

[2016-11-11 19:44] kindermoumoute commented on #1001
Fixed by https://github.com/intelsdi-x/snap/pull/1252

[2016-11-11 19:44] #1001 closed

[2016-11-11 19:46] nanliu commented on #1344
Some additional context regarding snap packaging changes.

In snap 0.18.0 we migrated the snapd/snapctl binary to `/usr/local/bin/snapd/snapctl` so it's no longer in conflict with Ubuntu's packages. If this proposal is accepted, we plan to update the snap packages and provide some symlinks to help the migration:

[code]

The https://github.com/intelsdi-x/snap-docker repo will be updated with the s

[2016-11-11 20:02] kindermoumoute commented on #661
Most of that proposal is solved with [pluginsync](https://github.com/intelsdi-x/snap-pluginsync), there is still some discussion about packaging on https://github.com/intelsdi-x/snap/issues/1276

[2016-11-11 20:02] #661 closed

[2016-11-13 22:54] jcooklin opened #1346 "Support multiple commands when packaging a plugin"
Plugins that don't compile down to a static binary may need to be started by launching them through their respective runtimes.  Today the command to be executed is described with a string instead of slice.

Example:
 - `java -jar snap-plugin-collector-xyz.jar <args>`
- `python snap-plugin-collector-xyz.py <args>`

[2016-11-14 13:35] andrzej-k commented on #1344
Just curious, what were the alternatives to "snaptel"? Starting flame here probably - but I'd like "snapmetrics" better for package and tool name :)

[2016-11-14 16:36] mjbrender commented on #1344
It's a fair question @andrzej-k! The alternatives focused on `snap` +/- some portion of other parts. "Metrics" is not a phrase we want to stick to since Snap's architecture can (and may) be applied to values not beyond metrics.

Naming is never easy, but leaning toward "Telemetry" as the descriptor feels right for the project since it leans to more consistent naming with the website and packaging.

[2016-11-14 16:41] mjbrender commented on #1342
Great call @akantak! I was talking with @jtlisi about his use of Jolokia and that being a great target for collection. A few questions as someone who's never used it:

* Is there a set of metrics that are more important than others for monitoring Java/JMX apps?
* Is there a set of metrics that we should ignore/not collect?
* Is there a good example application you'd recommend spinning up to test t

[2016-11-14 16:47] mjbrender commented on #1341
Great feedback @dulek. If I'm reading this correctly (I'm not a Nova user), we would need to consume events as they occur, which would require an event endpoint we don't yet have in Snap. The previous RFC is #136 but we've talked about redesigning it. I'll mark this as `on-hold` since it's blocked without this additional functionality.

[2016-11-14 17:07] dulek commented on #1341
@mjbrender: That's right, Nova (and other OpenStack services) is emitting notifications (i.e. VM lifecycle events) through AMQP. I'm not saying that everything Snap collects is emitted as notification, but it would be great to take a look and see if some stuff couldn't be moved to push model. For example being able to correctly modify current VMs metrics based on received notifications should sign

[2016-11-14 17:14] lynxbat commented on #1341
And AMQP collector mapped to an OSLO processor would work great here /cc @jcooklin

[2016-11-14 17:15] mjbrender commented on #1341
@dulek I had a good conversation with @jcooklin who said we could consider buffering events in the current collector model, assuming we think through persisting the queue between pushes to the endpoint. I don't love that idea but it could work. Sounds like @lynxbat has an idea too :). Thanks again for opening this one - we'll keep you posted 👌

[2016-11-14 17:17] jcooklin commented on #1341
Removing the 'on-hold' label since this can be done without requiring snap workflows to be triggered by events.  In other words, it can be delivered with an interval schedule.

[2016-11-14 17:48] jcooklin commented on #965
The preferred RPC mechanism between Snap and it's plugins is now gRPC.

The plugin libs should be used to create plugins.  The plugin libs we have so far include:
- https://github.com/intelsdi-x/snap-plugin-lib-go
- https://github.com/intelsdi-x/snap-plugin-lib-cpp
- https://github.com/intelsdi-x/snap-plugin-lib-py

(Closed by https://github.com/intelsdi-x/snap/pull/1012 )

[2016-11-14 17:48] #965 closed

[2016-11-14 23:26] khrisrichardson commented on #1342
@mjbrender The table on page 5 of http://web.swcdn.net/creative/pdf/techtips/1309_SAM_Best_Practices_For_Monitoring_JMX.pdf doesn't look like an unreasonable starting point.

Latency, throughput, and queue length tend to suffice, with error rates thrown in for good measure.

Here's an implementation to cross-reference: https://github.com/influxdata/telegraf/tree/master/plugins/inputs/jolokia

Also

[2016-11-15 01:07] brharrington commented on #1344
No strong opinions, I'll just note that my initial reaction to "tel" was telephony rather than telemetry. If I saw the name without other context, then I would likely assume it was something like the [tel](http://www.unix.com/man-page/plan9/1/tel/) command or maybe something voip related.

[2016-11-15 09:58] marcintao commented on #1344
How about **snaptmd**? **snaptmctl**?
This is still close enough to "snap" and close to telemetry or monitoring (snap**tm**d).

[2016-11-15 17:25] mjbrender commented on #1249
Hey @byronschaller! Have you had a chance to design anything out for this one? Keep me posted 🏹

[2016-11-15 19:49] mjbrender commented on #1344
These are always hard problems. Let's work through options:

`snaptel`/`snapteld` - definitely fair to think it relates to `tel` @brharrington. I'm glad you brought it up! I can't think of a way to get around it without getting over 10 characters. If you are aware of both projects, would it be confusing to have both in the box?

`snaptele`/`snapteled` - same challenge as above but with a British a

[2016-11-15 19:51] lynxbat commented on #1344
Technically Intel is In-Tel. So kind of like Snap-Tel.

Not really why, but funny coincidence.

[2016-11-15 19:55] mjbrender commented on #1344
^ That was a bonus part of `snaptel` 😄 . It's worth saying as well: we will NOT name the binary with Intel in the name (like `intelsnap`) since the project is open source and community-oriented.

[2016-11-15 20:38] evilezh opened #1351 "Metric catalogs, dynamic per task configurations"
I was trying to figure out - how to configure collector plugins per task. And point is - it is not possible within current design.
Many plugins (most ?), read their possible metrics, when called GetMetricTypes, - **read dynamically** (scan something). That means - you must have configuration before you load plugin. Only way to do so - is to put config in GLOBAL configuration.
Which means:
- plugin

[2016-11-15 21:27] kindermoumoute commented on #1351
This is how you pass a configuration to a collector when you start a task:
[code]

Is it what you are trying to do?

[2016-11-15 21:40] evilezh commented on #1351
Not exactly. Plugins needs address/use/password before plugin manager loads in order to query available metrics names.

[2016-11-15 22:44] kindermoumoute commented on #1351
After talking with @evilezh on Slack, I think we can sum up 2 proposals from this issue:

1. Store **plugin configuration inside the plugin** instead of Snap itself, so we don't pass it every time through gRPC. We could imagine passing the config when we start the plugin.

2. A lot of collectors require a config in order to update their metric catalog. In order to improve user experience, we could

[2016-11-15 23:45] szelmo commented on #1344
Don't want to multiply number of options here - but today two other has came to my mind:

- snapgo - with the powerfull snapgod for deamon ;-)
- snapup - emphasizing ability to collect metrucs quickly and eagerly

Just a two cents before end of the day :)

[2016-11-15 23:52] mjbrender commented on #1155
Genius @nanliu. I love what mention-bot should do for us for reviews.

[2016-11-16 00:01] #1324 closed

[2016-11-16 07:34] andrzej-k commented on #1344
@mjbrender Thank you for explanation. I'm fine with **snaptel** 👍

[2016-11-16 11:36] andrzej-k commented on #1351
Ad 1.
Some time ago we had a discussion how to deliver configuration to plugin, for example in cases when returning metric catalog requires some type of discovery (which in turn requires authentication for example). Today we have two ways of delivering config to plugin: a) global config and b) plugin config. The problem with plugin config is that it's a part of task manifest, so it cannot be used

[2016-11-16 15:49] jtlisi commented on #1250
What is the status on this? I noticed uInt64 metrics are causing errors when run in tribe mode. If this isn't currently being worked on I'd love to put in a PR.

[2016-11-16 17:22] IRCody commented on #1250
@jtlisi: This fix is in progress in #1349.

[2016-11-16 17:50] IRCody commented on #1250
@jtlisi: Can you expand more on what you meant by causing errors specifically in tribe mode? gRPC isn't specific to tribe and I'm not aware of a scenario where you would get that error in tribe mode but not get it outside of tribe mode.

[2016-11-16 18:06] jtlisi commented on #1250
@IRCody I hadn't investigated the issue thoroughly enough. Tribe had nothing to do with the issue. Glad to hear there is a PR on deck.

[2016-11-17 00:18] #993 closed

[2016-11-17 00:41] mjbrender commented on #1322
Opening this back up so I can close it with a PR to PLUGIN_AUTHORING.md.

[2016-11-17 00:42] mjbrender commented on #1282
You're awesome @djbb7 👏

[2016-11-17 10:28] evilezh commented on #1351
Here is main topics:
1. You have n-plugins available on system (binaries).
2. You want to load binaries with specific configuration.
3. **TASK** defines what you want to do.
4. Publisher plugins already have nice way to define configuration.
5. You might want to load same plugin, but with different configuration. In such case metrics might be slightly different.
6. available metrics might change o

[2016-11-17 10:35] #1128 closed

[2016-11-17 10:55] krzysztofx commented on #1246
Hi
@obourdon @IRCody
Do you know if there's any chance for exposing that parameter in near future ?

Thanks
Krzysztof

[2016-11-17 17:51] kjlyon opened #1358 "Add Plugin Maintainer List to MAINTAINERS.md"
Add Plugin Maintainer List to MAINTAINERS.md either as a list of plugins and their maintainers or add a link to the plugin catalog where we add the plugins core contributor in the maintainers column.

Add Responsibilities of a Plugin Maintainer - What are those responsibilities?

[2016-11-17 21:19] bjray commented on #1246
@krzysztofx - we are a bit short staffed over the holidays, and our next 2 weeks are already planned.  We will try to pull it in before the end of the year.

[2016-11-18 08:27] IRCody opened #1363 "Flaky test in scheduler/workflow_test.go"
* /home/travis/gopath/src/github.com/intelsdi-x/snap/scheduler/workflow_test.go
  Line 421:
  Expected: '12'
  Actual:   '9'
  (Should be equal)

This test is flaky.

[2016-11-18 14:52] #1346 closed

[2016-11-18 22:37] mattyjones commented on #1344
Not to thread jack but @mjbrender I am considering bringing this to Debian as well. I would like first class support of it within Debian. In doing this I would like to at least touch base with you about the naming so that is stays consistent. I haven't devoted much time to this as of yet but over the holiday break I was hoping to get something stable into `unstable` at the least.

[2016-11-18 22:59] mjbrender commented on #1344
Glad to have your input @mattyjones - I didn't see any conflicts within the Debian ecosystem when I searched, but appreciate you checking as well. Curious to hear more about your goals. `matthew` dot `brender` at intel. 👍

[2016-11-18 23:57] #588 closed

[2016-11-19 03:48] rji opened #1364 "[question] What are the currently-supported Snap releases?"
I apologize if this question has been asked before, but I couldn't find it readily accessible in the docs or the readme. Is there a list or policy on how long a particular Snap version is supported? Specifically, as a plugin maintainer, I'm curious if it's safe to assume that I should be testing with `snap-latest` and `snap-latest - 1`.

Follow-up question: it appears that `-beta` has been dropped

[2016-11-19 03:57] kindermoumoute commented on #1364
Everything <1.0.0 is still beta.

[2016-11-19 03:58] kindermoumoute commented on #1364
Not AFAIK.

[2016-11-19 05:25] mattyjones commented on #1344
The package name `snap` conflicts with:

Package: snap
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Description-en: location of genes from DNA sequence with hidden markov model
 SNAP is a general purpose gene finding program suitable for both eukaryotic
 and prokaryotic genomes. SNAP is an acroynm for Semi-HMM-based Nucleic Acid
 Parser.

With the above I am

[2016-11-19 06:39] mattyjones commented on #1344
Debian ITP  (Intent To Package)
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=844786

[2016-11-19 06:50] kindermoumoute commented on #1344
@mattyjones, to sum up the conversation, the **package name** will be**`snap-telemetry`**, with 2 binaries: **`snaptel`** and **`snapteld`**. Do you see any conflict with that solution?

[2016-11-19 16:04] jcooklin commented on #1364
The API isn't changing between now and 1.0 which will land before the end
of the year.
On Fri, Nov 18, 2016 at 7:58 PM Olivier Cano <notifications@github.com>
wrote:

[2016-11-19 18:41] mattyjones commented on #1344
This is the binary for the conflicting package as best I can tell so the above names should be fine.
https://anonscm.debian.org/viewvc/debian-med/trunk/packages/snap/trunk/debian/bin/

I have officially changed the package name in Debian to `snap-telemetry`, the above like is still valid and can be used for tracking. If anything additional comes up in the process I will open a dedicated issue for

[2016-11-20 23:42] rji commented on #1364
Thanks!

[2016-11-20 23:42] #1364 closed

[2016-11-21 03:58] elianka commented on #1196
+1

[2016-11-21 08:45] hostingwalk opened #1366 "Is it normal that after restart tasks dissapear ?"
service snap-telemetry restart

and after that:
[root@server1 ~]# snapctl task list
No task found. Have you created a task?

[2016-11-21 09:25] kindermoumoute commented on #1366
Yes, stoping the daemon stop every task.

[2016-11-21 18:22] #1344 closed

[2016-11-21 18:31] mjbrender commented on #1366
+1 to what @kindermoumoute said @hostingwalk. If you would like to persist your tasks between restart, you will need to save the Task Manifest and load at start. We have discussed an auto-load folder similar to how we automatically load plugins in `opt/snap/plugins` ([reference](https://github.com/intelsdi-x/snap/blob/master/docs/SNAPTELD_CONFIGURATION.md#snapteld-control-configurations)), but I d

[2016-11-21 19:27] mjbrender commented on #1366
You know what, I completely forgot you can save Task Manifests in the same `auto_discover_path` location set in the configuration file. You can read through [details here](https://github.com/intelsdi-x/snap/blob/master/docs/SNAPTELD_CONFIGURATION.md#restarting-snapteld-to-pick-up-configuration-changes).

[2016-11-21 23:31] thomastaylor312 opened #1368 "Missing agreement returns 400 instead of 404"
Instead of returning a 404 response code when an agreement does not exist, the [API returns](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/tribe.go#L59) a 400 response. This appears to be the case with joining or deleting an agreement as well.

[2016-11-21 23:37] thomastaylor312 opened #1369 "Task names are not copied across with tribe"
When a task is part of an agreement, the ID of the task is the same on every machine, however, if the task has a name on the machine where it was created, it is not shared with other members of the agreement. It would be useful to have the name (or another field if necessary) sync across tasks for human consumption and for easier use in monitoring tasks

[2016-11-22 00:37] thomastaylor312 opened #1370 ""Could not select a plugin" errors when plugin does exist"
When using the [Docker](https://github.com/intelsdi-x/snap-plugin-collector-docker) and [Heapster](https://github.com/intelsdi-x/kubesnap-plugin-publisher-heapster) with Snap on Kubernetes, the majority of nodes end up with disabled tasks after a few hundred runs or less. A few still run even though they have had plenty of failures (in our case, 1/6 nodes). All of them failed with a "could not sel

[2016-11-22 00:38] thomastaylor312 commented on #1370
I am working on getting logs for this, but Kubernetes seems to truncate logs after a certain length. I'll upload them when I have them.

[2016-11-22 17:15] kindermoumoute commented on #1370
Can you display `snapctl plugin list --running`? To see if both plugins hit the same way.

[2016-11-22 18:24] thomastaylor312 commented on #1370
@kindermoumoute The other task finally went to disabled. I restarted it and am watching it. I'll send the output of `snapctl plugin list --running` when it starts having issues

[2016-11-22 19:24] thomastaylor312 commented on #1370
So far it looks like the hit counts are the same
[code]

The only other thing I have noticed is that some of the nodes that had a task in a disabled state no longer have any tasks listed. I checked and nothing should have removed those tasks, but it looks like from the logs that tribe still things the task should be there:
[code]
If you think this ☝️  is a separate problem, let me know and I can o

[2016-11-22 19:26] thomastaylor312 opened #1372 "Restarting a disabled task in tribe doesn't restart on other nodes"
When running in tribe mode, if a task is disabled because of a failure across some of the nodes you cannot restart that task on a node and have that `enable` and `start` behavior propagate across the cluster. What is the expected behavior supposed to be?

[2016-11-22 19:33] kindermoumoute commented on #1372
From @IRCody

I would expect the start task to be transmitted between but not the re-enable

[2016-11-22 19:41] IRCody commented on #1372
To expand on that, I was looking at [this](https://github.com/intelsdi-x/snap/blob/master/mgmt/tribe/tribe.go#L308-L430) code that doesn't seem to be handling the enable event.

It seems like it should propagate the enable though since the goal is to keep the tribe member state in sync.

[2016-11-22 21:39] thomastaylor312 commented on #1370
@kindermoumoute Ok, started seeing failures on one. Looks like the docker collector finally stopped and only the publisher was showing up for about a minute:
[code]

From the looks of the logs, it looks like the docker collector died and it didn't spin back up (removed some logs for readability):
[code]

[2016-11-23 13:41] andrzej-k commented on #1370
@thomastaylor312 Regarding your issues with using docker collector and Heapster publisher plugins, I'd suggest to use recently open sourced [Snap Heapster Publisher](https://github.com/intelsdi-x/snap-plugin-publisher-heapster). It is updated version of kubesnap Heapster publisher, which will be deprecated soon.
Additionally when running Snap on Kubernetes, be sure to run it **Guaranteed** QoS cla

[2016-11-23 18:11] thomastaylor312 commented on #1370
@andrzej-k: I think we are using guaranteed, so let me give the new heapster publisher a try

[2016-11-23 18:37] kjlyon opened #1381 "Update Getting Started Video found in BUILD_AND_TEST.md"
The Getting Started video found [here](https://github.com/intelsdi-x/snap/blob/master/docs/BUILD_AND_TEST.md#getting-started) needs to be updated with the following suggested changes:

- Update `snapd` to be `snapteld` and `snapctl` to be `snaptel`
- Update necessary Go version: Should be Go 1.7.x or later
- Do we still want to run `make all` or should it just be `make` ?
- The gitter link is a de

[2016-11-23 19:22] kjlyon opened #1383 "Update acbuild gif in PLUGIN_PACKAGING.md"
Gif needs commands updated to snaptel and snapteld.

Temporarily removed for 1.0 release.

![acbuild](http://i.giphy.com/3oz8xu8AXyPDNR9sL6.gif)

[2016-11-23 19:40] kindermoumoute commented on #1381
Or `make snap`.

Is there a way to add annotation on the video as a temporary fix for that? @sarahjhh

[2016-11-23 22:26] kjlyon opened #1384 "Update tribe gifs in TRIBE.md"
Update to snaptel and snapteld in the following gifs.

---

*Starting a 4 node cluster and listing members*
![tribe-start-list-members](http://i.giphy.com/xTk9ZZFdTeIFBFZgPu.gif)

*Note: Once the cluster is started subsequent new nodes can choose to establish
membership through **any** node as there is no "master".*

*Creating an agreement and joining members to it*
![tribe-create-join-agreement](

[2016-11-24 08:12] lmroz commented on #1363
The bug probably caused by canceled top level processor job. They can go in parallel with top level publisher job (or at least should) which can increase mock's counter and make whole branch fail early without submitting and working on child nodes.

[2016-11-24 08:37] lmroz commented on #1363
By the way, please **please avoid** storing `sync.Mutex` as a value anywhere. This can easily cause problems when accidentally copied even if now only pointer to `struct` storing it is used, during some refactoring such thing might change.

[2016-11-24 14:57] andrzej-k opened #1390 "Structuring docs folder"
Do we need at this point to structure our ```docs``` folder?
For example by introducing **developer** and **user** spaces:

**docs/developer**
BUILD_AND_TEST.md
DISTRIBUTED_WORKFLOW_ARCHITECTURE.md
PLUGIN_AUTHORING.md
PLUGIN_PACKAGING.md
PLUGIN_SIGNING.md
PROFILING.md

**docs/user**
METRICS.md
PLUGIN_CATALOG.md
PLUGIN_LIFECYCLE.md
REST_API.md
SNAPTEL.md
SNAPTELD.md
SNAPTELD_CONFIGURATION.md
TASKS.

[2016-11-25 11:27] PraveenkumarDonga opened #1392 "Is there any Collector-Plugin for collecting the data from the database in the desktop?"
Thanks,
Praveen.

[2016-11-25 17:20] lmroz opened #1393 "mock2-grpc (collector): namespaces not updated in GetConfigTypes"
https://github.com/intelsdi-x/snap/blob/master/plugin/collector/snap-plugin-collector-mock2-grpc/mock/mock.go#L159
Namespaces used there does not match declared ones.

[2016-11-25 23:16] kindermoumoute commented on #1392
Hi Praveen, what Desktop database are you thinking?

[2016-11-28 04:31] jcooklin opened #1394 "GRPC based collectors **must** provide LastAdvertisedTime or framework panics"
The client call to GetMetricTypes sets the LastAdvertisedTime ([here](https://github.com/intelsdi-x/snap/blob/master/control/plugin/client/grpc.go#L256)) but this doesn't happen for the collect call.

[2016-11-28 07:43] PraveenkumarDonga commented on #1392
Hi! kindermoumoute,
I am planing to have mongodb.
is there any way to import the data to from files like .csv and .xls fomat

Thanks!

[2016-11-28 08:57] sandlbn commented on #1392
@PraveenkumarDonga  I have a great news for you. We have a brand new collector for mongodb, you can check it here https://github.com/intelsdi-x/snap-plugin-collector-mongodb/ .

[2016-11-28 22:34] IRCody commented on #1394
@jcooklin: Would a good resolution for this be to add some additional checks in the loop in [ToCoreMetrics](https://github.com/intelsdi-x/snap/blob/master/control/plugin/client/grpc.go#L299-L305) that sets LastAdvertisedTime (and I think potentially other fields) if they are not set by the plugin-lib? This would transparently apply to collect and GetMetricTypes and lets us remove the extra loop th

[2016-11-28 22:42] IRCody commented on #1393
@lmroz: To clarify - The configPolicy is being set for a namespace that is not advertised directly via GetMetricTypes. From looking at it I would expect the result to be that the config is just never applied.

Aside from fixing this specific test plugin, is there additional validation that can be done from the framework perspective to alert/warn users about this issue?

[2016-11-29 19:14] kindermoumoute commented on #1392
Seems there is a follow up of the discussion in https://github.com/intelsdi-x/snap-plugin-collector-mongodb/issues/5

[2016-11-29 19:14] #1392 closed

[2016-11-30 03:06] mjbrender commented on #1390
TL;DR I strongly prefer this folder remains simple and flat where you can quickly ⌘+F and search for the right information.

I always like the goal of clarifying documentation, but I do want to avoid having a hard (folder) boundary between developer and user. We ran into this issue in Riak documentation and had a massive amount of user feedback that the boundaries don't make sense. I like where th

[2016-11-30 08:10] andrzej-k commented on #1390
@mjbrender Thank you for sharing your view. I think you presented valid points - I'd definitely support the direction you propose.
I'm going to close this issue - I believe any further doc updates deserve separate discussion.

[2016-11-30 08:10] #1390 closed

[2016-11-30 15:23] lmroz opened #1399 "Namespace not escaped when constructing in rest client"
Ofer Nagar reported this issue on our slack channel
[his exact result attached](https://github.com/intelsdi-x/snap/files/622125/escape_problem.txt)

The problem is caused by [code constructing fetch request in rest client](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/client/metric.go#L59)
[code]
While on server side when reading query values:
[code]
Error on unescaping is eaten by gola

[2016-11-30 17:50] mjbrender commented on #773
I'd like to consider this for our next round of roadmap planning @bjray @jcooklin

[2016-11-30 17:51] mjbrender commented on #998
Bump on this one - been too long since we talked whether we have time to do this cc @jcooklin

[2016-11-30 19:44] kjlyon commented on #192
This issue is still being tracked as I see it could be a useful enhancement to our API in the future.

[2016-12-01 02:50] FionaLi1990 opened #1401 "SNAP about Machine Check"
If the SNAP provides plug-in about Machine Check? If not,why?Do SNAP or Intel have the plan about MC？

[2016-12-01 02:53] jcooklin commented on #1401
@FionaLi1990 if you are referring to http://www.mcelog.org then yes there are plans to work on this plugin soon.

[2016-12-01 07:55] diziup opened #1402 "Problem with Libvirt plugin for memory related metrics"
Hello,
We are collecting some libvirt metrics on a host with 3 virtual machines configured in it,
and some of the memory related metrics are constantly 0.
For instance:
/mem/unused
/mem/swap_out
/mem/swap_in
/mem/nr
/mem/min_fault
/mem/major_fault
/mem/available

We used stress command to add load to a specific VM, and these metrics remained unchanged (value of constant 0).
I would add that the co

[2016-12-01 08:18] katarzyna-z commented on #1402
Could you check if you use the latest version of the plugin? The plugin version should be 10, you can check this with following command `snaptel plugin list`.
Please see [this issue](https://github.com/intelsdi-x/snap-plugin-collector-libvirt/issues/38), it seems that we should reopen it.

[2016-12-01 08:26] diziup commented on #1402
It is indeed not updated,
we are using 0.18  version of snap,
do you happen to know if we can update only the libvirt plugin to version 10 without updating to the latest version of snap (1.0.0)?
Thanks

[2016-12-01 08:30] andrzej-k opened #1403 "Mapping plugin versions to Snap daemon versions"
**Problem statement:**
Due to constantly growing number of plugins (and their versions) and the fact that we reached 1.0 release, I'd propose to provide a mechanism which would allow Snap users to easily identify with which versions of the Snap framework given plugin works. Trying to load a plugin to discover that it doesn't work with given version of Snap framework can be bad experience.
Consider

[2016-12-01 08:39] katarzyna-z commented on #1402
I think that you can update only libvirt plugin. It seems that the issue is not connected with Snap's version.

[2016-12-01 09:09] sandlbn commented on #1402
@diziup memory metrics are dependent on hypervisor version, not all hypervisors are exposing same amount of metrics, most of the listed by you are not exposed by kvm. This is also related to the https://github.com/intelsdi-x/snap-plugin-collector-libvirt/issues/38 . Are you using kvm or xen ? I reopened issue against libvirt and I will would like to track activity there.

[2016-12-01 09:17] sandlbn commented on #1403
@andrzej-k Great idea, but this will add more work for developers. I think we should do this by adding this as an step in the large test. Large test can be executed against multiple versions of snap daemons. User should also have visibility which version of the snapd is supported and which is not. Right now we have too many snapteld versions.

[2016-12-01 11:02] andrzej-k commented on #1403
@sandlbn I totally agree - this has to be automated, any manual updates may be incorrect, not in time, etc.

[2016-12-01 14:52] diziup commented on #1402
We are using kvm, and we have configured the missing metrics  (memory/available etc) to be collected.
We have updated the plugin version 10,
we have still not managed to get via snap plugin the metrics, we are working on it.
yet we are encountering  now a different problem with the  new plugin version -
in the former version we have used the option "snapctl metric list" to get all the possible VM'

[2016-12-01 15:11] sandlbn commented on #1402
@diziup Can we move discussion to the https://github.com/intelsdi-x/snap-plugin-collector-libvirt/issues/43  ? I create ticket for you. I created patch but I will be happy if you can test it on your system.

[2016-12-01 15:23] sandlbn commented on #1402
@diziup Here is a new version of plugin. if you can test it on your system will be really cool.

https://drive.google.com/file/d/0B0iNIa564eX0d2VoTlptSVBMRVU/view?usp=sharing

[2016-12-01 16:05] IzabellaRaulin opened #1405 "NaN should not be used as a metric's value"
There is an issue https://github.com/intelsdi-x/snap-plugin-collector-df/issues/28 related to using NaN because Go don't marshal it, and most of our publishers (e.g. snap-plugin-publisher-file) use the marshal function.

**This should be clarified somewhere on documentation**, in [plugin authoring](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_AUTHORING.md) or [metric documentation](h

[2016-12-01 17:10] kindermoumoute commented on #1402
Alright, I close the issue as the conversation moved to https://github.com/intelsdi-x/snap-plugin-collector-libvirt/issues/43

[2016-12-01 17:10] #1402 closed

[2016-12-01 18:04] IRCody commented on #1405
Specifically this issue is about marshalling to json right?

+1 to documenting the potential hazard and explaining how to deal with it but I'm not sure we should be (silently or otherwise) filtering metrics at the framework level.

Something that should be addressed in the documentation is that it might even be a little wonky for plugins to filter metrics. If Snap tells a plugin to collect metrics

[2016-12-01 18:41] thomastaylor312 commented on #1370
@andrzej-k: We implemented all of those changes and it is still a problem

[2016-12-01 21:37] kindermoumoute commented on #1405
IMHO, we can avoid returning NaN values if we understand case by case what is the behavior when we collect this value. In some cases we'll want to return an error, and in other cases we can just filter it.

About the df collector, I found some documentation about the behavior of those NaN values ([see my comment](https://github.com/intelsdi-x/snap-plugin-collector-df/issues/28#issuecomment-2643001

[2016-12-01 21:57] IRCody commented on #1405
Are you talking about from the plugins viewpoint or from Sanps?

[2016-12-01 22:01] kindermoumoute commented on #1405
From the plugins viewpoint. Especially collectors (and some processors).

[2016-12-02 01:32] #1332 closed

[2016-12-02 08:41] andrzej-k commented on #1370
@thomastaylor312 ok, so let's dig deeper. How exactly do you run snapteld inside a container? Is it something like: ```snapd -l 1 -t 0```? Are you passing any other options to ```snapd```?

[2016-12-02 17:35] thomastaylor312 commented on #1370
`snapteld -l 1 -t 0 --tribe --tribe-seed <tribe-seed-ip>`

[2016-12-02 18:29] andrzej-k commented on #1370
If you have a lot of containers and try to gather a lot of metrics per container you may run into performance issues. Docker plugin uses separate thread for collecting disk usage metrics - this is quite resource consuming task. What I would suggest is to:

On a task level:
- decrease workflow interval (gather metrics less often), in accordance to that set ```deadline``` for the task
- you may want

[2016-12-02 19:28] nanliu commented on #791
Since we already support environment variable autodiscoverpath, would this work:

[code]

This is supported both by running snapteld, or environment defaults in service scripts.

[2016-12-02 19:33] mattttt opened #1408 "Website: Bad Link"
Couldnt find a public repo for the snap-telemetry.io website, so apologies if this is the wrong place to post.

The link within the "Active Community" section is broken, mistakenly including a trailing parenthesis:
![screenshot_2016-12-02_14_30_07](https://cloud.githubusercontent.com/assets/2886187/20847452/1d34bdfe-b89c-11e6-966b-d37eb4727a00.png)

`https://github.com/intelsdi-x/snap/blob/master/

[2016-12-02 20:42] IRCody commented on #1408
Thanks for pointing this out @mattttt. I submitted a PR for it so it should be fixed soon!

[2016-12-02 21:26] #1408 closed

[2016-12-02 21:53] thomastaylor312 commented on #1370
@jose5918 is giving those a try. We'll let it test over the weekend

[2016-12-05 14:08] PatrykMatyjasek opened #1413 "Plugin Wanted: Elasticsearch publisher"
I'd like to get a publisher that can play well with Elasticsearch.

Elasticsearch exposes REST API which allows to create data record via POST call (https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html), or modify it with PUT command (https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html). Basically it should be able to create new records.
Als

[2016-12-06 03:40] aihrig opened #1416 "Enhancement request - stop/remove all"
It would helpful to have functions accept an "all" parameter, such as: "snaptel task remove all" (or "removeall", etc.), "stopall", "enableall", and so on.

[2016-12-06 07:56] IvanMenshykov opened #1417 "Linux Mint install"
I have a problem with install package.
Because I have Linux Mint and to `/etc/apt/sources.list.d/intelsdi-x_snap.list` was add next link:
[code]
And I have to edit link for install package:
[code]

[2016-12-06 11:21] EvgenyAGRO opened #1418 "Plugin wanted: SR-IOV Virtual Function counters collector"
After a research on **Intel** **SR-IOV,** I've found that there is no convenient way to get the **VF** counters while **VF** interface is being attached to a **VM** for example(I've tried it on **QEMU/KVM** VMs using **Libvirt**). Furthermore, I didn't find even an inconvenient way to do it, because as soon as **VM** is being created on a **HOST** and it is bound in configuration to some **VF** in

[2016-12-06 14:38] andrzej-k commented on #1418
Hi @EvgenyAGRO
I don't think there is an easy way to gather those metrics on the host level. I know one example when someone was using [DPPD application](https://01.org/intel-data-plane-performance-demonstrators) from Intel DPDK library, and in this case application was configured to expose NIC stats on TCP port.
And someone [here](https://www.redhat.com/archives/libvirt-users/2015-September/msg00

[2016-12-06 15:30] EvgenyAGRO commented on #1418
Hi @andrzej-k
Unfortunately using router level collection is problematic in my environment but I'll try to experiment with DPPD app. Thanks for the advice.

[2016-12-06 15:30] mkuculyma opened #1419 "Snappy image deformed"
### Problem
When preparing official docker image for Snap, I have encountered an issue concerning printing Snappy image along with snapteld logs. That is when when TTY is not attached this is what happens to Snappy:

[code]
This will be always visible in docker logs when running Snap in a container i.e. like this:
`docker run -d snap `
without tty attaching flag (`docker run -t -d snap`).

### Sig

[2016-12-06 18:53] IRCody opened #1421 "Example config files errors"
[code]

[2016-12-06 19:07] nanliu commented on #1417
Looking at Linux Mint, it appears to be compatible with Ubuntu, but it isn't a platform we test against.

I'm assuming repo.list below the result of running the package cloud repo scripts? (i.e. the command ` curl -s https://packagecloud.io/install/repositories/intelsdi-x/snap/script.deb.sh | sudo bash`)
[code]

Based on the [packagecloud documentation](https://packagecloud.io/intelsdi-x/snap/inst

[2016-12-07 12:14] IvanMenshykov commented on #1417
Yes, Linux Mint compatible with Ubuntu.

For me work this (Linux Mint 17):
`curl -s https://packagecloud.io/install/repositories/intelsdi-x/snap/script.deb.sh | sudo os=ubuntu dist=trusty bash`

For Linux Mint 18:
`curl -s https://packagecloud.io/install/repositories/intelsdi-x/snap/script.deb.sh | sudo os=ubuntu dist=xenial bash`

[Here](https://www.linuxmint.com/download_all.php) we can see pack

[2016-12-07 19:58] #1383 closed

[2016-12-08 18:55] retzkek opened #1424 "Plugin idea: collector for Prometheus clients"
[Prometheus](https://prometheus.io) has some nice [client libraries](https://github.com/prometheus/client_golang) that can be used to publish application telemetry. Indeed, the [etcd](https://github.com/intelsdi-x/snap-plugin-collector-etcd) collector is scraping metrics published by a Prometheus client.

A "generic" Prometheus collector should be quite doable, and would allow one to quickly get s

[2016-12-08 19:15] lynxbat commented on #1424
This has been an idea we have been behind also. But, we didn't have time to work on this yet.

[2016-12-08 20:17] #1246 closed

[2016-12-08 20:39] mjbrender commented on #1424
Very cool @retzkek - we would love to connect with Prometheus from a collector and publisher POV. I'll label `help-wanted` to show it's not something we plan to pick up in the short term, but I would be happy to give another set of eyes if you start on it.

FWIW, the team at InfluxData mentioned they have something there that could be easily fit into Snap's data format: https://github.com/influxda

[2016-12-08 20:42] mjbrender commented on #1417
To confirm, did Snap install okay after you followed these steps @IvanMenshykov? Either way, let's think about where to document overrides like this for new users @nanliu 👍

[2016-12-08 20:43] mjbrender commented on #1416
Very cool @aihrig - I think it's a great CLI user experience improvement that wouldn't require much work.

[2016-12-08 20:47] mjbrender commented on #1401
@FionaLi1990 to answer the other part of your question, we prioritize plugins based on use cases. Could you elaborate a bit on your interest in Snap + Machine Check? I'm especially curious how you use the error handling to troubleshoot. If you prefer to answer privately, email me: matthew [.] brender `@intel`.com.

We don't have this slotted to start just yet, so let us know if you start one! We h

[2016-12-08 21:03] mjbrender opened #1425 "How do I lookup the required configuration information for a plugin after I load it?"
This is one question in a goal to answer `What's the user expectation to go from an instance of Snap running, with plugins loaded, to a useable Task Manifest? `

In this scenario, we install Snap as a package, `curl` plugins we want to use into `/opt/snap/plugins` and then start the Snap daemon service. Plugins load automatically. Now I want to create a Task.

The challenge comes from downloading

[2016-12-08 21:22] mjbrender opened #1426 "Is expected output from "export" an importable task?"
I can't find in documentation the intention for task export functionality. Right now it seems like a way to monitor the health of each Task, which is different that what I believed the intention was. I thought the goal was to be able to export a running task and it is a valid Task Manifest JSON format.

Which is correct?

Ex:

[code]

[2016-12-08 21:35] mjbrender opened #1427 "Easily correlate missing metric sources when task creation fails"
I tried to create the following Task:

[code]

And got the error:

[code]

The issue was that I hadn't loaded the DF collector. The challenge, however, is **how would I know what plugin is missing if I wanted to gather these metrics?**

I know one of the values of metrics is that we don't pin them to a particular plugin, but I want to think from the perspective of error handling and the expectatio

[2016-12-08 22:04] mjbrender commented on #1322
There's some questions about the term "Stable." It's a little too strong. Maybe something that clarifies that it's known to work would be sufficient, like "Working".

The point of these categories is to clarify whether or not a user should trust a plugin to run appropriately.

[2016-12-08 22:06] ldktta opened #1428 "Plugin Wanted: Publisher for Elasticsearch or logstash"
Plugin Wanted: Publisher for Elasticsearch or logstash

[2016-12-08 22:10] kindermoumoute commented on #1428
@ldktta an Elasticsearch publisher is already in the wishlist gh issue https://github.com/intelsdi-x/snap/issues/1413. AFAIK the plugin development is currently in progress.

[2016-12-08 22:10] #1428 closed

[2016-12-08 22:32] kjlyon commented on #922
@ppalucki Is this still something you're interested in?

[2016-12-08 22:52] mjbrender opened #1429 "Recommend, but don't require, plugins use semantic versioning on versions"
We moved to [SemVer](http://semver.org/) for the Snap framework. It would be valuable to have the same for each plugin. Could we recommend - in documentation and through logs/errors - that plugins do the same?

One place to do so would be upon loading a plugin:

[code]

Where pluginauthoring.snap-telemetry.io is a redirect to [PLUGIN_AUTHORING.md](https://github.com/intelsdi-x/snap/blob/master/doc

[2016-12-08 22:54] mjbrender commented on #1428
Hey @ldktta! So glad you want to use Snap. As @kindermoumoute mentioned, we have a wishlist issue so this is a duplicate so closing this one makes sense.

Could you give a +1 over on the other issue and mention what specifically you want to measure? The more we understand what people want to measure here, the better we'll make the plugin. #1413

[2016-12-08 23:00] mjbrender commented on #1413
Curious to follow up here - anyone known to be working on a publisher for ES?

[2016-12-09 00:57] kindermoumoute commented on #1425
I think in a more general way there is a lack or tools to manipulate config with `snaptel`. We could think about listing config policy:
[code]

Then we should be able to put new config from `snaptel` (the API endpoint already exists):
[code]

(BTW, `collector apache 3` is quite tedious to write. Maybe we could replace it with a `<plugin_id>`?) :-)

[2016-12-09 02:28] mjbrender commented on #632
I'm a little sad for me to say I haven't seen this one move forward. :disappointed:

We *did* separate out the plugin clients if that helps you at all: https://github.com/intelsdi-x/snap-plugin-lib-go

Sorry about our excitement not turning into a plugin architecture you could reuse @pires. I'm going to close this issue knowing we won't be getting to this in the coming year.

My consolation prize:

[2016-12-09 02:28] #632 closed

[2016-12-09 07:49] PatrykMatyjasek commented on #1413
Hi @mjbrender I'm working on it.

[2016-12-09 08:04] IvanMenshykov commented on #1417
@mjbrender, Yes, everything ok :+1: :computer:

[2016-12-09 13:35] ldktta commented on #1413
+1

[2016-12-09 16:03] mjbrender commented on #1417
Awesome, plus a PR? 😍 You're the best @IvanMenshykov!

[2016-12-09 16:03] #1417 closed

[2016-12-09 16:18] mjbrender commented on #1413
Cool to know @PatrykMatyjasek! As soon as you have a testable repo, could you add it to the Catalog (https://github.com/intelsdi-x/snap/blob/master/docs/plugins.yml)?

You can add `Fixes #1413` in the PR to bring this all together 👌

[2016-12-09 18:32] mjbrender commented on #1366
Hey again @hostingwalk - given this is known behavior (Snap won't persist plugins or tasks upon reboot) and you know about the `auto_discover_path` functionality now, I'll close this issue. Feel free to open a PR for any documentation you think would have helped you know this earlier.

Thanks so much for asking your question!

[2016-12-09 18:32] #1366 closed

[2016-12-09 18:36] mjbrender commented on #1297
Reviewing this one and find it's the feature request from #1283. Tagging @ralberto on this one since  you original opened us up to the idea. Thanks for the suggestion! It's not scheduled just yet but keep an eye on this issue.

[2016-12-09 18:37] mjbrender commented on #1283
@ralberto just pinged you on #1297 because this issue is expected behavior as of right now. I'm going to close this issue and we can keep track of changes to tribe on the new issue. Thanks for the suggestion Rui!

[2016-12-09 18:37] #1283 closed

[2016-12-09 19:30] mjbrender commented on #1246
Hey @krzysztofx! Your request landed in master as of the PR mentioned above. Hope it helps you out! Let us know if you need it as part of our next public version of Snap or you're comfortable building from source.

[2016-12-09 21:57] jcooklin commented on #1280
@jtlisi: [This](https://github.com/intelsdi-x/snap/pull/1431) PR adds interpolation of ENV variables before processing the task and the global config, as it exists, provides the ability to share a task with tribe but certain key/value pairs (config items) that are specific to the node.

Do you think there is still a need for something like *Global Vars* that you describe above?  If not, I propose

[2016-12-11 20:33] byronschaller commented on #1249
Hey @mjbrender, not yet. Caught up in work projects. It is on my docket for after the first of the year though. I will keep you posted.

[2016-12-12 15:41] ss7pro opened #1436 "RDT metrics collector"
We need to start collecting RDT related metrics to take advantage of them when enabling IA in multiple OpenSource cloud solutions. Our main focus should be on the RDT interface exposed targeted to be delivered in 4.10 kernel and missing features should be extracted using user space tools. More documentation can be found here:

https://github.com/01org/intel-cmt-cat/blob/master/README#L195

@skonef

[2016-12-12 17:59] #1226 closed

[2016-12-12 20:15] kjlyon commented on #922
Hi @ppalucki, I had @candysmurf look into this issue. She was not able to reproduce it from our latest Snap master on her ubuntu 14.04 vm. Small, medium and legacy tests passed with the race flag. Her test output is below:

[code]

[2016-12-12 20:18] #922 closed

[2016-12-12 21:10] pires commented on #632
Thanks for the ping @mjbrender. I'll keep your offer in mind if I pick this up.

[2016-12-13 08:55] andrzej-k commented on #1436
@ss7pro Thanks for bringing this up.
Looking at RDT SW enabling status, it seems that Linux perf could be a good way to get per core, per task, CMT and MBM metrics using one tool. This requires kernel 4.6+ and perf enabled on the host, but apart from this there should be no other SW dependencies.
So I think that we could try to revisit our perf plugin and update it with new metrics. Would that wor

[2016-12-13 09:42] ss7pro commented on #1436
I would try to extract as much as we can from /sys and before introducing dependency for other tools. You can find a good overview hot RDT support is going to be implemented in libcontainer:

https://github.com/opencontainers/runc/issues/433

[2016-12-13 15:10] marcintao commented on #1405
Besides documenting the behavior, I can think of one simple solution: flagging the metrics that resulted in value out of range (or NaN) with a Tag 'Warning'.
Plugin should do it itself - it has the context to decide (in contrast to the framework doing the filtering). Otherwise it could return an error.

Any thoughts on this?

[2016-12-13 18:22] #1394 closed

[2016-12-13 18:26] #791 closed

[2016-12-13 18:49] jcooklin opened #1438 "grpc based plugins create noise in snapteld's log when they are stopped"
The call from snapteld stopping (killing) the plugin results in the following log message (from grpc) to be printed.

[code]

To reproduce simply load any grpc based plugin.

[2016-12-14 00:50] rakah commented on #1413
I'm new to golang & snap but I was in a rush to see this functionality so I hacked together [this](https://github.com/rakah/snap-plugin-publisher-elasticsearch).  It's missing configuration(uses localhost/snap/test:9200) and tests - not near release ready for sure.  It does seem to work, though.  @PatrykMatyjasek, hoping this either helps get you going or that you're able to get something more pro

[2016-12-14 10:23] andrzej-k commented on #1436
Agree on reducing dependencies - and when libcontainer will support RDT it will be probably preferable way of gathering CMT, MBM metrics. I was thinking about using perf as it also allows to gather per task metrics (as opposed to https://github.com/01org/intel-cmt-cat)
Let's sync offline on your usecases first, and then decide on how to design plugin.

[2016-12-14 12:23] PatrykMatyjasek commented on #1413
@rakah thanks for your activity. I'll see your repo. Thanks!

[2016-12-14 20:47] kjlyon commented on #1289
In PR #1291 I added warnings in the top of each file to be deprecated as well as in the logs which display when a legacy plugin is loaded. I am updating the type of this issue to be a `feature`, as we are no longer requesting comments on this.

This issue will be closed when the files have been deprecated.

[2016-12-15 08:01] andrzej-k opened #1439 "Plugin Wanted: Entropy collector"
When application is using /dev/random and there is no entropy available in the system it may cause application to block waiting on more randomness.
The most obvious example of applications using entropy are security related (like TLS).

How about creating an entropy collector plugin which will indicate how much entropy is available in the system?

From the design perspective it can just expose one

[2016-12-16 18:15] rashmigottipati commented on #1438
Reproduced the issue by running snap and loading apache collector and graphite publisher into the snap daemon using snaptel.

Error Log -
016/12/15 14:56:52 transport: http2Client.notifyError got notified that the client transport was broken EOF.
Plugin loaded
Name: apache
Version: 3
Type: collector
Signed: false
Loaded Time: Thu, 15 Dec 2016 14:56:52 PST

2016/12/15 14:56:52 grpc: addrConn.resetT

[2016-12-16 21:58] kjlyon commented on #1401
Hi @FionaLi1990 thank you for reaching out to us. Is http://www.mcelog.org what you're looking for? If it is, we would love to hear your comments and any ideas you have for that plugin. If not, can you provide us with some more details on what you're asking?

[2016-12-16 22:30] kjlyon commented on #964
Hey @iceycake, thank you again for your great questions! I just wanted to complete the loop on this issue and make sure we answered everything before closing. The first point was resolved by issue #967. The second was addressed by @jcooklin above. And for the third, I would suggest continuing the conversation over on issue #966. Please feel free to add your comments there or open up a new issue if

[2016-12-16 22:31] #964 closed

[2016-12-19 15:30] karol-brejna-i commented on #1342
In our case we have one Jolokia per app/pod (in contrast to having one Jolokia working with many JMX endpoints) so in initial attempt we were able to make some simplifications.

Our base idea for plugin is:
- the plugin accepts a list of working Jolokia endpoints in dedicated section of snap config
- on start, the plugin retrieves JMX metrics available on these endpoints; the metrics catalogue is

[2016-12-20 09:52] subhabratamallick opened #1446 "How Snap collect cpu statistics?"
I have gone through several collector plugins. What I see there is a structure and data is coming through it. Can you please tell me from exactly where or by running which scripts you are collecting cpu statistics?

[2016-12-20 10:18] marcin-krolik commented on #1446
Hi @subhabratamallick Maybe visiting [plugin catalog](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CATALOG.md) will help? You can find all plugins there, also these collecting cpu metrics like CPU collector. Each plugin have it's own documentation which brings information how metrics are acquired. Hope it helps

[2016-12-20 16:54] kindermoumoute opened #1447 "Snap collector"
This is a follow-up of the conversation from Slack with @daniellee @jtlisi @thomastaylor312 about creating a Snap daemon collector. Here is a list of ideas:
- Integrate the collector into Snap.
- Collect tasks hit / miss / fail / state per task.
- Count task metrics ([see PoC](https://github.com/raintank/snap-plugin-collector-snapstats/blob/master/snapstats/snapstats.go#L71-L94)).
- Collect metric

[2016-12-20 18:37] nanliu opened #1448 "Snap plugin 'connection is shut down' error message"
There's several plugin bugs reporting the error `connection is shut down` which seems related to the go rpc client. I'm listing them below so we can centrally track them all:

https://github.com/intelsdi-x/snap-plugin-collector-snmp/issues/16
https://github.com/intelsdi-x/snap-plugin-collector-perfevents/issues/24
https://github.com/intelsdi-x/snap-plugin-publisher-opentsdb/issues/28

[2016-12-20 18:59] nanliu opened #1449 "Snap plugin thread safety during initialization of plugins"
We have several plugins with pending issues related to thread safety during initialization of plugins. Several of them have been addressed. Here's a list to track them centrally:

- [x] https://github.com/intelsdi-x/snap-plugin-collector-cpu/issues/38
- [x] https://github.com/intelsdi-x/snap-plugin-collector-disk/issues/21
- [x] https://github.com/intelsdi-x/snap-plugin-collector-df/issues/19
- [x

[2016-12-20 22:21] nanliu commented on #1342
@karol-brejna-i that sounds great, love to see what you guys have built.

[2016-12-20 22:29] nanliu commented on #1429
Linking issue with #276 and #1403. @mjbrender any objections if I collapse this with #1403?

[2016-12-20 22:30] nanliu commented on #276
To refresh on this issue, we are discussing using semver and also taking advantage of semver to signal plugin compatibility with specific software/Snap version.

[2016-12-20 22:45] mjbrender commented on #1429
@nanliu I'm game for rearrangement as you clean up these issues. This issue is a particular implementation idea that seems dependent on the result of #1403 but could be solved independently. I'm good with however you want to roll up these pieces.

[2016-12-20 22:46] nanliu commented on #1403
As we slowly roll out large tests, our current matrix is simply last release and current snap build. It would be awesome to start expressing the versions as a range in each plugin release:

[code]

[2016-12-21 17:58] mathewlk commented on #1175
Our group is currently working on the Perfmon plugin. This semester was more of coming up with the design and requirements for this and other plugins, but we plan on completing the implementation and testing of this plugin within these next few months. If you'd like to follow along with code changes or suggest changes, here is the link to the Perfmon repo: https://github.com/Snap-for-Windows/snap-

[2016-12-21 18:03] mathewlk commented on #671
Our group currently has a working Snap executable for Windows, as well as a server testing environment, and are working on a build script (to automate the Snap build process on Windows), along with a few different plugins (Perfmon - See referenced issue 1175 above, Sysinternals, and Active Directory). We plan on having them completed by the end of March at the latest and will keep this issue updat

[2016-12-21 21:48] davecaplinger commented on #1439
I agree that reading /proc/sys/kernel/random/entropy_avail should be easy; however, for the use case you mentioned ("security needs entropy, so we should monitor it"), you may find this discussion interesting: http://www.2uo.de/myths-about-urandom/

[2016-12-21 23:28] nanliu commented on #319
I'm wondering if these requirements are captured by#1276. If so we can close this.

[2016-12-22 00:19] lynxbat commented on #319
@nanliu yes they are

[2016-12-22 08:52] andrzej-k commented on #1439
Hey @davecaplinger Thanks for the link, very informative.
But I think we can try to help those using applications talking to (blocking) /dev/random to discover potential issues with depleting entropy. And we can do this by exposing entropy_avail metric. I think there is still a number of such applications.

[2016-12-22 17:28] #319 closed

[2016-12-22 17:31] nanliu commented on #1335
I'm closing this issue since there hasn't been any updates. Please feel free to reopen, or reach out on our slack channel if you need further assistance debugging this.

[2016-12-22 17:31] #1335 closed

[2016-12-22 17:37] nanliu commented on #755
@andrzej-k, do you have any feedback on why this should be changed?

[2016-12-22 17:48] nanliu commented on #839
@intelsdi-x/snap-maintainers, I don't see the rest API providing any additional info. Is there value to drill down and list specific plugins?

[2016-12-22 18:03] jcooklin commented on #839
I think there is value in being able to get a plugins config policy along with the details we are currently providing.

Output from curl today:
[code]

On a related note, we should also consider returning more details on running plugins including number of instances, subscriptions (tasks using it), aggregate hits, misses, etc.

[2016-12-22 18:14] nanliu commented on #1079
Sounds like we decided mock plugins are only for Snap testing, and not intended for plugins. Should we close this issue?

[2016-12-22 18:31] nanliu commented on #1137
Maybe this package can provide a more human friendly error: https://godoc.org/go4.org/errorutil

[2016-12-22 18:39] nanliu commented on #1086
This is related to #1190. Since most of the discussion occurs in that issue, I'm going to close this in favor of #1190. Please provide feedback to the proposals on how to enable optional metrics and which one you would like to see implemented.

[2016-12-22 18:39] #1086 closed

[2016-12-22 18:47] nanliu commented on #1206
ping @intelsdi-x/snap-maintainers for feedback.

[2016-12-22 18:56] nanliu commented on #1416
This is related to #879, and the implementation should consider both use cases.

[2016-12-22 18:57] nanliu commented on #1421
Yeah, they cram every option possible, maybe it makes sense to comment out conflicting options so they are at least working configs?

[2016-12-23 09:16] andrzej-k commented on #755
I don't have a use case for this currently. This request was a result of our initial Snap design review. Can be probably closed for now.

[2016-12-23 17:28] #755 closed

[2016-12-23 19:08] jcooklin opened #1450 "Errors returned in the publish (grpc) response are ignored"
If a grpc based plugin returns an error in the publish reply object the framework ignores the error and continues like it was a successful execution of the workflow.

The task given below should eventually go into a disabled state however currently the error is undetected when it's passed back in the reply object.
[code]
![before](https://www.dropbox.com/s/7v4jek51nfi4ak7/before.gif?raw=1)

[2016-12-23 22:31] #1450 closed

[2016-12-25 15:16] irom77 commented on #1196
Will 3rd option (i.e.[here ?](http://stackoverflow.com/a/37613762/4615576)) have to include its own scheduler, same in case of **node exporter** ? At least the **push gateway** feature can use Snap scheduler. Snap Prometheus processor will require Push Gateways anyways , right ?

[2016-12-27 20:26] IRCody commented on #1079
@mjbrender: Going to close this for now, feel free to re-open if you think there is still discussion that needs to happen.

[2016-12-27 20:26] #1079 closed

[2017-01-03 18:40] kindermoumoute commented on #1421
The thing is those config file are also used in tests, so if we comment out something in those files, test fail. Removing those test is not a solution either, some possibly way on the top of my head are:
- Include the mock file `examples/configs/snap-config-sample.yaml` in a Go file `simple_config_sample_test.go`.
- Remove inconsistencies in config examples, but create new config files (if needed)

[2017-01-04 14:32] dishmael commented on #1117
Created a [Syslog collector plugin](https://github.com/dishmael/snap-plugin-collector-syslog). It is still under construction but appears stable in dev. Will work on documentation. Looking for feedback and suggestions.

[2017-01-04 17:12] mjbrender commented on #1117
@dishmael very cool. Your PR will close this issue so I updated it and I hope it helps @vnitinv too. Love seeing this contribution.

[2017-01-04 17:40] vnitinv commented on #1117
Thanks @dishmael

[2017-01-04 19:29] #1117 closed

[2017-01-04 21:43] saalt opened #1453 "Old naming convention with pkg install"
Following the directions on the github page for MacOS .pkg install the command

[code]
Looking for the binary and found the old naming convention
[code]

[2017-01-04 21:54] mjbrender commented on #1453
I'm working with @saalt - `snapteld` installs to sbin which was not in her path. We'll need to update this how-to to make this clearer.

[2017-01-05 00:25] nanliu commented on #1448
Per update in opentsdb, we were able to reproduce this error by killing the publisher plugin several times. During normal Snap operation, when the plugin health check fails consecutively, it triggers a plugin restart. After the plugin restarts several times, it hits `MaxPluginRestartCount` and Snap no longer attempts to start the plugin. But if the task is configured with `max-failure: 1`, the tas

[2017-01-05 00:30] nanliu commented on #1453
I've opened an issue in packaging repo to improve the wrapper to detect and warn about /usr/local/sbin in $PATH. Per discussion, we should also:

1. improve documentation about PATH requirements
2. change the order for the downloads so it's less confusing
3. use more precise language around homebrew v.s. pkg choices for MacOS

[2017-01-05 00:49] nanliu opened #1454 "Snap spawning multiple plugin processes"
When debugging #1448, we tried to suspend/resume process via `kill -STOP` & `kill -CONT`. This uncovered some issues with how we start plugin processes. After several heartbeat failures, if the plugin process is resumed, snap will terminate it, but spawn multiple plugin processes.

We should guard this by ensuring this block of code is not executed simultaneously by multiple plugin failure events:

[2017-01-05 01:33] lynxbat commented on #1454
I would recommend locks be used for start, restart, and stop. I would have read and write locks on this also. This will prevent issues with comparisons like https://github.com/intelsdi-x/snap/blob/master/control/runner.go#L247 being wrong while a write is in flight.

[2017-01-05 01:34] lynxbat commented on #1454
We should capture a repeatable test from #1448 discovery to replicate and prove this is fixed. I am sure we were. Just pointing out the obvious :)

[2017-01-05 19:44] #1280 closed

[2017-01-06 00:17] #1448 closed

[2017-01-09 10:12] akantak commented on #1342
https://github.com/intelsdi-x/snap-plugin-collector-jolokia

please share your ideas/opinions

[2017-01-11 08:38] skonefal opened #1465 "Plugin Unload message is not helpful"
I have tried to unload a plugin:
[code]

The last error message does not help to forge proper plugin unload command.

[2017-01-11 08:53] kindermoumoute commented on #1465
We can show the description of the command when the response has status code 400.

[2017-01-11 09:07] skonefal commented on #1465
Whatever works to you :) I have expected the last error message to be something like `You must provide plugin version in format "plugin-name plugin-version"`

[2017-01-11 09:17] skonefal opened #1466 "When plugin load fails, the snaptel message should convey information about failure reason from plugin"
I have tried to load PCM plugin.
[code]
To see what was the **real** reason, I had to look at snapteld logs:
[code]

Please consider printing error content from plugins in CLI so that problem debugging would be easier.

The `panic: exec: "pcm.x": executable file not found in $PATH` was the error content - It would be convenient to print it in CLI.

[2017-01-11 11:24] IzabellaRaulin commented on #1466
@skonefal, I agree it would be more user-friendly and make working with Snap easier. I think this might be treat as an enhancement, so I will add an appropriate label to this issue.

[2017-01-11 15:28] IzabellaRaulin commented on #1466
I am sorry, I did not notice before that for this case some panic occures. Maybe it's an issue for pcm plugin to handle this in a different way than currently. I will check this and let you know.

[2017-01-11 21:05] lynxbat commented on #1465
The response should be a specific to the CLI interface as possible and NOT the REST API response. To a CLI user the REST API should be invisible unless they specifically passed a debug flag to troubleshoot REST API calls.

A CLI is a UX interface and should be as clean as possible. Great catch @skonefal.

[2017-01-12 09:21] skonefal commented on #1466
The panic is just side effect. I think the problem here is the fact that CLI does not print error message from plugin.
If all plugins returned proper error content in `err` which would be printed in CLI, then it would be awesome, because I would know that `"pcm.x": executable file not found in $PATH` which is what I exactly need.

[2017-01-13 17:31] mjbrender commented on #1342
@akantak so cool! I'll bring this up today and see who has time to run through it.

Curious - have you run this in any test or prod configurations? If so, I'd love to hear about the setup. cc @jtlisi

[2017-01-14 11:05] pdf commented on #1196
@irom77 one way to deal with it might be to just buffer metrics in memory until the Prometheus scraper comes along to collect them, using the Snap scheduler to push them onto the buffer.  Metrics would be dropped from the buffer based on age or buffer size, whether they've been collected or not to avoid memory blow-out.  Obviously this comes with some resource overhead, but performance will be bet

[2017-01-16 11:14] akantak commented on #1342
@mjbrender not yet, we had tested it on [this](https://jolokia.org/tutorial.html) on host, and with this app in docker image

[2017-01-16 15:28] daniellee commented on #1447
While waiting for something better, we are using this collector that I threw together for monitoring snap tasks (the one linked above as PoC):

https://github.com/raintank/snap-plugin-collector-snapstats

It's quite basic and only collects totals. We use the total count for failed tasks for alerting.

Here is what it collects:
- Total number of disabled Snap tasks
- Total number of Running Snap ta

[2017-01-17 08:30] uwe42 opened #1471 "Task Storage"
Hi,

i was wondering, with version 1.0 and the deb packages, there is the possibility to enable snap (to load on boot), but previews running tasks dose not get stored or restarted. This has to be done by hand, i think. Would it be possible to add a task Storage where i can enable task that gets started as soon as snapd has loaded all plugins?

[2017-01-17 08:32] skonefal opened #1472 "Plugins should have target for launching all tests"
Default plugin Makefile template does not have target `test-all` like snap framework does. (Example: https://github.com/intelsdi-x/snap-plugin-collector-perfevents/blob/master/Makefile)

As a plugin developer I want to check easily if the plugin tests pass so that I know that my code works.
Current flow requires me to do:
[code]
Or create my own bash scripts with pipefails.

I would like to run al

[2017-01-17 08:44] andrzej-k commented on #1471
Hi @uwe42,
I think you may want to take a look at: https://github.com/intelsdi-x/snap/blob/master/docs/SNAPTELD_CONFIGURATION.md#restarting-snapteld-to-pick-up-configuration-changes, especially last sentence:

[2017-01-17 08:49] uwe42 commented on #1471
Ah seams that i missed that. That will work. Thanks for your help.

[2017-01-17 08:49] #1471 closed

[2017-01-17 17:26] mjbrender commented on #1322
At the advice of @nanliu, we're going toward a different set of terms: Supported and Approved, with others in the plugin catalog being unlabeled to imply it hasn't hit one of those maturity levels yet. I'm drawing the matrix now and will include it in a PR that fixes this issue.

[2017-01-17 19:38] kjlyon commented on #1155
@kjlyon is currently working on this issue

[2017-01-17 21:25] candysmurf commented on #1322
@mjbrender, what differences between supported and approved? Supported seems easy to understand. What about "approved"?

[2017-01-17 21:28] candysmurf commented on #1472
@skonefal, I see "test-all" in current Snap master, would you please clarify your suggestion?

[2017-01-17 21:48] mjbrender commented on #1322
@candysmurf definitely important to clarify. I have a branch that's outlining those requirements. More definition to come, but check it out so far: https://github.com/mjbrender/snap/blob/tiering/docs/PLUGIN_STATUS.md#plugin-status-matrix

[2017-01-18 08:15] skonefal commented on #1472
I mean the plugins. Plugin's Makefile template does not have `test-all` target.
Example: https://github.com/intelsdi-x/snap-plugin-collector-perfevents/blob/master/Makefile

[2017-01-18 14:27] uwe42 opened #1476 "auto_discover_path should support subfolders"
If auto_discover supports plugins and tasks, i would like to keep them separated. Then i can write scripts to pull new plugins and remove or edit the complete folder without touching the task file(s) (or move them around).

E.g. after a download of the plugins i would like to do something like chmod +x autoDiscover/plugins/*

[2017-01-18 14:47] skonefal opened #1477 "Snaptel does not support task creation with other separator than "/""
I have a metric with slashes and I cannot gather it via task manifest creation (my extension of perf plugin: http://bit.ly/2jwF3OZ).

My task manifest:
[code]
Output:
[code]
Expected output:
* It works

---

My metric looks like:
[code]
Snap Versions:
[code]

The problem also manifests when I change well known metric like `/intel/psutil/vm/used` to `|intel|psutil|vm|used`.
Also, this feature lack

[2017-01-18 16:40] IzabellaRaulin commented on #1477
I talked with @skonefal and he is ok with defining his task manifest as a JSON file. Also, changing a separator to sth different than pipe is the another possibilities.

Currently, for a metric which contains a slash, `snaptel metric list` presents this metric with a pipe as a separator:
[code]
This suggests that such metric might be copied to task manifest as a metric to collect. Based on this do

[2017-01-18 17:23] kindermoumoute commented on #1477
Maybe we should move the pipe out of [the priority list](https://github.com/intelsdi-x/snap/blob/master/core/metric.go#L35-L35) (or move it on the right). We should document separator good practices on separator somewhere. Ans maybe we should investigate and make a list of characters we can't use as separator because of YAML or JSON standard. Another one that comes in the top of my head, we can't

[2017-01-18 17:59] daniellee opened #1478 "High Memory Allocation with snapteld v0.19"
OS version: Ubuntu Xenial
Snap version: 0.19
Environment details (virtual, physical, etc.): Kubernetes pod - Docker container (intelsdi/snap:xenial)
Steps to reproduce

Using the following plugins:

Collectors:
- load (version 3)
- docker (version 4)
- cpu (version 6)
- meminfo (version 3)
- iface (version 4)
- iostat (version 6)

Publisher:
graphite (version 5)

One task running with the followin

[2017-01-18 23:00] candysmurf commented on #1472
@skonefal, please open this issue in relevant plugin repos.  thanks.

[2017-01-18 23:02] candysmurf commented on #1476
@uwe42, plugin binary type is different than task files. You can do what you wanted today. May I know any other reasons that you like tasks are in a different folder? If putting tasks in the subfolder is acceptable?

[2017-01-18 23:06] candysmurf commented on #1478
@daniellee, thanks for the details. What's your expectation? Would you please elaborate?

[2017-01-18 23:49] candysmurf commented on #1478
@daniellee, those ppof profiles are really helpful. We can easily identify memory hogging methods. We'll look into it. Please feel free to update this issue with your insights anytime. thanks.

[2017-01-19 01:12] kindermoumoute commented on #1478
Here is a [flame graph of Snap daemon memory heap allocation](http://svgshare.com/i/Yf.svg) generated from @daniellee profiles. It brings to light 3 kind of hotspots that consumes a lot of memory.

## Gob and grpc encoding/decoding
### How to highlight it?
- search for `decode` (70%) and `encode` (4.5%).

### How to fix it
Short term, Snap workflow is made so every metrics go through Snap, so we n

[2017-01-19 07:30] kindermoumoute commented on #1478
@daniellee sent me a [CPU profile of snapteld](http://svgshare.com/i/Z1.svg). So now we can quantify the actual loss on performances.

## Garbage collector
Memory heap hotspot we highlighted will cause more garbage collection. If we search for `runtime.gcBgMarkWorker`, we can see garbage collection use 15.6% of the CPU ressources.

## goRPC gRPC encode / decode
The CPU usage of `encode` and `decod

[2017-01-19 08:41] uwe42 commented on #1476
@candysmurf, it would be nice to have a more ordered structure of the plugins and tasks loaded on start. It would be "nice to have" to keep things that do not belong to each other separated in a structure. Other possibility would be to extend the config file for a separated auto_discover_plugin / auto_discover_task, so no sub-folders and i can separate them through the config file.

[2017-01-19 08:46] skonefal commented on #1472
Thank you, I have opened an issue in pluginsync repo (https://github.com/intelsdi-x/snap-pluginsync/issues/53). All plugins should have similar build configuration, right?
I think we can close this issue.

[2017-01-19 11:28] IzabellaRaulin commented on #1477
@kindermoumoute, I added the label `type/documentation-needed` to highlight that some work related to documentation should be done to resolve the issue.

[2017-01-19 12:22] IzabellaRaulin commented on #839
Renamed `snapctl` to `snaptel`.

[2017-01-19 12:23] IzabellaRaulin commented on #878
Renamed `snapd` to `snapteld`

[2017-01-19 12:55] IzabellaRaulin commented on #1098
This feature has been added by https://github.com/intelsdi-x/snap/pull/931 and works properly (see below):
[code]
and with option "verbose":
[code]

and this issue may be closed.

@candysmurf - if there is still something to be done in the context of this issue, feel free to open it again. Thank You.

[2017-01-19 12:55] #1098 closed

[2017-01-19 17:39] candysmurf commented on #1476
@uwe42, agreed, thanks for your suggestions. I'll label it as an enhancement.

[2017-01-19 20:42] IRCody commented on #1472
@skonefal: Closing this issue since it's getting addressed in pluginsync.

[2017-01-19 20:42] #1472 closed

[2017-01-20 01:05] IRCody commented on #1478
[code]

There are two ways that come to mind that could address this:

1. Modify all of the cache functions to take in to take in namespaces instead of strings. Then implement a key() function that takes the relevant info, including the namespace, and generates a key for all functions in cache. Inside the key function we would concat namespaces using core.Separator instead of calls to Namespace.St

[2017-01-20 12:43] iwankgb opened #1482 "Impossible to stop Snap task"
We have a task that runs for approximately 2 minutes and then is stopped. The task is being run in a loop of configurable number of iterations. Sometimes it is not possible to stop the task.

- OS version
[code]
- Snap version
[code]
- Environment details (virtual, physical, etc.) - bare metal
- Steps to reproduce - keep creating and stopping Snap task.
- Expected results: - task stoppped
- Actual

[2017-01-20 12:52] daniellee commented on #1478
To get around this problem in our production environment, I reduced the amount of metrics we are saving from 5000-10000 metrics every 10 seconds down to 1000 metrics every 10 seconds. This reduced the memory used by Snap from 1-2GB down to 180 - 300MB per instance.

@candysmurf you asked about my expectations, so 180MB is much closer to what I would expect for a collector to be using. IMO a collec

[2017-01-20 17:49] mjbrender commented on #1477
@IzabellaRaulin I really like that use of the label, but not how we've used it to date. The first `type/` label used before `tracked` generates issues for us to follow up on. We'll have to change our GH/J sync if we want to introduce that behavior.

You'll need to open another issue for docs and label that one `type/documentation-needed` in order for it to be assigned as work. 👍

[2017-01-20 17:51] mjbrender commented on #1476
Love this proposal @uwe42. Very cool that you proposed it. We'll keep you posted! 🐢

[2017-01-20 18:04] candysmurf commented on #1478
@daniellee, thanks for details. It helps.

@IRCody & @kindermoumoute, by looking at profiling hotspots. Tackling at accumulated metrics inside cache is a good first step. #1 proposed by Cody seems easy and doable right away. Let's do that first and see how much improvement it may bring. Then we can work on future solutions for other areas.

[2017-01-20 18:21] candysmurf commented on #1478
@cody, agree on #2 as well that's how Oliver and I have been talked about. We can default the separator to the forward slash. If any collector does not want to use that, it can specify its own separator where Snap should honor that. The change should not be significate but document and communication.

By looking at inuse profiling graph, it didn't form the hotspot for that method. That's why I was

[2017-01-20 18:27] candysmurf commented on #1478
Even though we allow a collector to specify its own separator, some constraints should be enforced to a limited set of characters so it won't bring us further marshall/unmarshal/encode/decode issues.

[2017-01-20 18:30] candysmurf commented on #1482
@iwankgb, thanks for logging this issue. Do you mind to share your script for easy to reproduce this issue?

[2017-01-20 19:58] mjbrender commented on #1436
Just a heads up @ss7pro / @andrzej-k - there's discussion starting up next week with someone more familiar with RDT on writing a plugin. Keep up the open conversation on what you want to see and I'll share what we learn.

[2017-01-20 20:00] mjbrender commented on #1413
Hey @rakah! This is very cool. I'm sharing in [our public Slack team](http://slack.snap-telemetry.io) to get others to maybe hop in and help you continue development. I hope you keep exploring as you get used to Go & Snap 👍

[2017-01-20 20:24] ss7pro commented on #1436
Can we setup a bridge for this discussion so I can join ?

[2017-01-20 21:27] lynxbat commented on #1436
@ss7pro @andrzej-k @mjbrender lets move RDT discussion off Github. Agreed we should have @ss7pro be a part of it.

[2017-01-23 15:30] marcin-krolik opened #1488 "Passing configuration on plugin load"
Currently there are two ways how user may provide configuration to plugin

1. Global configuration provided while starting `snapteld` daemon
2. Configuration provided with task manifest

I'd like to propose third way of providing configuration on plugin load with additonal parameter eg.
[code]

This way we could solve issue with either building metric catalog statically (without asking external so

[2017-01-24 12:44] marcin-krolik commented on #1482
I think I managed to debug it. Locking mutex in [control/available_plugin.go:findLatestPool](https://github.com/intelsdi-x/snap/blob/master/control/available_plugin.go#L510)

[code]

seems to solve this issue.

For reproduction and debugging I used below script:
[code]
with task:
[code]
Repeated calls to stop task, and general structure of task manifest are added to simulate exact steps from @iwan

[2017-01-25 12:03] iwankgb commented on #1482
I added mitigation that @marcin-krolik developed to Snap installation that we use and it has not solved the issue unfortunately.

[2017-01-25 12:07] marcin-krolik commented on #1482
It seems my previous finding does not really solves this issue. There is new observation though - when hang occurs it looks like publisher is not killed. For every experiment I did with different publishers (influxdb and file) publisher binary was always visible on list of active processes. All other plugins (collector, processor) where killed as expected.

[2017-01-25 14:40] uwe42 opened #1491 "remove tasks should should ask or stop them"
`snaptel task remove` can only remove stopped tasks. It would be nice if this function would either ask "should i stop the task" with the option  `snaptel task remove -y` (like `apt install cowsay -y`) or assume that task that should be removed stopped anyway and only print a hint like, "task x was running, stopped it".

This would simplify the use of the cli and remove redundant work flows.

[2017-01-25 17:53] candysmurf commented on #1491
@uwe42, thanks for your suggestion. I labeled it as an enhancement. Probably we need to evaluate "-y" theme commands.

[2017-01-25 22:25] #1322 closed

[2017-01-26 07:55] uwe42 commented on #1491
@candysmurf i would be fine with a `snaptel task force-remove` too, if something like `-y` harm the overall cli flow too much.

For me the functionality to not have to stop a task before removing it is the important bit. As a user, if i want to remove a task, i want to remove it. It is clear that that task will not longer run, because i have removed it. So for me it makes no sens to stop it first.

[2017-01-26 11:23] skonefal commented on #1491
Or `snaptel task remove -f [--force]`.

When user would like to remove running task, CLI might answer that cannot remove running task (without `-f` flag).

[2017-01-26 11:26] skonefal opened #1492 "`make proto` should compile protocol buffers for every plugin language supported by snap"
Current `make proto` rebuilds only golang protobufs. Snap supports multiple languages (e.g. C++) and protobufs should be re-created for them too.

[2017-01-26 18:35] kjlyon commented on #1155
This problem can be solved simply by having all snap maintainers add `snap-maintainers` as a highlight word in their slack notifications. This way, whenever a post comes through that has contains the text `@slack-maintainers` or `@intelsdi-x/slack-maintainers`, who ever has their notification set up will be notified.
At this point we have already eliminated the recommendations to use the @snap-mai

[2017-01-26 19:27] IRCody commented on #1492
Would they live alongside the current generated files or be deposited somewhere else?

[2017-01-26 19:31] jtlisi opened #1494 "Configure the TempDir where the API loads plugins."
One issue we are facing with loading plugins through the api is that the temporary directory which houses the temporary files is not configurable in snapteld's configuration.

I noticed on line 192 of [mgmt/rest/v1/plugin.go](https://github.com/intelsdi-x/snap/blob/8080135b12e250cdba74937d679fa767d9c3e5ac/mgmt/rest/v1/plugin.go#L192)
the function `writeFile` uses the the ioutil.TempDir function:
[

[2017-01-26 19:51] kindermoumoute commented on #1494
I like the idea and it would be trivial to implement a temps path in the query - /v2/plugins?tmpPath=myTempPath

What do you think if we add this feature to the version 2 of the API? ([writeFile in v2](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/v2/plugin.go#L209))

[2017-01-26 19:52] jtlisi commented on #1494
That would be perfect!

[2017-01-26 21:20] jtlisi commented on #1494
@kindermoumoute Would this also work if a plugin is loaded through the tribe?

[2017-01-26 21:35] kindermoumoute commented on #1494
AFAIK, yes.

However, Tribe is not implemented in [v2 routes](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/v2/api.go#L60-L78) yet. The reason of that is Tribe is still beta, and we might have a different approach on the API for the next version.

That's why it will take some time before this feature work with Tribe.

[2017-01-27 01:40] mattyjones commented on #1413
@rakah I forked your repo, I am going to take a look at it and can offer some help if you would like. Do you have specific points besides the points you list above.

[2017-01-27 01:41] jcooklin opened #1495 "Global plugin config values are not being set properly"
When snap is started with a config and a plugin has a config item with a default value the value provided in the config (the one snap was started with) should override the plugins default value.

**Given**: `snapteld --config config.yml`
**Run**: `snaptel task create -t task.yml`

**config.yml**:
[code]
**task.yml**:
[code]

**Current result**: The above will result in the config`{'name': 'bob'}`

[2017-01-27 16:33] #1495 closed

[2017-01-27 17:15] nanliu opened #1498 "snaptel configuration file"
Per discussion with @jtlisi, the snaptel client could use a default configuration file to simplify cli usage. Our current snaptel cli does not support ENV var for most options, and the `-c config` option only supports rest-auth-pwd.

We should support all cli options within the config file, or support more environment variable for CLI options to simplify cli usage.

[2017-01-27 17:49] #1155 closed

[2017-01-28 13:01] rakah commented on #1413
Thanks, @mattyjones - I'd be happy to take pr's on the project.  This wasn't the best month for me time-wise but it looks like that's cleared up.  My last commit for bulk updates should help with metric volume but I did it in a rush..  Variable names may be ugly, but the main thing I didn't like is on line 88 of elasticsearch.go..  http.NewRequest had some problem sending requests with data > 4KB.

[2017-01-30 08:48] kciepluc opened #1499 "--auto-discover option needs better documentation"
SNAPTELD documentation page lacks proper explanation of --auto-discover option. The option description is "Auto discover paths separated by colons", but doesn't say anything about the purpose.
There is a single example below with "snapteld --auto-discover /opt/snap/plugins/" line suggesting this option might be used to automatically load plugins, but that's all.

In the SNAPTELD_CONFIGURATION page

[2017-01-30 10:42] IzabellaRaulin commented on #1466
@skonefal, not printing an error message is related to how a plugin handles errors in this case of snap-plugin-collector-pcm there was called `panic(err)`, so only logs contain useful information what happened.
For sure, this is pcm-plugin's issue, so I opened https://github.com/intelsdi-x/snap-plugin-collector-pcm/issues/33 to improve the plugin load error messages. Also, prepared a pull request

[2017-01-30 10:42] #1466 closed

[2017-01-31 09:19] katarzyna-z commented on #1413
Now Elasticsearch publisher is available at https://github.com/intelsdi-x/snap-plugin-publisher-elasticsearch.

@rakah Thanks for your activity but we needed to write Elasticsearch publisher plugin which fits better to our needs. Please take a look at plugin's configuration options, test the plugin and compare with your implementation. If you see something which can be added please open an issue a

[2017-01-31 09:35] kciepluc opened #1501 "executable bit not checked when loading plugin manually"
When I download a precompiled binary plugin from GitHub I can load it manually (snaptel plugin load plugin_name) even if it does not have executable bit set, but when I put the same plugin on auto_discover_path it is ignored and log message like "Auto-loading of plugin 'snap-plugin-name' skipped (plugin not executable)" is generated.
So currently there is inconsistency in the behavior when loading

[2017-01-31 10:57] IzabellaRaulin commented on #1501
cc @intelsdi-x/snap-maintainers

[2017-01-31 16:41] mjbrender commented on #1413
Hey @mattyjones & @rakah, it does seem my coworkers in Poland beat you to the plugin catalog 😄. I still added both of you to the `awesome contribution` list I have secretly been gathering.. stay tuned on that one.

I hope to see you two give the one @katarzyna-z made a try. Thanks again for being part of our budding community.

[2017-01-31 16:45] mjbrender commented on #1413
My other takeaway is that it would be helpful to have more of a "claiming" system here for visibly. Docker community has a `#dibs` functionality (search "dibs" in [this guide](https://docs.docker.com/opensource/workflow/find-an-issue/)).

Or maybe it's not a concern and we go with whoever opens a PR to the catalog first. Any opinions from community members here?

[2017-01-31 16:59] jcooklin commented on #1501
When a plugin is loaded from the CLI the plugin (file) is posted to the REST interface where the server (snapteld) then writes it to a temporary location where it actually runs.

If we were to check the permissions on loading it could happen in the client.

If we changed the behavior and checked for execute permissions in the client we could end up causing as many (or more) user errors than we avo

[2017-01-31 17:11] jtlisi commented on #1501
The current implementation works well for me. I think as long as the release binaries for snap plugins have the executable bit set it should not be an issue for anyone starting out. However, if a change were to be made I think altering the auto-discover-path to use a temp file would be better than the reverse. A temp file would help make cicd a slightly easier process for deploying new versions pl

[2017-01-31 17:47] jcooklin opened #1502 "Do not execute binaries directly from the auto-load path"
Currently, plugins loaded by the snaptel cli via 'snaptel plugin load file_name' are copied to a temporary directory before they are executed. Plugins placed in the auto-load directory are loaded directly from that filepath without going through this process. This prevents plugin files from getting updated when Snap is running since they are in use. We would like snap plugins to behave the same wh

[2017-01-31 17:51] jcooklin commented on #1501
@jtlisi: Issue #1502 has been created to track resolving this.

[2017-01-31 17:57] nanliu commented on #1499
Yeah this isn't documented very well. We should change the default config to use two directories: one for tasks, the other for plugins:

[code]

[2017-01-31 18:19] jtlisi commented on #1502
#1494 is something that relates very closely to this. If the temporary directory could default to `/opt/snap/plugins/tmp/` or something along those lines that would be better than the linux default tmp directory

[2017-01-31 18:20] mattyjones commented on #1413
@mjbrender  I have no real thoughts on claiming or credit. It can be sticky as you have someone who was working through something publicly for several weeks/months and then someone else opens a pr that is ready to go through right away. IMHO both should be given credit towards the project but the one who wrote the pr and got it merged is already on record with that code.

I guess IMHO it depends o

[2017-01-31 21:23] jcooklin commented on #1502
@jtlisi:  agreed.  @rashmigottipati is currently working on #1491.

[2017-02-01 00:54] nanliu commented on #1499
We also could use some community contributions deploying Snap with configuration management tools. I feel like this would avoid having everyone reinvent/rediscover good defaults/best practices.

For example, this could be one way take advantage of this setting to load tasks/plugins (with purging support of obsolete tasks/plugins) in Puppet:

[code]

[code]

[2017-02-01 01:16] rakah commented on #1413
@mjbrender render in this case, #dibs might have been good because I did not get all of the things I wanted in before @PatrykMatyjasek and @katarzyna-z made their PR.  In some other case, it might not be good because someone waiting in the wings with some superior version gets locked out.

I read most of the new one and it's very good.  I'm definitely going to give it a try.  I still wonder if bul

[2017-02-01 01:23] mattyjones commented on #1413
@mjbrender @rakah I second SSL. If you can be secure, do it

[2017-02-01 15:26] skonefal commented on #1492
Maybe directory for each supported language?

Also after some considerations: other languages might require dependencies that are not ubiquitous (like protobuf 3.0.0 libraires for C++) that are not available easily on some systems (e.g. Centos 7), so compiling them by default might be troublesome.

But at least having proto script & make target for other languages would be great.

[2017-02-01 18:11] mjbrender commented on #1413
@rakah @mattyjones SSL for ES, right? If so, let's get an issue on that repo: https://github.com/intelsdi-x/snap-plugin-publisher-elasticsearch

Thanks for your feedback all! I'll look into a claiming system in more detail.

[2017-02-01 18:43] jcooklin commented on #1499
When the documentation is updated in regards to the auto load path it should mention that plugins will need to have the proper permissions (including execute bit set).

Relates to: #1501

[2017-02-01 19:09] jcooklin commented on #1501
Thanks for submitting this issue and highlighting our need for documentation.  Improving the documentation related to the execute bit being required for autoloading plugins will be tracked by #1499.

Manual plugin loading should not require the execute bit.

* The user is already being explicit about wanting the plugin to be loaded
* There is no need to conform to some standard on permissions
  *

[2017-02-01 19:11] #1501 closed

[2017-02-01 21:02] jcooklin commented on #1492
The python lib includes a script for generating the proto here
<https://github.com/intelsdi-x/snap-plugin-lib-py/blob/master/scripts/run_codegen.py>
.

On Wed, Feb 1, 2017 at 7:26 AM Szymon Konefal <notifications@github.com>
wrote:

[2017-02-02 07:59] #1413 closed

[2017-02-02 10:55] katarzyna-z opened #1503 "max_plugin_restarts is not allowed as a parameter in global config"
max_plugin_restarts is not allowed as a parameter in global config.

Steps to reproduce:
1. install snap-telemetry
[code]
2. edit `snapteld.conf` to [this](https://gist.github.com/katarzyna-z/3eda93318d8ae283288d9f6f9c1f2c73) version

3. start snap-telemetry
[code]
4. check status
[code]
5. check logs
[code]

[2017-02-02 17:45] IRCody commented on #1503
I think this is feature exists on master but isn't part of the latest release because the PR making max_plugin_restarts configurable was a merged a few days after 1.0. See: #1246 fixed by #1422.

[2017-02-02 17:55] #1503 closed

[2017-02-03 10:26] msrba opened #1505 "A command like "snaptel plugin reload" would be very nice"
if you want to reload a plugin in you currently must do unload and load the plugin.

Would be very nice to reload a plugin like

snaptel plugin reload <plugin>

[2017-02-06 17:50] IRCody commented on #1505
What is the purpose of reloading a plugin?

[2017-02-06 18:49] brd opened #1506 "Please vendor deps"
I am trying to port snap to FreeBSD with (@stdale) and it would be much easier if things where vendored.  See this post for reasons: https://blog.gopheracademy.com/advent-2015/vendor-folder/

[2017-02-06 18:51] swills commented on #1506
+1

[2017-02-06 18:52] IRCody commented on #1506
Glide populates the vendor folder with locked commits. Can you explain why having the vendor folder directly in the repo makes it easier for your use case?

[2017-02-06 19:28] brd commented on #1506
Oh let me look, thanks!

[2017-02-06 20:13] mjbrender commented on #1506
Love to get your input as well @swills - we've been using Glide for vendoring and appreciate it's conventions over the Go vendor functionality mentioned above. If steps to get Snap built aren't clear in [docs/BUILD_AND_TEST.md](https://github.com/intelsdi-x/snap/blob/master/docs/BUILD_AND_TEST.md) then I'd appreciate recommendations on improving it! cc @brd

[2017-02-06 20:46] brd commented on #1506
I think what we (FreeBSD) needs is a way to parse the Glide yaml file.  That we don't have to maintain a separate list of deps with hashes.

[2017-02-06 20:59] swills commented on #1506
I just didn't see the glide file, I'm used to looking for the vendor dir. The glide file provides what we need for now, thanks.

[2017-02-06 21:07] IRCody commented on #1506
@brd: Can you check if [https://github.com/Masterminds/glide](https://github.com/Masterminds/glide) compiles on freebsd? Then you should be able to run(from the root snap/ dir) `glide install`. This will populate the vendor/ dir from the info in the glide.lock file.

That is the tool we are using for parsing the yaml/lock file to re-populate the vendor directory on builds.

[2017-02-07 04:35] candysmurf commented on #998
@mjbrender, as I'm working on Swagger doc for our APIs. I can submit a PR for it.

[2017-02-07 17:59] mjbrender commented on #998
👏 👏 👏  @candysmurf

[2017-02-07 19:37] erikjjohnson opened #1511 "Documentation for load plugin RESTful api is missing signature details"
Greetings!

I would like to use the RESTful API to load a signed plugin.  The existing documentation describes how to POST a single file with the name "plugin" to v1/plugins (https://github.com/intelsdi-x/snap/blob/master/docs/REST_API.md#plugin-api)  That works great.  However, if I also want to include the signature for this plugin the documentation leaves me at a loss.

Looking through the clie

[2017-02-07 20:53] erikjjohnson commented on #1511
`sdfsdf`

[2017-02-07 21:07] erikjjohnson commented on #1511
I have not yet solved this, but I have learned more, which I will add here for posterity

Using the snaptel client to load a signed plugin results in this basic HTTP request:

    POST http://myserver:8181/v1/plugins
    Host: ...
    User-Agent: Go-http-client
    Transfer-Encoding: chunked
    Content-Type: multipart/form-data; boundary=3f5367f8d9e84827afbbd175bb6295cf
    Plugin-Compression: gz

[2017-02-07 21:35] erikjjohnson commented on #1511
Okay, I got it to work without the custom header and with HTTP 1.0 (non-chunked) or chunked.  For anyone trying this in the future, this POST worked for me:

    POST https://myserver:8181/v1/plugins
    Content-Length: 10326883
    Authorization: ...
    Content-Type: multipart/form-data; boundary=6d11dfd0f6814e89a2cf80abb2f77af4

    --6d11dfd0f6814e89a2cf80abb2f77af4
    Content-Disposition: fo

[2017-02-07 21:35] #1511 closed

[2017-02-09 10:02] PatrykMatyjasek opened #1514 "Snap does not include hostname change"
If hostname will be changed after start snapteld, new one will be ignored. Tag _plugin_running_on_ won't be updated. Snapteld must be restarted to get new hostname. It may affect users running snap on docker. Or if snapteld is started before network is online. in this case hostname is set to localhost, and after set up connection hostname will be changed to domain name, and this change is not incl

[2017-02-09 17:28] #1499 closed

[2017-02-09 22:33] IRCody commented on #1506
@brd, @swills: I'm going to go ahead and close this issue since it seems like your question was answered. If it wasn't please respond here and I'll re-open.

[2017-02-09 22:33] #1506 closed

[2017-02-10 02:05] #1494 closed

[2017-02-10 10:01] katarzyna-z commented on #1482
It is easier to reproduce this issue running several tasks parallely and then after several seconds stopping them.

[2017-02-10 14:34] IzabellaRaulin commented on #985
@intelsdi-x/snap-maintainers, @intelsdi-x/plugin-maintainers, @jackson-intel, @skonefal - do you have any comments or concerns which you would like to add to this RFC? We are planning to close this RFC by the end of the next week (2/17/2017) and focus on development.

[2017-02-10 22:02] #998 closed

[2017-02-13 14:44] sandlbn opened #1515 "Validate schema error on latest build"
Using latest build I get below error.

[code]

Steps to reproduce:

[code]
[code]

[code]

System: CentOS 7
Version: snapteld version test-89bf6c0

[2017-02-13 17:22] jcooklin commented on #1515
A new release will be cut today (1.1.1) addressing this issue.  Stay tuned.

[2017-02-13 17:46] kjlyon commented on #1270
Hello @ericho, It's been a while since we've heard from you. We are going to be closing this issue. If your problem still persists or if we didn't answer your questions, please feel free to open another issue or reach out to us on our [Slack channel](https://intelsdi-x.herokuapp.com/).

[2017-02-13 17:46] #1270 closed

[2017-02-13 20:16] mbbroberg commented on #1515
Correction to the need for a new release - as @jcooklin identified upon review, no release has this behavior - it was only master. #1516 fixed this.

[2017-02-13 21:30] kjlyon opened #1517 "List plugin catalog by metric collected"
It would be helpful to users if they could see plugins based on what metric they are looking to collect. This could either be in a list or an interactive document.

For example, if someone is looking to collect a CPU related metric they would see a table pop up like the one below. Important fields are: metric, data type, and which plugins this metric is available in.

| Metric

[2017-02-13 21:37] kjlyon commented on #1446
Hello @subhabratamallick, we have an issue open to address this, #1517. This feature request will help address your issue faster and reduce amount of time searching through documentation of many plugins. If you have ideas on implementation, or want to add more to the issue described, feel free. We welcome all contribution!

[2017-02-13 21:37] #1446 closed

[2017-02-14 15:24] sandlbn commented on #1515
@jcooklin thanks for new build but latest build still doesn't work

[code]

snapteld returns to terminal prompt right after execution:

[code]

[2017-02-14 15:43] jcooklin commented on #1515
@sandlbn do you have a snapteld config in /etc/snap/?

[2017-02-14 15:56] sandlbn commented on #1515
Nope, its a new system, do I need to have ?

On 14 Feb 2017 3:43 PM, "Joel Cooklin" <notifications@github.com> wrote:

[2017-02-14 16:49] jcooklin commented on #1515
@sandlbn no but I was thinking maybe it defined a location for the log and in it we would see some kind of error.

I'm unable to reproduce the issue you are describing.  I've tried building and downloading "latest" on both Linux and Mac.  Can you [strace](https://linux.die.net/man/1/strace) the starting of snapteld to see if that gives us a hint as to what is wrong?

![img](https://www.dropbox.com

[2017-02-14 18:04] sandlbn commented on #1515
Yes that was my fault, config was stored after first run. Please close this
ticket .

On 14 Feb 2017 5:49 PM, "Joel Cooklin" <notifications@github.com> wrote:

[2017-02-15 00:12] #1515 closed

[2017-02-15 03:15] rehank30 opened #1519 "Error while loading plugin"
when i try to load the plugin using the command : snaptel plugin load snap-plugin-collector-facter
it is showing the following error on my Mac machine:
Error loading plugin:
fork/exec /tmp/400102727/snap-plugin-collector-facter: exec format error

[2017-02-15 11:15] msrba commented on #1505
Its help to develop plugins a little faster / easier. Because you do not increase the version but want to have the new code for the plugin.

[2017-02-15 12:23] andrzej-k commented on #1517
I think it's much needed @kjlyon . Could we also have an API to get this kind of information in a structured way? It could be then used to automate plugin loading based on list of metrics to collect. Of course any user facing tools could also leverage, or build on top of, such API.

Another improvement would be to have at the same time information that given metric is available in version X of the

[2017-02-15 13:32] IzabellaRaulin opened #1520 "Cannot remove an Ended Task (windowed scheduler)"
## What happened:
An "_Ended_" task cannot be removed - neither directly removing nor after prior stopping

This happens for a [**windowed schedule**](https://github.com/intelsdi-x/snap/blob/master/docs/TASKS.md#schedule) for which `stop_timestamp` is defined. That means that after this time the task is ended - this is related to changing the status from "_Running_" to "_Ended_" in line [pkg/sched

[2017-02-15 13:35] andrzej-k commented on #1520
Ended state should also probably be described here: https://github.com/intelsdi-x/snap/blob/master/docs/TASKS.md#task-states

[2017-02-15 13:39] IzabellaRaulin commented on #1520
What can be added, ideally an _Ended_ Task should be something that can be removed without having to stop, so it would be similar what has been done for _Disabled_ Task in https://github.com/intelsdi-x/snap/issues/1043.

[2017-02-15 14:05] mkleina commented on #1519
This issue applies to plugin itself, see:
https://github.com/intelsdi-x/snap-plugin-collector-facter/issues/22

[2017-02-15 14:05] #1519 closed

[2017-02-15 16:41] mkleina opened #1521 "snaptel task watch command in Snap version 1.1.0 hangs"
There is issue with task watching from command line in Snap version 1.1.0 and current master (85079bc). Snap CLI stops watching task after some time and CPU usage increases.

Issue was mentioned here: https://github.com/intelsdi-x/snap-plugin-collector-cpu/issues/50
I checked it for several different collector plugins and issue still exists, so it is not plugin-related issue.

It seems that for so

[2017-02-15 16:42] mkleina commented on #1521
@jcooklin

[2017-02-15 17:11] jcooklin commented on #1521
Good catch @mkleina.

[2017-02-15 19:23] IRCody opened #1522 "RFC: Plugin Initiated Workflow"
## Request For Comments:

**Date To Close**: 02/21/2017
**Required Participants**: @jcooklin, @bjray, @kjlyon
# Summary:

Snap currently supports only interval based collection driven by Snap. For some types of metrics, it would be more useful to have the plugin make the decision of what interval to collect metrics on. This proposal is a description of a method to add this capability to Snap, whic

[2017-02-15 21:10] discoduck2x opened #1523 "[TRIBE] Possibility to auto rejoin/stay in agreement over reboot/restart of snap?"
Ive got a 3 hosts tribe going. A is seed target by B & C. If i restart B or C i have to rejoin the agreement manually. Is there any way to have it do that automatically via conffile or do i have to schedule snapctl command at startup.... (same thing happens off course if i just do systemctl restart snap-telemetry)

[2017-02-15 21:42] nanliu commented on #1523
In the snapteld.conf file you can set:

[code]

[2017-02-16 11:49] discoduck2x commented on #1523
@nanliu hello
i do have that in the snapteld.conf .

1. i reboot the host centos10 below
2. it comes back up, snap-telemetry is running, i can see the members and the agreement and that its missing one host (total of 4 hosts should be in agreement)
3. it does not rejoin , i have to join by "snaptel agreement join all-nodes centos10.localdomain"
4. its seed target 10.0.0.101 is host centos7.localdo

[2017-02-16 13:44] marcintao opened #1524 "RFC: Securing Snap plugin communication"
## Request For Comments: Securing Snap plugin communication

**Date To Close**: 2/23/17
**Required Participants**:  none specifically, all welcome 👍

**Summary**: Introduce TLS-secured channel between plugins and framework.
**Preliminary design**: Design - TLS communication to gRPC in framework and plugins

**Proposal**:

**Why**: Secure communication and authentication are critical components for

[2017-02-16 14:12] katarzyna-z commented on #1482
My method of reproduction is accessible by following steps:
1. get test.sh - script to download plugins, task manifests and run test
[code]
2. `chmod 777 test.sh`
3. launch test.sh

[2017-02-16 18:12] nanliu commented on #1523
Ah, it's not the tribe, but the agreement. For now, the only solution would be something like systemd service ExecStartPost hook.

[2017-02-16 18:49] jcooklin opened #1527 "Support building snap on freebsd"
Current issues include:
* scripts use shebangs that are not currently portable
* cgo needs to be enabled for freebsd (due to deps)

![img](https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRFHTf5CyfwztlFWcNC71Gz0dbUksf3C_-tNQ3DOfehRnitEPRd_w)

[2017-02-16 19:27] jowenopsvision commented on #1522
This would be great for monitoring things like Netflow and as mentioned log files. The proposed design sounds great for accomplishing the goal.

[2017-02-16 19:35] mbbroberg commented on #1527
FYI @brd & @swills as FreeBSD peoples 👍

[2017-02-16 19:39] brd commented on #1527
Like, this?

https://svnweb.freebsd.org/ports/head/net-mgmt/intel-snap/

[2017-02-16 19:40] brd commented on #1527
I need to rename it to snap-telemetry, but I am waiting for @stdale's work to be merged to master and then I will update and rename.

[2017-02-17 07:40] discoduck2x commented on #1523
@nanliu ok.. but do you agree that it makes sense to be able to configure it to persist across restarts of service?

[2017-02-17 17:42] #1527 closed

[2017-02-18 09:00] discoduck2x opened #1530 "[Question] Tribe multiple seed hosts?"
Is there any plan for allowing multiple seed hosts for snap tribe functionality?
Right now if i restart "all" hosts in a tribe their snap daemons will fail if their seed target isnt available at startup.

[2017-02-20 14:16] mkleina commented on #1530
cc @jcooklin

[2017-02-21 17:27] jcooklin commented on #1530
There are currently no plans to persist tribe configuration data between reboots.   Currently if the entire global membership became unavailable (all of the nodes were shutdown or couldn't communicate) an outside configuration capability would need to step in to bootstrap the cluster.

[2017-02-21 19:01] discoduck2x commented on #1522
@IRCody would this apply to publisher plugins aswell? e.g influx publisher which currently only seems to be able to send metrics to influx on each interval specified for the collector e.g cpu. what i mean is that influxpublisher should have a flush interval based on either time interval and/or points/metric count(buffered) (to avoid making to many small constant writes. the influx datasource is be

[2017-02-21 19:15] IRCody commented on #1522
@discoduck2x: A publisher could already be buffering it's writes to external sources I think. Snap sends the data to the publisher as it gets it but AFAIK there is nothing stopping individual plugins from buffering a certain amount before publishing or implementing a flush interval themselves.

[2017-02-21 21:55] kjlyon commented on #1172
This issue was captured in #1272 which was merged to the Snap feature branch `v2_rest_api`.

[2017-02-21 21:55] #1172 closed

[2017-02-21 22:02] kjlyon commented on #1401
Hi @FionaLi1990, we haven't heard from you in a while. Due to lack of response, I will be closing this issue. Please reach out to us here or on [our Slack channel](http://slack.snap-telemetry.io/) to open this issue again or raise another question. Thank you.

[2017-02-21 22:02] #1401 closed

[2017-02-21 22:17] kjlyon commented on #1425
@mbbroberg, were you able to answer your question? If not, I would be happy to go over some ideas with you.

[2017-02-21 22:42] kjlyon commented on #1238
Hi @sandlbn, @IRCody opened [this](https://github.com/intelsdi-x/snap-plugin-lib-go/issues/43) issue to address your comment. This issue will be closed. Please leave any further comments on that issue.

[2017-02-21 22:42] #1238 closed

[2017-02-22 00:46] kjlyon commented on #1342
@akantak, you rock! Thank you for raising this issue and then going above and beyond to contribute a Snap collector plugin for Jolokia!

To make your plugin even better, check out our tips in [PLUGIN_AUTHORING](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_AUTHORING.md). In there it explains how to get your plugin listed in our [Plugin Catalog](https://github.com/intelsdi-x/snap/blob/

[2017-02-22 00:46] #1342 closed

[2017-02-22 23:41] kjlyon commented on #775
This issue is more of a feature request than an RFC - especially since nobody has commented. This proposal sounds like a good idea to me, it has been added to our backlog of issues but is not currently prioritized.

[2017-02-23 00:14] jcooklin opened #1532 "The framework should include units when calling CollectMetrics"
Expected: When a plugin is loaded and it includes a [unit](https://github.com/intelsdi-x/snap/blob/fb/adds-units/core/metric.go#L47) the [unit](https://github.com/intelsdi-x/snap/blob/fb/adds-units/core/metric.go#L47) should be set on the metrics provided to the plugins CollectMetrics.

Actual: When CollectMetrics is called the provided metrics do **not** have the unit set.

[2017-02-23 14:06] #1532 closed

[2017-02-23 23:06] kindermoumoute commented on #1425
He was more asking to add this feature to the CLI. We could add this feature in the next CLI.

[2017-02-23 23:25] kjlyon commented on #1425
Okay, thanks for clarification.

[2017-02-23 23:34] IRCody commented on #1522
Closing because the implementation has been started in #1526. Feel free to checkout the implementation and comment there.

[2017-02-23 23:34] #1522 closed

[2017-02-24 00:59] IRCody commented on #1505
@msrba: My concern is mostly about exposing something that is only useful to developers to all users. I haven't noticed it being a problem in my experience but I'd be curious to hear from others on if it seems like something we'd want to do.

cc: @mbbroberg, @bjray, @jcooklin, @kjlyon.

[2017-02-24 06:52] #1482 closed

[2017-02-24 10:04] bpiraeus opened #1536 "STD_TAG_PLUGIN_RUNNING_ON should be optional"
There should be a way to disable this tag being applied via configuration parameter as opposed to having to edit the code to disable it.

This works, but it's very obviously the 'easy fix' as opposed to the 'correct methodology'

[code]

[2017-02-24 18:17] #1502 closed

[2017-02-24 22:26] IRCody commented on #1536
Can you give a little more context by supplying your reasoning for wanting it removed?

[2017-02-25 00:44] bpiraeus commented on #1536
The short version is that it's not a meaningful tag in our environment, we have a fairly strict set of requirements in terms of metric names, tag names/values. I've already patched my fork (as seen in the initial comment) to remove it (I'm still in the discovery and testing phase with Snap-Telemetry), but (in my personal opinion) there's no justification for a hard coded tag. If someone has a spec

[2017-02-27 08:27] #1524 closed

[2017-02-27 09:01] IzabellaRaulin commented on #985
Focusing on development. A pull request providing single run task will appear in this week.

[2017-02-27 09:01] #985 closed

[2017-02-27 20:06] IRCody commented on #1514
It seems like we check for hostname changes every hour, see: [hostnamer](https://github.com/intelsdi-x/snap/blob/master/control/metrics.go#L58). Do you think this should be more frequent/configurable?

[2017-02-27 21:21] nanliu commented on #1536
I believe the reason behind this feature is to allow the same task to be loaded across different systems but tagged with system specific info. The goal is smarter tags which do not require tediously updating tasks for every system. This can be achieved now with environment variable in tasks v.s. how it's implemented here.

[2017-02-28 07:41] PatrykMatyjasek commented on #1514
I think it should be configurable. But I'm not sure there should be time interval, or maybe on collection run. What do you think @IRCody ?

[2017-02-28 10:47] jjlakis commented on #1249
Did a lot of research and tests of `govmomi` already. I'll be working on this plugin in next few weeks. @andrzej-k please assign

[2017-02-28 11:17] andrzej-k commented on #1249
Hey @jjlakis - I cannot assign you (seems that only snap maintainers can be assigned) - but acknowledge that you'll work on this - thank you!

[2017-02-28 22:22] rashmigottipati opened #1539 "Deprecating snaptel configuration file"
- **Snaptel configuration file will be deprecated and will be removed as part of 2.0 release**
- Plugins using the configuration file will continue to work after the 2.0 release, but there will not be support for the -c config option.

**Reasoning**

To simply the snaptel cli usage, it is ideal to either support more environment variables for the CLI options or to support all the cli options withi

[2017-02-28 22:53] nanliu commented on #1539
If this functionality needs to be preserved, it would make much more sense to have an option file that matches the CLI flags instead of `rest.rest_auth_pwd`. So either way, it makes sense to deprecate and remove the current implementation.

[2017-03-01 15:05] katarzyna-z commented on #1438
Noisy logs come from grpc logger, see:
- `grpc: addrConn.resetTransport failed to create client transport...` - [https://github.com/grpc/grpc-go/blob/master/clientconn.go#L786](https://github.com/grpc/grpc-go/blob/master/clientconn.go#L786)
- `grpc: addrConn.transportMonitor exits due to ...` - [https://github.com/grpc/grpc-go/blob/master/clientconn.go#L886](https://github.com/grpc/grpc-go/blob/ma

[2017-03-01 17:38] mbbroberg commented on #1249
Cool @jjlakis. Heads up that API calls to vCenter can be very expensive, so it will be important for you to recommend usage in the documentation (for example, say you only recommend 1m intervals).

[2017-03-01 18:08] #1498 closed

[2017-03-01 21:31] IRCody commented on #1514
@PatrykMatyjasek: I believe it was done on collection runs previously but that's a decent amount of extra tests potentially (multiple tasks running at low intervals). I believe removing that was the impetus behind adding the time interval for updating it. It seems like no matter what time interval you select you could run into problems/inconsistent/out of date information. Ideally there would be a

[2017-03-01 22:33] IRCody commented on #1438
We can use [SetLogger](https://godoc.org/google.golang.org/grpc/grpclog#SetLogger) to set a logger for grpc -- either to make it match our log format or to ignore certain kinds of messages except when logs are set to debug.

[2017-03-01 22:35] mbbroberg commented on #1505
Hey @IRCody and @msrba this is a great feature of a proper dev environment for plugins. I'd like a tool that wraps up a plugin dev environment and has helpful tools and keep those separate from the CLI/API. If someone in our community had the time, it'd be awesome to fork something like [Lita's dev environment](https://github.com/litaio/development-environment) and make it a plugin dev environment

[2017-03-02 07:54] msrba commented on #1505
I like the idea to have an fast up environment for plugin development.

[2017-03-02 10:09] #1520 closed

[2017-03-02 10:47] katarzyna-z commented on #1438
@IRCody Thanks, I'll try to use SetLogger.

[2017-03-03 12:56] iwankgb commented on #1203
This is no longer relevant, I believe.

[2017-03-03 21:45] rashmigottipati opened #1542 "Decouple appc from Snap"
**Reasoning**
Problem is that appc is using some of the k8s files which involves downloading the whole k8s. When a new user clones snap repo and runs "make", it would take a long time because of appc downloading kubernetes. Thereby, removing the appc dependency from Snap will pave way for the dependency on k8s to be eliminated.

**Solution**
Updating to latest version of appc solves this issue as

[2017-03-06 19:05] daniellee opened #1545 "Make DefaultHealthCheckTimeout configurable"
Feature request for making DefaultHealthCheckTimeout configurable.

DefaultHealthCheckTimeout is currently [hardcoded to 10 seconds](https://github.com/intelsdi-x/snap/blob/master/control/available_plugin.go#L48).

#### My usecase

I am writing a collector to collect stats from an API a couple of times a day and then publish the data to Graphite. It takes around 1-2 minutes to collect all the data

[2017-03-06 19:28] daniellee commented on #1545
dupe of #1208

[2017-03-06 19:28] #1545 closed

[2017-03-07 07:33] #1438 closed

[2017-03-08 19:49] nanliu commented on #1439
Entropy Plugin: https://github.com/janczer/snap-plugin-collector-entropy

[2017-03-13 17:04] candysmurf opened #1547 "Addition and Refactor Snap Restful APIs"
In order to become compliant with OpenAPI Specification standard (formally known as Swagger) and removing business logic from the client, refactoring and/or addition to the following Snap APIs is necessary.

### Adding new rest APIs

### Current State
Those CLIs have no rest APIs. Business logic is mixed inside CLIs

### Future State
Creating new Rest APIs and corresponding CLIs for the following:

[2017-03-14 12:39] andrzej-k commented on #1547
Hi @candysmurf. I'd have few questions:

1. For new APIs could you provide more detailed description, ie. what is a **running plugin**, and what does it mean **expose a task**?
2. Could you also provide more details, like method type, example request and response to all new APIs?
3. Could you expand more on **new Rest APIs for authentication and SSL** - how new API suppose to look like?
4. Is API

[2017-03-14 17:02] iwankgb commented on #1514
It affects us to. CC: @ppalucki, @squall0gd.

When new AWS instance is launched from custom AMI then ``snapteld`` is launched before networking is fully configured, apparently.

[2017-03-15 07:53] gonewest818 opened #1549 "can't build snap plugins on a busybox system"
It appears you can't build the snap plugins on a busybox system, because `scripts/build_plugins.sh` invokes `xargs -P ...` and the busybox version of xargs doesn't support that flag. For portability it seems prudent to detect if we're on a busybox system and drop the -P if it's not supported. Yes, in that case the plugins wouldn't build in parallel and thus build time will be longer, but at least

[2017-03-15 08:07] katarzyna-z opened #1550 "`$` as a separator in the task manifest causes panic"
`$` as a separator in the task manifest causes panic. Recovery mechanism works and Snap still works but unexpected error occurs.

Step to reproduce:
1. Run Snap
2. Load plugin
3. Create a task manifest with separator set a `$`, for example:
[code]

Current state:
[code]

Expected state:
Panic does not exist. Error message is returned.

[2017-03-16 09:35] #1105 closed

[2017-03-16 12:16] andrzej-k commented on #1549
Hey @gonewest818 Thanks for reporting this issue! Would you be open to fix it ;) - we would greatly appreciate contribution.

[2017-03-16 12:45] andrzej-k opened #1554 "Describe task schedule parameters"
I think that in the ["Schedule"](https://github.com/intelsdi-x/snap/blob/master/docs/TASKS.md#schedule) section of our tasks documentation we could provide more information what are the:
- format (especially for "interval" and " start/stop_timestamp" params)
- default value
- minimum value
- maximum value
- increment (if applicable - i.e. for simple/windowed interval)

for schedule parameters:
- i

[2017-03-16 16:40] gonewest818 commented on #1549
yes, certainly.

[2017-03-16 17:17] candysmurf commented on #1547
@andrzej-k, thanks for your good questions. Please see my reply below:

1. Currently,  we have CLIs to show
  * a list of running plugins.
  * export a task
  * swap plugins
The implementation for all them only have CLIs and no APIs. The problem is that they embed business logic inside CLIs. Every Snap client has to implement same logic inside its client if Snap does not provide APIs.

2. I cannot

[2017-03-16 17:54] jtlisi opened #1555 "Autoloaded plugins use default temp dir"
https://github.com/intelsdi-x/snap/blob/master/control/control.go#L394

When a plugin is discovered using the auto-discovery path, it is loaded to the default temp directory. I think it should load to the path configured in the snapteld configuration like when a plugin is loaded through the rest api.

[2017-03-16 18:24] rashmigottipati commented on #1555
Thanks for opening this issue and submitting a PR, Jacob. I agree with your point. Currently, it is loading to the default temp directory. Rest api loads it using https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/v1/plugin.go#L128 , so autoload should follow the same path. However, the default will remain the same for both routes. Your PR will fix this.

[2017-03-17 02:12] rashmigottipati commented on #1550
Great catch, @katarzyna-z . Is it in the scope of #1551 to handle illegal namespace separators other than $ in the task manifest?

[2017-03-17 07:58] katarzyna-z commented on #1550
#1551 is to protect against `index out of range` error. Other errors connected with namespace separator are returned by unmarshalling, for  `$` namespace was empty and Snap wasn't prepared for this case.  $ in task manifest indicates env variables. If variables are not set then namespace is empty.

[2017-03-17 14:05] dishmael opened #1558 "Clusters and Workers"
Not sure if this is a feature request or worthy of an RFC, but I think it is worthy of consideration/discussion.

**Problem and Proposed Solution**
Often, we have a need to gather metrics from a remote system from a centralized collector or, ideally, cluster (tribe) of snap collectors.  In the latter architecture, I would want to define a single task to collect one or more metrics from a remote no

[2017-03-17 22:20] mbbroberg commented on #1038
@intelsdi-x/snap-maintainers I think a lot of this work has been completed, albeit not exactly as described. I'm closing this one as a combo of duplicate/won't fix.

See:
#1150
#1296

[2017-03-17 22:20] #1038 closed

[2017-03-17 23:39] rashmigottipati commented on #1550
Thanks for clarifying @katarzyna-z

[2017-03-20 08:12] #1550 closed

[2017-03-20 08:23] #1477 closed

[2017-03-20 08:54] #1439 closed

[2017-03-20 15:50] aarontay opened #1560 "Auto-generate task files from command line for loaded plugins"
As a Snap developer and plugin author, I would like to be able to automatically generate task configuration files for plugins. For example, following the loading of a plugin and prior to creating a task, I could issue a command line query to see what configuration parameters are available to set in a loaded plugin, then I could issue a second command to automatically generate a task file with my u

[2017-03-20 16:26] aarontay opened #1561 "Request: Collector Plugin source template for creating mock signal collections, e.g., a signal generator"
As a Snap plugin author and developer of analytics processor plugins, I would like a source template of  a collector plugin that I can easily set to generate a multitude of configurable test signals, such as sine waves, triangle waves, square waves, frequency sweeps, etc, possibly where the type of signal is specified in the task file and the source template contains all of the necessary algorithm

[2017-03-20 21:09] dishmael opened #1562 "Windows x86 Version"
I have a customer that has about 200 nodes running Windows 7 Pro x86 (32-bit) and need to get a build of Snap that can be installed on those nodes.

[2017-03-20 21:46] mbbroberg commented on #1561
Hey @aarontay - what does this look like in practice? I don't believe it's a plugin, but I am not sure where that fits into Snap.

[2017-03-20 22:28] aarontay commented on #1561
@mbbroberg  It is essentially an extension of the random walk collector plugin that I currently use in support of the development of analytics processor plugins. The request is essentially for making it simpler to generate standard test signals that are used directly in support of the development and testing of new processor type plugins.

For example, if I am developing a noise reduction processo

[2017-03-21 02:59] candysmurf opened #1564 "Flaky test in Snap scheduler"
This test often fails but not every time.

[code]

[2017-03-21 07:22] #1549 closed

[2017-03-21 19:11] jcooklin commented on #1562
Closed by #1563

[2017-03-21 19:11] #1562 closed

[2017-03-22 13:42] katarzyna-z opened #1565 "Plugin wanted: Slack publisher"
I'd like to get a publisher which can publish on Slack to alert operators about critical errors.

[2017-03-22 13:47] katarzyna-z opened #1566 "Plugin wanted: logs filter"
I'd like to have a processor plugin to filter logs (using tags) collected by [snap-plugin-collector-logs](https://github.com/intelsdi-x/snap-plugin-collector-logs).

[2017-03-22 13:55] katarzyna-z opened #1567 "Plugin wanted: InfluxDB data collector"
I'd like to have a collector which can get data stored in InfluxDB to calculate statistics based on them.

[2017-03-22 16:47] IzabellaRaulin commented on #1564
Links to flaky tests which have been identified:
- [scheduler_medium_test.go#L2; commit 29f15e0b](https://github.com/intelsdi-x/snap/blob/29f15e0b220dc868ac5465f54889b7226891d576/scheduler/scheduler_medium_test.go#L273)

- [scheduler_medium_test.go#L506; commit 0ac530ac](https://github.com/intelsdi-x/snap/blob/0ac530ac5495a76c0d1e5c1656e76ba299d3f71c/scheduler/scheduler_medium_test.go#L506)

[2017-03-22 18:01] IzabellaRaulin opened #1569 "Improve test methodology in scheduler"
Currently (commit b3e990f8), there is a `time.Sleep()` used to determine the moment when we expect the schedule should be _Ended_, e.g [scheduler/scheduler_medium_test.go#L266](https://github.com/intelsdi-x/snap/blob/b3e990f880fcc1d962509cb08c6c659a4d9d16f1/scheduler/scheduler_medium_test.go#L266)

Catching TaskEndedEvent (emitted [here](https://github.com/intelsdi-x/snap/blob/master/scheduler/tas

[2017-03-22 18:12] rehank30 opened #1570 "linux plugins on mac"
i am new to snap and have been using mac to run snap plugins.
As most of plugins are for linux, is there any way to run these plugins on mac?

[2017-03-22 20:47] rashmigottipati commented on #1570
@rehank30 To be able to run linux specific plugins on mac, you need to either have a physical linux box or a virtual one. I believe some of them require you to run them on physical linux boxes.

[2017-03-23 00:22] #1555 closed

[2017-03-23 08:44] andrzej-k commented on #1558
@dishmael Thanks for submitting this feature proposal. It seems to resemble #773 a bit.
Would you be interested in preparing design/RFC for this feature or would you rather just use it when available?

[2017-03-23 16:03] dishmael commented on #1558
I would be happy to contribute any way I can.  I have never written an RFC before so would not know where to start.

[2017-03-23 20:05] janczer commented on #1465
This could be more helpful

[code]

[2017-03-24 13:43] katarzyna-z commented on #1566
@kdembler is working on this plugin :)

[2017-03-24 13:45] katarzyna-z commented on #1567
I'm working on this plugin.

[2017-03-24 22:59] #1564 closed

[2017-03-25 18:10] marcin-krolik commented on #1565
Hi,
I'd like to implement this one :)

[2017-03-27 09:05] #1569 closed

[2017-03-27 17:21] candysmurf opened #1573 "Document Snap API V2 with OpenAPI Specification (fka Swagger)"
Document Snap API V2 with OpenAPI Specification. Benefits:

**Works with various clients**:
* go-swagger generated snap-client-go
* swagger-ui
* curl
* Rest clients
* Snap CLI (snap-cli)

**Generate various clients for different programming languages**
* The specification may be used for generating various clients in different programming languages in the future.

[2017-03-27 22:18] rehank30 commented on #1570
@rashmigottipati thank you

[2017-03-27 22:19] candysmurf commented on #1570
The question is answered.

[2017-03-27 22:19] #1570 closed

[2017-03-28 02:24] fengw084 commented on #1567
Hello, I found that the SNAP platform will not be executed immediately after the task is started. For example, I started a TASK task, set the scheduling cycle to 3 hours, start the task and will not be implemented, but after 3 hours after the implementation of the first time. Do not know if there is any way or set up to allow my task to start after the first implementation, so you can quickly see

[2017-03-28 02:40] fengw084 opened #1574 "Scheduled immediately"
I want to start a task, you can immediately execute once. Such as setting a task interval of 3 hours, I would like to start after the implementation of the first time, wait until 3 hours after the implementation of the second, so that you can immediately see the results rather than wait 3 hours after the current can pass A set to complete this function?

[2017-03-28 08:42] mkuculyma commented on #1574
@fengw084 What version of Snap are you using? Do you have our latest release? The functionality you are requesting was introduced with PR https://github.com/intelsdi-x/snap/pull/1544 and is now part of the Snap 1.2 release. You simply need to upgrade your Snap version. No changes in task manifest are required.

[2017-03-28 08:45] mkuculyma commented on #1567
@fengw084 please see the answer here https://github.com/intelsdi-x/snap/issues/1574

[2017-03-28 11:07] daledude opened #1575 "Random large delays between task runs"
I have 4 tasks (dbi, processes, procstat, psutil) that are configured to run every 60 seconds. I'm using the default config given within redhat rpm. snap version 1.2 on kernel 2.6.18-238.9.1.el5. Below is a clip of the snap log where it shows nothing run between 03:43 and 03:48.

[code]

[2017-03-28 12:28] IzabellaRaulin commented on #1575
Hello @daledude, I checked how it looks on my setup - I tested task with cpu collector and file publisher. I received "ping" from those two plugins at intervals of 5 s:
[code]

In this case below starting a workflow started on 14:06:43 (so only 1 sec after the previous log), but I can image that starting workflow might happen **up to 5 sec after the last logged received ping** based on how it work

[2017-03-28 12:42] IzabellaRaulin commented on #1575
Oh, now I see that between the last "Ping Received" log and "Starting workflow" you got **5 minutes gap**. What is the status of your task after that? Do you have any Task Hits/Misses or Failures (you can check it in output `snaptel task list`? Basically, your task has 60s interval, so it's strange that there is no log in the meantime.

[2017-03-28 14:14] daledude commented on #1575
@IzabellaRaulin , below is the list output:
[code]

Here is a snippet from the /tmp/snap_plugin.log:
[code]

Looking for another delay I came across the below which shows a **Heartbeat timeout**. Is my assumption that a single plugin shouldn't delay any other?

[code]

[2017-03-28 14:25] mkuculyma commented on #1575
@daledude could you provide us your task manifests and global config (with [setfile](https://github.com/intelsdi-x/snap-plugin-collector-dbi#configuration-and-usage) for dbi collector) so that we could try to reproduce the problem you are facing? Perhaps it is the fault of dbi collector, as there are no pings received from dbi in your logs.

[2017-03-28 14:48] daledude commented on #1575
@mkuculyma, I thought no pings was odd but was thinking dbi was so old that maybe it was a new snapd thing. You can find all my configs [here](https://gist.github.com/daledude/ba46f4e2f6250bdd34d43e3b0e2f8ad8):

[2017-03-28 18:04] daledude commented on #1575
I think I know the issue but not the cause yet. Telegraf also has this behaviour. The time that snap sees becomes 5 minutes into the future for some reason. Running a loop over the date command doesn't show this issue. So, my guess is the time function snap and telegraf use are possibly a problem with my old kernel. Collectd doesn't seem to have this issue.

What function does snap use for the tim

[2017-03-28 18:41] IzabellaRaulin opened #1576 "Flaky tests in scheduler/distributed_task_test.go"
I received the following failures:
![image](https://cloud.githubusercontent.com/assets/11335874/24364177/3a60246a-1312-11e7-9613-dc1ac4aac9f9.png)

 It looks like those tests reveal that for unsubscribing task dependencies happens in different moments for stopping task vs ended/disabled task.

a) Scenario for stop task:
stopTask() -> unsubscribePlugins -> emit TaskStoppedEvent
:point_right: https:

[2017-03-28 19:11] IzabellaRaulin commented on #1575
It looks that only logs are affected - we use https://github.com/Sirupsen/logrusto logging and it has own timestamp. If you would like to look more into the code:
- logging "Ping received" happens here:
    -> https://github.com/intelsdi-x/snap/blob/master/control/plugin/session_deprecated.go#L122
- setting lastPing timestamp happens here:
     -> https://github.com/intelsdi-x/snap/blob/master/con

[2017-03-29 08:29] #1574 closed

[2017-03-29 08:37] mkuculyma commented on #1575
@daledude could you please let us know if you are still experiencing this issue after kernel upgrade? 🐢

[2017-03-29 11:29] daledude commented on #1575
@mkuculyma upgrading the kernel is a sensitive issue. But, it does appear a bug before RHEL kernel 2.6.18-308 with clock_gettime().

Thanks.

[2017-03-29 11:29] #1575 closed

[2017-03-29 13:25] andrzej-k commented on #1558
Your problem statement looks like a good RFC, you can also check how we wrote RFCs in the past, for example #1522
What I would be more interested in is some description of design and implementation alternatives so we can gather opinions on how to implement this finally. Thanks for your involvement so far.

[2017-03-30 06:14] madhutummi commented on #1466
Hi @skonefal, tried using snap-plugin-collector-pcm and I am getting "GetMetricTypes call error : exec: "pcm.x": executable file not found in $PATH"
pcx.x excutable is working on the system and I have exported pcm binary path appropriately but still it fails with the above error.

can you please help me to resolve this issue.

Thanks
Madhu

[2017-03-30 06:14] madhutummi commented on #1466
Typo in previous comment it should be pcm.x

[2017-03-30 07:01] PatrykMatyjasek commented on #1466
This plugin needs root permissions. Make sure that $PATH is visible in root space. If you're loading it as a user, try sudo -E

[2017-03-30 19:20] #1465 closed

[2017-03-30 21:07] dishmael commented on #1558
Sounds good!  I'm traveling right now so will knock this out as soon as I get back.

[2017-03-31 03:25] madhutummi commented on #1466
Hi @PatrykMatyjasek, can you please help on this issue as I am new to snap.

Thanks
Madhu

[2017-03-31 06:08] PatrykMatyjasek commented on #1466
@madhutummi could you join to our slack? It will be easier to help you on this.

[2017-03-31 07:04] katarzyna-z opened #1578 "Wrong description of variable (auto_discover_path) in exemplary config"
There is wrong description of auto_discover_path in exemplary config, see [examples/configs/snap-config-sample.yaml#L31](https://github.com/intelsdi-x/snap/blob/master/examples/configs/snap-config-sample.yaml#L31). The list of directories is separated by colons.

[2017-03-31 12:30] VictorRodriguez opened #1579 "Machine checks support"
Hi

Is there any plan to support machine checks? MCE

Regards

[2017-04-03 03:05] candysmurf commented on #1579
@VictorRodriguez, Would you please elaborate what machine checks support you were expecting from Snap?

[2017-04-03 09:43] jjlakis commented on #1249
@byronschaller We are actively working on vCenter plugin, especially on host-, datastore- and virtualdisk-level. Metric list will be generated from available vSphere perf counters. We don't want to miss anything, so could you tell me is there any specific usecase or feature of this plugin you think it should contain?

cc @andrzej-k @mbbroberg

[2017-04-03 10:12] mkuculyma opened #1580 "Snap doesn't clean tmp folder after stopping when using `auto_discover_path` feature."
**Snap daemon version**: 1.2.0
**Environment**:
- **OS**: Ubuntu 16.04
- **Kernel**: 4.4.0-62-generic

**Problem**:
When using `auto_discover_path` feature there are snap-plugin-xxxxxx directories with plugins' binaries being created in the /tmp folder. After killing snapteld the directories are **not removed**. Each restart of Snap daemon causes creation of additional snap-plugin-xxxxxx directori

[2017-04-03 12:46] mkuculyma opened #1582 "Snap framework panics when using `auto_discover_path` feature and REST API is down."
**Environment**:
- **OS**: Ubuntu 16.04
- **Kernel**: 4.4.0-71-generic

**Problem:**
The situation occurs and is reproducible when using `auto_discover_path` feature and starting `snapteld` with incorrect REST API configuration (i.e. on port 8181 when it is taken by another application).

Snapteld reports panic:
[code]
instead of the explaining the actual reason:
[code]
The lack of message makes i

[2017-04-03 13:47] lmroz commented on #1449
This list might be not valid, because most (if not all) of these plugins use ConcurrencyCount = 1. Some are using this value from very beginning, but for some that was added during development, even for smart https://github.com/intelsdi-x/snap-plugin-collector-smart/commit/63ee15e4a49e35c9ac6fa1d594a7e8bb28c2dcc2#diff-65647fbc09fddf28c78c248603ed1656L45
This commit sets ConcurrencyCount to 1 which

[2017-04-03 20:59] dishmael opened #1584 "RFC: Tribe Clusters and Worker Pattern"
# Summary
Often, we have a need to gather metrics from a remote system from a centralized collector or, ideally, cluster (tribe) of snap collectors. The overarching goal is to define a single task to collect one or more metrics from a remote node and submit that task to the tribe for collection by assigning the task to a worker.

# Proposal
At a configurable rate, the collectors would vote on whic

[2017-04-04 04:52] candysmurf commented on #1584
@dishmael, thanks for your RFC. What you proposed here is more like RAFT or Zookeeper which would be great if there is a need to coordinate across clusters/tribes. It's definitely a good direction to go.

I think #773 is a low hanging fruit. Will #773 help your use cases?

[2017-04-04 07:51] madhutummi commented on #1466
@PatrykMatyjasek sure I will join the slack, send me the slack group info or the link

[2017-04-04 08:34] PatrykMatyjasek commented on #1466
@madhutummi https://intelsdi-x.herokuapp.com/

[2017-04-04 12:25] #1578 closed

[2017-04-04 12:33] dishmael commented on #1558
Should probably change the title of this Issue to "No Duplicate Polling" so it is not confused with the RFC I created

[2017-04-04 12:33] dishmael commented on #1584
@candysmurf this RFC would satisfy the need of #773 (HA) and #1558 (No Duplicate Polling).

[2017-04-04 14:26] andrzej-k commented on #1579
@VictorRodriguez It would be great to have mcelog collector, it is even on our [plugin wishlist](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CATALOG.md#wishlist). It was first brought up in #1401.

I would encourage you to check if our logs collector would suit your needs: https://github.com/intelsdi-x/snap-plugin-collector-logs

In case it doesn't we would need a volunteer to write

[2017-04-04 14:56] jtlisi commented on #1584
I feel I have something to add to this. I think the idea of distributing a task between a tribe is a great one in principle. I would really want to see ideas on how this would be implemented since I have some particular use cases in mind.

The primary use case I had in mind was the service discovery and collection of metrics from container bound applications. For example if you had a pod in kubern

[2017-04-04 15:26] jtlisi opened #1587 "Plugin Wanted: Graphite Streaming Collector"
With the recent creation of streaming plugins, one plugin I had in mind was a graphite streaming plugin.

The plugin will accept metrics in the graphite metric format over the plaintext or pickle protocol.

This collector would utilize a model similar to the SNMP collector by updating the metric catalog using a set-file. It would translate metrics into the snap data model as follows.

metric: `htt

[2017-04-04 15:28] jcooklin commented on #1587
Hi Jacob, I'm working on a standalone relay that will stream metrics. It's
not yet ready to be made public but I'll add you as a collaborator so you
can provide feedback.
On Tue, Apr 4, 2017 at 8:26 AM Jacob Lisi <notifications@github.com> wrote:

[2017-04-04 15:53] VictorRodriguez commented on #1579
@andrzej-k that will be very cool we have a very good solution with Clear Linux telemetrics: https://github.com/clearlinux/telemetrics-client . Maybe we can work together and implement this in snap solution. What do you think?

@candysmurf The MCE are really important for uncorrected and corrected HW crashes. Is a critical part in data centers

[2017-04-04 21:48] candysmurf commented on #1584
I have to agree that @jtlisi has a good point that something may be achieved outside Snap. @dishmael, would you please add more your thoughts into how this will work with containers replicas?

[2017-04-04 22:10] IzabellaRaulin opened #1589 "Stopping a task with plugin initiated workflow causes snapteld panics"
### Steps to reproduce:
1) Load snap-plugin-collector-stream-rand
    - this plugin can be found here: snap-plugin-lib-go/examples/streaming
2) Load snap-plugin-publisher-file
3) Prepare a task manifest:
[code]
4) create and start a task
[code]
5) stop the running task
[code]

Stopping the task with streaming schedule caused snapteld panics:
![image](https://cloud.githubusercontent.com/assets/1133

[2017-04-05 01:01] jcooklin commented on #1584
This could be done using an external scheduling daemon that exists outside
of snap and interacts with it using the Snap Rest API.

I tend to agree.  I would like to see tribe be something that integrates
with snap.  This would foster more options for the management layer the
obvious being one that backs into something like etcd instead of using
gossip like we do today.

On Tue, Apr 4, 2017 at 2:48

[2017-04-05 11:18] andrzej-k commented on #1584
So it seems that before we will be able to implement this RFC we need to separate tribe from main Snap repo, is that right @jcooklin ?

@jtlisi If you'd like to monitor applications in Kubernetes you could also think about creating Snap Third Party Resource which will associate application (and its metric endpoint) with Snap (task manifest). Then you would need a watcher on Kubernetes API which wi

[2017-04-05 11:26] andrzej-k commented on #1579
@VictorRodriguez Sure, let's sync offline to check how we can collaborate, and get back to technical discussions on GitHub when needed.

[2017-04-05 15:09] janczer opened #1590 "Get configuration of non existing plugin type"
If I try get configuration of non existing plugin type:

    $ snaptel plugin config get 1111:11:11

Plugin type will be numeric. First time program will panic, but second and more times it will show empty table.

[2017-04-05 15:46] candysmurf commented on #1590
@janczer, thanks for reporting this. It's a bug fest:-).

[2017-04-06 17:30] #1576 closed

[2017-04-06 18:59] #1589 closed

[2017-04-06 20:29] candysmurf commented on #1584
@andrzej-k, do you have statistics of how many of our customers are using tribe?

[2017-04-06 23:38] jcooklin commented on #1584
separate tribe from main Snap repo, is that right @jcooklin
<https://github.com/jcooklin> ?

Correct.

On Wed, Apr 5, 2017 at 4:18 AM Andrzej Kuriata <notifications@github.com>
wrote:

[2017-04-07 01:39] jtlisi commented on #1587
Cool, I'd love to test it!

[2017-04-07 06:09] fengw084 opened #1593 "Can a Linux start multiple SNAP processes?"
I would like to install multiple SNAPs on the same LIUNX server, set up different ports: such as 8181 and 8282, through http: // localhost: 8181 / v1 / tasks and http: // localhost: 8282 / v1 / tasks Visit, but their own tried it, as if the current can not start two at the same time. Do not know if there are other ways to do the above function?

[2017-04-07 16:49] candysmurf commented on #1593
@fengw084, you can do what you expected by specifying different Snap ports. For example:

[code]
Please refer to our [examples](https://github.com/intelsdi-x/snap/blob/master/examples/configs/snap-config-sample.json)

Snap has the concept of `tribe`. You can look into that.

[2017-04-10 11:45] madhutummi commented on #1466
Thanks @PatrykMatyjasek  for helping in fixing the issue.

[2017-04-11 07:53] sLuvpreet33 opened #1596 "Question and Enhancement"
My question is about the working of Snap.

Where does it store the data which it is collecting about the system ? There has to be a memory where it is storing data, either in the Main Memory OR the Disk, and in which format it stores data , like in a file OR in some kind of DB ?

Also, In grafana I can view the data of only upto past 1 minute. What should I do if I want to see the data for more ti

[2017-04-11 21:04] rashmigottipati opened #1598 "Stopping task before the workflow finishes executing"
The Athena team has experienced issues where the control in Swan stops the task before it gets to push its last metrics to the Cassandra database and thus lose a data point. The request is to have the ability to let the currently scheduled run of a task complete when we issue stop task request, such that no data points are lost.

**Possible Solution:**
The request to stop task would have occurred

[2017-04-11 21:58] candysmurf opened #1600 "Go Swagger generated client does not work with Snap perfectly"
go-swagger generated client does not work with Snap in following scenarios:

* Set/Update plugin config items

[code]
* Delete plugin config items

[code]

* Create a task

[code]
* Set/Update task state

[code]

* Remove test

[code]

[2017-04-12 00:19] rashmigottipati opened #1601 "Plugins should be unsubscribed by the event handler after the task state is Stopped"
**Current behavior:**
When a stop task request is processed by the scheduler, it immediately starts unsubscribing all dependencies (plugins) of this task. This results in the plugins being used by the current firing of the workflow being killed.

**Desired behavior:**
Plugins should be unsubscribed after the task state is changed to Stopped state.  There is an intermediate state between firing and

[2017-04-12 16:54] jcooklin opened #1602 "Get configuration of non existing plugin type (V2 api)"
#1597 fixes the issue for the V1 API which the current CLI operates against but the issue still exists against the V2 API.

Resolving this issue should result in ensuring that the issue has been addressed in the V2 API as well as to identify duplication of code between V1 and V2 as it relates to mgmt/rest/v1/config.go and mgmt/rest/v2/config.go.

Relates to: https://github.com/intelsdi-x/snap/issu

[2017-04-12 16:55] #1590 closed

[2017-04-13 09:35] andrzej-k commented on #1596
Hi @sLuvpreet33
Snap has a concept of workflows - it means that metrics collected by collector plugins are internally passed to processor plugins (if they are a part of the workflow) and metrics returned by processor plugins are in turn passed to publisher plugins which are responsible for persisting the metrics in places like databases (relational and time-series), message queues, files, etc.
Ful

[2017-04-13 16:54] #1602 closed

[2017-04-13 22:54] rashmigottipati commented on #1580
@mkuculyma Thanks for opening this issue. However, I wasn't able to reproduce the same using the -a option. I noticed that the files were created when I started snap using snapteld -a "/opt/snap/plugins" -t 0 -l 1, but were destroyed after killing snapteld.

[2017-04-13 23:01] rashmigottipati commented on #1580
When you start snapteld with the -a option or otherwise, you notice the temp location the binary is being copied to. It's a debug message that looks like this :
wrote 6992128 to /var/folders/jn/zs1t3pfx3234qlf5d6lxvnl00000gp/T/snap-plugin-105158287/snap-plugin-publisher-mock-file-grpc

After killing snapteld, you can notice that when you try to open snap-plugin-105158287, it doesn't exist anymore.

[2017-04-13 23:32] #1598 closed

[2017-04-14 16:32] #1601 closed

[2017-04-14 18:47] chjohnst opened #1607 "Collector for Postgresql?"
I see MySQL, Mongo and others..

[2017-04-17 23:11] rashmigottipati commented on #1580
Closing this issue as it's not reproducible anymore. Tried with/without the auto_discover_path option and didn't see this behavior. I noticed that snap cleans up the tmp folders in both cases.

@mkuculyma please try it out again and let me know if you still see any issues. To be able to differentiate easily, I would suggest you to remove all the existing tmp files and try out the steps to reproduc

[2017-04-17 23:11] #1580 closed

[2017-04-18 17:15] IzabellaRaulin commented on #1582
In order to complement the previous comment
### Steps to reproduce
1) Run some application which blocks port 8181 which is used by Snap RESTAPI by default. Of course, you can run snapteld - remember about setting different RPC control port to avoid conflict in two running instance<sup>(*)</sup>:
   `snapteld -l 1 -t 0 --control-listen-port 8084`
2) In another terminal run snapteld without autodisc

[2017-04-19 17:05] #1582 closed

[2017-04-21 07:45] andrzej-k opened #1609 "Updates to Contributing Guidelines"
Our Pull Request guidelines are documented [here](https://github.com/intelsdi-x/snap/blob/master/CONTRIBUTING.md#pull-request-guidelines), and say:

Let's discuss if following rules/guidelines should be introduced in Snap. The goal is to have PRs that are fairly easy to review and comprehend and code that is easy to maintain in the future.

- One PR addresses one problem (not necessarily one Issue

[2017-04-21 14:28] mbbroberg commented on #1609
I agree that it'd be great to align this section with our preferred behavior. Good call @andrzej-k 🐢

[2017-04-24 07:59] IzabellaRaulin commented on #1449
This plugin uses **sticky routing strategy**, so concurrency count is set to 1, what means there is no possibilities to use a single plugin instance by two or more tasks.

Based on above, I will close this issue. Of course, please do not hesitate to re-open if you notice that this issue is still valid in some circumstances. Thank You.

[2017-04-24 07:59] #1449 closed

[2017-04-25 16:49] IzabellaRaulin commented on #1399
To describe the issue on an example (based on what Ofer Nagar reported, see [attachement](https://github.com/intelsdi-x/snap/files/622125/escape_problem.txt) I prepare the following steps how to reproduce that.

### Steps to reproduce
1) Load collector plugin which exposes a metric containing "%" in namespace, for example snap-plugin-collector-iostat:
[code]
[code]
2) (**Righ behaviour**) Use `met

[2017-04-26 07:06] andrzej-k commented on #1607
Hey @chjohnst - thanks for submitting this plugin proposal. I'm assuming that you are thinking about retrieving statistics from Postgre rather than retrieving data itself, right?
For the latter you could use our [DBI plugin](https://github.com/intelsdi-x/snap-plugin-collector-dbi).

This proposal will be added to our [plugins wishlist](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CAT

[2017-04-26 07:13] andrzej-k commented on #1609
@mbbroberg - Thanks for the feedback.

Any other comments from @intelsdi-x/snap-maintainers or @intelsdi-x/plugin-maintainers ?

[2017-04-26 07:53] katarzyna-z opened #1611 "Plugin wanted: change detector processor"
I'd like to have a processor plugin to detect changes between current and previous values of metrics.

[2017-04-26 07:55] katarzyna-z opened #1612 "Plugin wanted: threshold processor"
I'd like to have a processor plugin to filter metrics with task defined threshold.

[2017-04-26 10:33] katarzyna-z commented on #1612
@PatrykMatyjasek works on this plugin

[2017-04-26 10:33] katarzyna-z commented on #1611
I work on this plugin.

[2017-04-26 10:34] IzabellaRaulin commented on #1609
LGTM

[2017-04-26 15:22] IzabellaRaulin opened #1613 "Broken links - build status"
Broken links to build status - see [docs/PLUGIN_CATALOG.md](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CATALOG.md)

![image](https://cloud.githubusercontent.com/assets/11335874/25442263/da25410c-2aa4-11e7-8d3b-061b3ecdf285.png)

cc: @nanliu

[2017-04-26 22:08] rashmigottipati opened #1614 "Protect cleanup code of plugin unload from deleting any files other than temp files"
There was a case for a stand-alone plugin where all the files in the current working directory were removed as there are no checks provided in the cleanup code of plugin unload in the plugin_manager. We need checks around the cleanup code in plugin_manager.go so that we prevent deletion of any other files other than the temp files that are created to load plugins.

[2017-04-27 20:57] #1614 closed

[2017-04-28 17:49] rashmigottipati opened #1618 "Fix plugin load timeout in LoadPlugin and startPlugin"
Currently, the global option PluginLoadTimeout is implemented such that we wait till we receive the plugin's response (which is the preamble) or we timeout. There could be cases where we are able to get to the point where we receive the plugin response but the plugin load is still unsuccessful. This requires us to change the implementation of timeout such that we wait until we receive a loaded plu

[2017-04-29 20:52] ElisaRojas opened #1620 "Testing Snap for the very first time: psutil plugins example"
Hi,

I've installed Snap and I wanted to test it with the psutils plugins, following https://github.com/intelsdi-x/snap#load-plugins
I installed psutil, loaded the plugins and verified they were there. Also checked available metrics. Then run the task and everything was ok until there.

However, the log only shows the metrics collected the very first time (i.e. when the task started). More specifi

[2017-04-29 20:55] jcooklin commented on #1620
Hi Elisa,

What does your task manifest look like?

Have you tried to watch the task? ('snaptel task watch <task_uuid>')

Joel
On Sat, Apr 29, 2017 at 1:52 PM Elisa Rojas <notifications@github.com>
wrote:

[2017-04-29 23:43] ElisaRojas commented on #1620
Hi Joel,

I'm using the manifest example taken from here [psutil-file.yaml](https://raw.githubusercontent.com/intelsdi-x/snap/master/examples/tasks/psutil-file.yaml).
And yes, I tried watching the task and it appears empty (I left it for several minutes and no event appeared...)

Thank you!

[2017-05-01 15:58] jcooklin commented on #1620
You mentioned building from source, can you try using the prebuilt binary [here](https://github.com/intelsdi-x/snap-plugin-collector-psutil/releases/download/10/snap-plugin-collector-psutil_linux_x86_64) instead?

Also, if you're interested I'd like to have a video/sharing session to debug the issue.  We can coordinate through slack (join 👉 https://intelsdi-x.herokuapp.com) just DM me.  In the mea

[2017-05-01 21:07] IzabellaRaulin commented on #1620
Hello @ElisaRojas,
 I would like to ensure if your task manifest - [psutil-file.yaml](https://raw.githubusercontent.com/intelsdi-x/snap/master/examples/tasks/psutil-file.yaml) has set `count = 5`  - the `count` is a parameter determining how many times metrics are collected and published. This is very helpful for achieving a single run task (count=1)  or , in general, "X" runs.

You can list your

[2017-05-05 14:22] mkleina commented on #1600
Found out that "invalid character" error messages are thrown inside `UnmarshalBody` method in `task.go` during `json.Unmarshal`, because received JSON is URL-encoded.

I created some debug print statements and got
[code]

instead of

[code]

[2017-05-05 16:04] candysmurf commented on #1600
@mkleina, this is expected error.  I had fixed all of them that all backed out based on Joel's suggestion so that you guys can understand why those changes are.

[2017-05-05 16:11] candysmurf commented on #1600
@mkleina, it's great that you see these errors. This is the purpose of this step by step tiger team. So everyone can be on the same page.

[2017-05-05 22:50] ElisaRojas commented on #1620
Thank you both @jcooklin and @IzabellaRaulin !

@IzabellaRaulin , that was it! Playing a bit with the count number "fixed" it :smile:
Thanks for your nice explanation!

[2017-05-05 22:50] #1620 closed

[2017-05-08 08:51] IzabellaRaulin commented on #1620
That's great! If you have any further question, do not hesitate to open an issue on GH or reach us on [Slack](https://intelsdi-x.herokuapp.com/).

[2017-05-09 04:01] fengw084 opened #1627 "How to set a link password"
I have created a task, the link to the database information written to the task file, and later modified the link to the database information, but do not want to modify the task, the question is there a good solution?

[2017-05-09 08:46] andrzej-k commented on #1627
Hey @fengw084 - Please correct me if I'm wrong and this is not your use case, but if you need to update password in connection URL, but still want to keep the existing task running, then you can copy existing task manifest (yaml or json file), make changes and start a new task.

And which Snap plugin are you using?  If you could also paste your task manifest here (with any PII and sensitive data w

[2017-05-09 12:03] marcintao opened #1629 "REST API V1 documentation needs to be updated"
Documentation for REST API needs a refresh:
* several methods are missing: `/plugins/:type/:name/:version/config` DELETE/ PUT,
* there's no mention of interface for loading signed plugins (while client program, `snapteld` clearly achieves it),
* format of REST responses was slightly changed, and now includes  `href`, e.g.: response to GET a list of tasks:

[code]

[2017-05-10 17:40] obno opened #1631 "StreamCollector - active after task stop or remove"
There seems to be no way to notify a StreamCollector plugin (once started) when (all?) tasks that were referring to its metrics have been stopped or removed. This means that the collection process will be still active event though no more tasks require its metrics.

To demonstrate this, take the **test-rand-streamer** from the snap-plugin-lib-go examples and add a debug message inside the `func st

[2017-05-11 01:05] jcooklin commented on #1631
Thanks for the suggestion!  We are working on the snap-plugin-lib-go now.  I'll open an issue and PR on the lib in the next day or two that should address your ask.

[2017-05-12 19:00] #1573 closed

[2017-05-12 19:55] #1618 closed

[2017-05-17 12:24] PatrykMatyjasek opened #1635 "Plugin wanted: pidstat collector"
I'd like to have collector to get metrics from pidstat utility. It allows to collect resources consumption per process.
Using command pidstat -urdwl -h we are able to list all processes running on.
Flags used:
●	-u prints cpu usage metrics
●	-r prints memory usage metrics
●	-d prints storage i/o metrics
●	-w prints context switches statistics
●	-l prints whole process command
●	-h prints all value

[2017-05-17 17:30] aarontay opened #1637 "Deprecating client API v1"
Client API v1 is being deprecated. Update to use [API v2](https://github.com/intelsdi-x/snap/tree/master/mgmt/rest/v2). See additional documentation on the client here (pending update to v2): https://github.com/intelsdi-x/snap/blob/master/docs/REST_API.md

[2017-05-17 20:49] brendangregg commented on #800
Ok, we (bcc/BPF community) can likely help...

[2017-05-18 09:11] adragomir commented on #1196
Hey, I created an initial version that pushes the metrics to the Push Gateway (option 2) (as the least resistance initial path), it can be found here: https://github.com/hstack/snap-plugin-publisher-prometheus

[2017-05-18 10:10] PatrykMatyjasek opened #1639 "make command fails on make swagger"
I'm unable to make snap from surces:
make swagger
make[1]: Entering directory '/home/pmatyjas/go/src/github.com/intelsdi-x/snap'
bash -c "./scripts/swagger.sh"
./scripts/swagger.sh: line 22: swagger: command not found
./scripts/swagger.sh: line 23: swagger: command not found
Makefile:64: recipe for target 'swagger' failed
make[1]: *** [swagger] Error 127
make[1]: Leaving directory '/home/pmatyjas/

[2017-05-18 11:26] andrzej-k commented on #1196
That's a great news @adragomir - thank you for your contribution!
Would you be interested in adding this plugin to our plugins catalog? Here are some guides on how to do this:
- https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_AUTHORING.md#plugin-catalog
- PR https://github.com/intelsdi-x/snap/pull/1621