[2016-05-12 17:11] geauxvirtual commented on #914
This is the inherent problem with Godeps. It's a dependency of a dependency. Godep tries to load every dependency our project requires, which involves getting dependencies that our dependency needs to load.

[2016-05-12 18:34] IRCody commented on #903
What is the reasoning behind the pkg directory not using anything from snap?

[2016-05-12 18:45] IRCody commented on #909
Looks like the error is coming from [here](https://github.com/intelsdi-x/snap/blob/master/cmd/snapctl/main.go#L73). This is called when a tribe command is issued to ensure that tribe is enabled on the remote server. I'm not sure this is the best way to handle this. I think in [server.go](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/server.go#L419-L428) we could add the tribe endpoints

[2016-05-12 20:33] geauxvirtual commented on #903
These packages provide functionality that could be consumed by other projects. If I wanted to import pkg/cfgfile into another package, I shouldn't also have to import core/serror just to convert SnapErrors back to regular errors.

We have maintained from the beginning of Snap that anything in the pkg directory can not import anything from snap.

[2016-05-12 20:47] IRCody commented on #903
If they are meant to be completely separate wouldn't it be more intuitive/conventional to have them live in separate repos and import them that way?

[2016-05-12 21:10] geauxvirtual commented on #903
We've had no reason to separate them into a separate repo, and many other projects follow the same pattern.

[2016-05-12 21:33] lynxbat commented on #903
The rule for `\pkg` was potential packages that would land in their own repo later. @geauxvirtual is right in that either it should not use `serror` or `serror` should be moved to `\pkg`.

[2016-05-12 22:35] mjbrender commented on #918
Some thoughts:
* It's important to maintain immutable constructs or our we'll get into conflicts using `tribe`. Eventual consistency does not play well with mutable objects and I don't think we want to get into dependences on something like etcd to manage state synchronously.
* We do need to keep an eye on a "porcelain" mode for Snap, where we don't expose all the plumbing. Something like `kubectl

[2016-05-12 22:37] mjbrender commented on #906
Exactly @mkempken, what @thomastaylor312 stated. We are very supportive of you writing a plugin to publish or collect from EXASOL DB since we won't be able to get to that ourselves anytime soon.

[2016-05-12 22:40] mjbrender commented on #894
Still checking into this @imvisiontech - thanks for bringing it up! cc @intelsdi-x/plugin-maintainers @intelsdi-x/snap-maintainers

[2016-05-12 22:40] mjbrender commented on #892
Tagging as a feature + help wanted since it's a great first fix.

[2016-05-12 22:47] mjbrender commented on #909
Great recommendations on both fronts @IRCody.

[2016-05-12 23:28] IRCody opened #919 "Intermittent tribe test failure"
Test for tribe can have intermittent failure because waitgroup counter can go negative in places like [this](https://github.com/intelsdi-x/snap/blob/master/mgmt/tribe/tribe_test.go#L945) because Done was used instead of Wait.

[2016-05-12 23:28] lynxbat commented on #919
If you actually caught and fix this I am buying you lunch @IRCody

[2016-05-12 23:33] IRCody commented on #919
@bodepd brought the panic that is caused by this to my attention.

[2016-05-13 08:34] obourdon commented on #914
Seems like this issue can be closed
https://github.com/intelsdi-x/snap/commit/1d87e72dfaa0f9555e6e7711a5e24cd1daedaf6d
worked for me

[2016-05-13 14:13] ppalucki opened #922 "Plugin loading "WARNING: DATA RACE""
I cannot assess the severity of this error, because probably it only happens, during tests with `-race`, but we are doing integration tests of our code, that also runs tests for snap plugin we wrote and by default we have `-race` flag turned on.

In production code, without `-race` the [code after](https://golang.org/src/os/exec/exec.go#L396) `process.Wait()`, is not run so the race doesn't occur.

[2016-05-13 18:16] tjmcs commented on #903
I'm happy to refactor to get rid of the dependency in my currently open PR (PR #904) or open a new one, @geauxvirtual and @lynxbat; your choice...

Personally, I don't think moving the `SnapError` code into the `pkg` package makes sense if that package is intended to be something that can be used independently of Snap, but I could be convinced otherwise if anyone else feels strongly about it.

The

[2016-05-13 18:52] lynxbat commented on #903
Yes. I think it is best to stick with our rules on /pkg. Another option is to just move /cfgfile out of /pkg since it is to this point not imported elsewhere (unless I am wrong).

That said: the serror could just be wrapped around the error in the places inside Snap that call cfgfile.

Either is fine for me. I actually prefer @jcooklin chooses the path.

[2016-05-13 21:18] geauxvirtual opened #924 "Feature Request: Add tag display to watch command in snapctl by passing a verbose flag"
When using snapctl to watch a task, a user should be able to pass a `-v` or `--verbose` flag to the watch command to see the tags associated with metrics being collected for the task. The REST API already supports returning tags for the metrics during watch, so this is just adding the ability to view the tags via snapctl.

[2016-05-14 00:55] jcooklin commented on #903
@tjmcs: Let's move it.

[2016-05-14 01:16] tjmcs commented on #903
Where should we move it to?

[2016-05-14 05:17] jcooklin commented on #903
core/cfgfile/...

[2016-05-14 06:57] tiffanyfj commented on #903
^That's where I was thinking too

[2016-05-14 14:50] geauxvirtual commented on #903
This functionality has zero to do with snap. A binary, snapd, that is written to run the snap control and scheduler uses cfgfile to read configuration files. snapctl, another binary, for interacting with snap REST API, could also use this functionality to read configuration files, if we so choose. But this is code that has nothing to do with snap, which is a controller of plugins and scheduler of

[2016-05-14 17:52] tjmcs commented on #903
Actually, I think I agree with @geauxvirtual; the functionality of this package is fairly generic (as is evidenced by the tests that I've been refactoring which have nothing to do with Snap and everything to do with reading configuration files containing either JSON or YAML into a fairly generic `interface{}`). So if no one objects, I think I should refactor the existing package (in place) to remo

[2016-05-14 18:08] lynxbat commented on #903
Let's go with @jcooklin's call. At this point and time this package only has to do with Snap. Moving it is the minimum effort and risk. We can move the isolation out till we need it on a project.

[2016-05-16 17:23] IRCody commented on #924
Closed by #912.

[2016-05-16 17:23] #924 closed

[2016-05-16 19:11] tiffanyfj commented on #799
@jcooklin @geauxvirtual @tjmcs

Right now policy info received from GetConfigPolicy is not sent back to the plugin on the GetMetricTypes call. What is being sent is the global config info (if any) from snap startup for that plugin. A few ways we could address this based on conversation with @IRCody are:

-Add the plugin wide (ones at cp.Add([]string{""}, config)) level config policy default to the

[2016-05-16 21:55] jcooklin commented on #799
Collector plugins should avoid requiring configuration on load.

This is related to the work recently done to add metric schema support.  With dynamic metrics there is very little need to dynamically create the results for GetMetricTypes as a result we will begin to provide *stronger* guidance to plugin authors that they should avoid requiring config when implementing GetMetricTypes.  We will also

[2016-05-17 14:43] #910 closed

[2016-05-17 19:31] tiffanyfj opened #929 "control/runner.go uses wrong error for some error logging causing a panic"
e.g.
[code]

[2016-05-17 20:55] #418 closed

[2016-05-18 20:24] mjbrender commented on #813
^ @geauxvirtual missed this note and agree. Closing.

[2016-05-18 20:24] #813 closed

[2016-05-18 20:29] #929 closed

[2016-05-19 09:21] jcooklin opened #935 "Add support for auto restarting disabled tasks"
As a snap user I would like the ability for a disabled tasks to be auto-restarted after a configurable amount of time (default 1m).

  Related: https://github.com/intelsdi-x/snap-plugin-publisher-heka/issues/7

[2016-05-19 15:33] marcin-krolik opened #936 "Configuration items in GetMetricTypes"
Currently we have such situation that if Snap has been started without specific configuration provided in global config, it can prevent collector plugins which rely on configuration items in ```GetMetricTypes(plugin.ConfigType)``` from being loaded. This behavior is killing Snap philosophy that plugins can be loaded at anytime without the need of restarting snapd.
Main reason for including configu

[2016-05-19 16:16] elemoine commented on #936
Makes sense to me! I like this direction. Could you please provide an example of a plugin that requires configuration values in `GetMetricTypes` (and that should be changed eventually)? Thanks.

[2016-05-19 16:45] tiffanyfj commented on #936
I definitely agree. Seems related to:
https://github.com/intelsdi-x/snap/issues/799

[2016-05-19 18:26] geauxvirtual opened #937 "A metric can be changed from static to dynamic by setting Name parameter on NamespaceElement"
Currently, the only determination if a metric namespace is dynamic or static is if `Name` is set on a NamespaceElement(s).

After creating a metric namespace via `core.NewNamespace("intel", "mock", "foo")`, there is nothing that prevents setting the Name field on the three NamespaceElements that make up this Namespace. Initially, `IsDynamic()` on this Namespace would return false. However, if a pl

[2016-05-19 19:35] marcin-krolik commented on #936
@elemoine: any OpenStack collector :) is currently dependant on configuration in ```GetMetricTypes```. Take a look at [Cinder](https://github.com/intelsdi-x/snap-plugin-collector-cinder/blob/master/collector/collector.go#L64), [Glance](https://github.com/intelsdi-x/snap-plugin-collector-glance/blob/master/collector/collector.go#L54) or [Nova](https://github.com/intelsdi-x/snap-plugin-collector-nov

[2016-05-19 21:47] elemoine commented on #936
Ok thanks. I have to admit that I hadn't checked!

[2016-05-19 22:58] candysmurf commented on #136
This seems a very good feature for Redfish plugin. They like event-driven data collection.

[2016-05-19 23:42] #914 closed

[2016-05-20 07:44] woodsaj opened #940 "pass taskId to collectMetrics method in plugins"
I have a use case for needing to know the previous metrics collected when collecting new metrics.
Though i can use a unique identifier passed through the configPolicy, exposing the taskId to collectMetrics would be ideal.

[2016-05-20 13:22] marcin-krolik commented on #940
@woodsaj : do you think t's possible to achieve your goal with tagging metrics in the task manifest? There is opened PR #941  to Snap framework which introduces such functionality. This way  your metrics from given task manifest could be tagged with some unique identifier of your choice.

[2016-05-20 16:04] woodsaj commented on #940
yep, that could work.

[2016-05-23 17:20] geauxvirtual opened #942 "REST Response for task creation does not properly return schedules for windowed or cron types"
When creating a task through the REST API, the response sent back on will only include the schedule if the task that was created used a simple schedule. If the task was created with a windowed or cron schedule type, the schedule returned back from the API will be empty.

[2016-05-23 18:31] candysmurf commented on #858
@geauxvirtual & @IRCody, I just read the issue. May I ask

1. if j.Errors() is not empty, should the program record the error and *return*?
2. If the answer is to continue calling *errors := t.manager.Work(j).Promise.Await()" no matter if j.Errors is empty or not, then concatenating both errors together and send them into RecordFailure, will that be enough?

Please share your thoughts. thank you.

[2016-05-23 18:40] #539 closed

[2016-05-24 15:28] #385 closed

[2016-05-24 15:28] #834 closed

[2016-05-25 09:40] marcin-krolik opened #949 "Publishing metric extended from dynamic elemenets"
There are uses cases where parts of a metric namespace is undesirable in published metric.

Let's say that some ```foo``` collector provides such ```/intel/foo/*/power```, where wildcard is a dynamic metric element which expands to host IP address. This way what is returned from ```CollectMetrics``` is expanded to ```/intel/foo/1.1.1.1/power```, ```/intel/foo/1.1.1.2/power``` and ```/intel/foo/1.1

[2016-05-25 17:44] #942 closed

[2016-05-25 19:32] obourdon opened #950 "Yaml and JSON task files found in auto_discover_path should create tasks on snapd startup"
It would be nice that when starting snapd with -a option (auto_discover_path) plugins are loaded as documented but after that, Yaml and JSON files found also trigger tasks creation and running state.

[2016-05-25 19:37] #827 closed

[2016-05-25 19:40] marcin-krolik commented on #949
As for the second solution, processor is ready [ns-filter](https://github.com/intelsdi-x/snap-plugin-processor-ns-filter/pull/1)

[2016-05-25 19:57] candysmurf commented on #949
ns-filter gave me 404. Would you please lift the restriction?

From my understanding, a namespace is a unique identifier. You can always define tags at your will to fit your needs. Do I miss anything?

[2016-05-25 21:57] danielscottt commented on #765
Ping @mkleina && @geauxvirtual

The `snap.` content types are the types that Snap _ships_ with.  This regex validation can be thought of similarly to AMQP bindings, and are meant to be open ended.  This is so a plugin author could use their own content types, effectively binding their plugins together.

[2016-05-25 22:05] nqn opened #952 "snapd enters bad state metrics cannot be found: task cannot be stopped or removed"
[code]

[2016-05-25 22:13] geauxvirtual commented on #952
Can you provide the log output from snapd?

[2016-05-26 00:00] IRCody commented on #852
You are right that it is not used. I am not sure of the history behind it though. Any thoughts @intelsdi-x/snap-maintainers?

[2016-05-26 00:03] IRCody commented on #940
@woodsaj: Since #941 was merged is it ok to close this issue?

[2016-05-26 00:50] IRCody commented on #755
Can you expand more on why you think an event should be emitted in EnableTask and what purpose that would serve?

[2016-05-26 11:03] marcin-krolik commented on #949
@candysmurf: Settings updated. You should be able now to access the repo.

As for your question regarding namespace - yes, namespace is unique identifier, and yes, you are free to define tags. Problem is with publishing to time series dbs like InfluxDB. Example, when someone gathers power metric from 300 hosts, and metrics are like that

[code]

If metrics are being stored exactly like that in Inf

[2016-05-26 11:34] elemoine opened #953 "Snap install/build is broken"
It looks like the Snap build is broken:

[code]

I am installing Snap in an empty GOPATH.

My impression is that https://github.com/appc/spec/pull/616 (merged 30 minutes ago) has broken Snap.

[2016-05-26 12:06] obourdon opened #954 "If auto_discover_path is set to /tmp/WHATEVER/.... plugins are erased when snapd stops"
To reproduce the issue:
go get github.com/intelsdi-x/snap

Please note that currently this should fail due to latest commits in https://github.com/appc/spec :-(
but once you fixed those, run:

cd $GOPATH/src/github.com/intelsdi-x/snap
make all
mkdir -p /tmp/X/Y/Z
rsync -a build/ /tmp/X/Y/Z
/tmp/X/Y/Z/bin/snapd -t 0 -l 1 -a /tmp/X/Y/Z/plugin
...
^C
`DEBU[0004] stopped

[2016-05-26 12:57] elemoine commented on #953
Fixed in https://github.com/appc/spec/pull/618 by @jonboulle and @steveeJ. Thanks!

[2016-05-26 12:57] #953 closed

[2016-05-26 16:21] IRCody commented on #844
@lmroz, @candysmurf: there have been a lot of changes to namespace/source since this issue was created. Is this issue still relevant given the changes?

[2016-05-26 16:21] #858 closed

[2016-05-26 16:54] IRCody commented on #882
Closing this issue since it looks like another more specific one is open on the [libvirt plugin](https://github.com/intelsdi-x/snap-plugin-collector-libvirt/issues/20) here.

[2016-05-26 16:54] #882 closed

[2016-05-26 17:49] IRCody commented on #954
Slightly modified the instructions above for os x. Listed the instructions I used below. I was able to reproduce the behavior.
[code]

This seems to be related to [this](https://github.com/intelsdi-x/snap/blob/master/control/plugin_manager.go#L488) line where we check that the plugin path is in the tmp dir by comparing it with os.TempDir() and remove it if it is. I think this might have been done

[2016-05-26 21:21] IRCody commented on #949
I think this is already possible and being done in the influxdb publisher. See: [this](https://github.com/intelsdi-x/snap-plugin-publisher-influxdb/blob/master/influx/influx.go#L163-L170). Is this what you were trying to do?

[2016-05-27 08:41] mkleina commented on #765
So do you mean that this Pull Request is not really needed in the end? If so, maybe just close it.

[2016-05-27 11:58] lynxbat commented on #765
+1 on @danielscottt's comment. While we may use `.` in our built-in content types. It is irrelevant for a user. If we wish to build behavior around the types (i.e. searching, topical binding, etc) then we would need to implement a schema on top.

So for now probably ok to close this as `not a bug` and close the PR.

[2016-05-27 12:18] obourdon commented on #954
Thanks for this note Cody. This makes it even more dangerous because it also concerns paths were the $TMPDIR string is contained anywhere like for instance on Linux ~user/tmp/X/Y/Z
I will soon submit a pull request which fixes this issue

[2016-05-27 13:02] obourdon opened #957 "potential collisions in logs when several versions of the same plugin are running"
As the snap framework provides this very nice & useful possibility to have a new version of a plugin to run side by side with a previous one we found out that this may rise an issue concerning plugin log files
because these are all located within the TMPDIR (/tmp under Linux & MacOSX) and their names is based on the plugin binary file name.

Therefore if the X plugin is uploaded with the same file

[2016-05-27 17:44] IRCody commented on #954
Thanks for finding/posting the issue @obourdon.

Looking into it a little more this morning I noticed when loading plugins from rest we actually use ioutil.TempDir() not os.TempDir(). The code is [here](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/plugin.go#L191) but I copied the relevant lines below:
[code]
[ioutil.TempDir()](https://golang.org/pkg/io/ioutil/#TempDir) will create a ne

[2016-05-27 17:52] IRCody commented on #957
Would a simple solution for this be to append the version to the filename? Something like `plugin-name.v1.{stdout,stderr,log}`?

[2016-05-27 17:57] IRCody commented on #950
I think that adding the ability to run tasks on startup would be good. I think a way to do it would be to have scheduler.Start() handle dealing with it(by passing the auto-discover-paths?). This would also potentially be a good point to move auto-discovered plugin loading out of snapd.go and into control.Start().

You could ensure that plugins are loaded before starting tasks just by making sure c

[2016-05-27 18:59] thomastaylor312 commented on #950
I would love to see this. From a scalability standpoint I know that people with large environments will want a defined list of tasks to kick off automatically on every machine after a reboot when they start snapd. It would streamline the whole process.

[2016-05-28 08:56] obourdon commented on #957
Definitely agree with your proposal, simple and efficient

[2016-05-28 09:02] obourdon commented on #954
Very good catch, I did most of my investigations and testing on Linux systems so I guess my fix proposal might not be exhaustive in this respect.

I also thought about implementing the second of your proposal (tagging plugins to remember how they were uploaded which seems to be the more reliable way to go) but the fix was unfortunately out of my current competencies so I focused on a quicker one

[2016-05-28 10:19] marcin-krolik commented on #949
@IRCody : Well, but you have to take into account that collected metric **is no longer dynamic**. If metric of ```/intel/foo/*/power```` is being send to ```CollectMetric()```, it is expanded and returned as
[code]
So instead of one dynamic metric, many static metrics are being returned. You cannot returned it as dynamic metric.

[2016-05-28 19:59] brendangregg opened #958 "Linux hist triggers support"
This should be in Linux 4.7-rc1 (not released yet), contributed by Tom Zanussi (Intel). It's a new tracing/data aggregation capability that is built into the kernel, and used via the ftrace (now called "trace") framework.

Search for "hist:" in https://github.com/torvalds/linux/blob/master/Documentation/trace/events.txt

It's similar to BPF, although more specific use cases. I'd suspect hist trigg

[2016-05-29 16:50] rji commented on #936
Although I agree with this idea in principle, it isn't immediately clear to me how a plugin author would work around this. For example: for the Mesos collector plugin, I can simply look at the ResourceStatistics struct recursively to build metric types for a Mesos agent, which is in line with what you're suggesting here.

_However,_ that would populate the Snap metric catalog with _all_ possible m

[2016-05-29 17:02] rji commented on #936
Having said that, I do agree that it's a bad pattern for the user to reload the snap daemon when loading a plugin. Perhaps instead of modifying the Snap global config for individual plugins, it would be possible to introduce a plugin-local config that could be dynamically loaded into the daemon? Something like:

[code]

[2016-05-30 12:28] PatrykMatyjasek opened #960 "Task should not be created if deadline is lower than task interval"
AFAIK task interval is also timeout for CollectMetrics. It is possible to set deadline for whole task as a lower value than interval. And if metrics collection took more time than deadline but less than collection interval task is failing on publishing.
Snapctl should not create task with deadline lower than interval, and put user information that deadline is too short.

[2016-05-31 06:56] marcin-krolik commented on #949
Probably my mistake in description of Solution 1 could have been misleading. I updated proposed implementation

[2016-05-31 09:30] obourdon commented on #954
I have just uploaded a new version of the pull request which, I think, implements the tagging of plugins at load time. I have successfully tested it on Linux and MacOS platforms.

Feel free to make any comments

[2016-05-31 09:52] #940 closed

[2016-05-31 12:27] obourdon commented on #950
I have submitted PR [https://github.com/intelsdi-x/snap/pull/961] for the auto-discover-path code migration from snapd.go to control.go. Now working on rewriting the task auto discovery as suggested

[2016-05-31 15:35] obourdon commented on #950
@IRCody : I have been playing around with the scheduler.Start() code and even though s.metricManager  seems to map control.pluginControl structure, I did not manage to be able to access its Config.AutoDiscoverPath field. I am pretty sure that this is due to my current lack of in-depth knowledge of Golang so could you please give me some hints on how to achieve this. Thanks

[2016-05-31 16:07] candysmurf commented on #949
@marcin-krolik, thanks for your explanation. I would say [ns-filter](https://github.com/intelsdi-x/snap-plugin-processor-ns-filter/pull/1) is a good start, but it's aimed at a host field. Maybe a more generic solution is needed. The question is if all such requirements should be Snap's burden or processors or even publishers?

[2016-05-31 16:22] candysmurf commented on #949
@marcin-krolik, I implemented the dynamic metrics for Redfish. It's a full-fledged implementation regarding wildcard and pipes. For example, it allows wildcard at any position theoretically(although practically we may not have such use cases).  Should we have a meeting to discuss a generic solution so that it may benefit more plugins?

[2016-05-31 16:29] obourdon commented on #950
@IRCody : seems like I finally got around this by exposing a new method (GetAutoDiscoverPaths) in the managesMetric interface. Currently testing the code

[2016-05-31 16:38] IRCody commented on #950
@obourdon: Sorry I didn't see your comments in time to help but glad you found a way.

[2016-05-31 16:51] IRCody commented on #960
Seeing #852, is deadline actually used?

[2016-05-31 17:25] IRCody commented on #906
@mkempken: Closing this issue. Feel free to open another one or contact us on [gitter](https://gitter.im/intelsdi-x/snap) if you have any questions about writing a plugin.

[2016-05-31 17:25] #906 closed

[2016-05-31 20:06] marcin-krolik commented on #949
@candysmurf ns-filter is not targeted to host. It operates on any regular expresion provided.

Generaly I think this issue can be closed as [this line](https://github.com/intelsdi-x/snap/blob/master/plugin/collector/snap-collector-mock1/mock/mock.go#L58) shows how to overcome my problem.

[2016-05-31 20:06] #949 closed

[2016-06-01 06:35] beyossi opened #963 "libvirt plugin reports same instance instead of multiple instances when using *"
the machine I use has 5 instances: instance-00000010, instance-00000015, instance-00000016, instance-0000001a and instance-0000001b. I am creating the task for libvirt * instances (see attached vm.json) but then the snap reports the metrics 5 times each for the same object (the higher instance number). sample output is attached.
This exact behaviour is consistent with other machines as well.

[vm.

[2016-06-01 11:57] iceycake opened #964 "General publisher plugin error handling questions"
I am creating a task so that it collects some system metrics using the build-in plugins and publish the metrics to TSDB.  Due to the extremely high load on the TSDB cluster, occasionally we could get timeout on the TSDB publisher.

Some questions:
1. How to configure the number of consecutive errors before the task goes disable?  Based on the error, I believe right now the setting is 10.
2. Does r

[2016-06-01 15:44] lynxbat commented on #964
I am going to let someone like @jcooklin or @tjmcs comment on #1.

On #2 I would vote now since the deadline time on a workflow may give up.

For #2 and #3 we have an RFC being written now for optionally buffering both processor and publisher calls for a configurable period of time with retry. This would prevent workflow data from being lost and allow for reentry into processor and publisher calls

[2016-06-01 15:46] lynxbat commented on #963
I linked the issue to the libvirt plugin. We will have someone troubleshoot this.

[2016-06-01 15:47] lynxbat commented on #960
Deadline should be used. If it is not then it needs to be reversed. Deadline prevents runaway queueing to workers.

[2016-06-01 17:33] IRCody commented on #964
The setting is 10. Right now it's set in rest [here](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/task.go#L98). Pretty low hanging fruit if we wanted to make it configurable.

[2016-06-01 18:18] sandlbn commented on #963
@lynxbat: I'll take a look tomorrow. @beyossi are you using binary version of plugin or you builder plugin from sources ?

[2016-06-01 18:30] iceycake commented on #964
@IRCody Looks like it's a very easy fix to make it configurable.  I am wondering if it makes sense if not failing the task by passing in -1.

[2016-06-01 19:33] jcooklin opened #965 "Add grpc support"
Adding support for [grpc](http://www.grpc.io) will provide benefits including
- performant client libs in many languages
- streaming RPC
- deadlines and cancellations
- auth (built-in and custom)

[2016-06-01 19:37] jcooklin commented on #852
The deadline is currently being used in the scheduler so that jobs aren't started if the deadline has already passed ([here](https://github.com/intelsdi-x/snap/blob/master/scheduler/worker.go#L51-L56)).  The intent was to also use the deadline to trigger cancellation of the RPC call which would need to be done in the proxies for collect, process and publish.

Labeling as "bug".

Relates to #965

[2016-06-01 19:43] jcooklin commented on #960
Today the deadline is used as @lynxbat describes above.  There was an intent to also cancel RPC calls when the deadline was exceeded which has not been completed and is captured in #852.

[2016-06-01 19:56] jcooklin opened #966 "Spool on publish failure"
If a publisher is unable to send data out of the box it should be possible to save it and resend it later. It protects against short connectivity disruptions without introducing ‘holes’ in the data stream.

Possible approaches
* Have the framework inspect the publish return value and spool data locally
  * The spooling settings could be controlled by the task
* Add a publisher api called ‘HealthCh

[2016-06-01 20:02] jcooklin opened #967 "Add the ability to configure the number of task retries"
The task manifest should include an optional field for setting the number of times the task will be retried before failing.

The rest interface is currently setting retries to 10 ([here](https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/task.go#L98)).

Providing a value of -1 should indicate that the task should never go into a disabled state.

[2016-06-01 20:07] candysmurf commented on #966
@jcooklin, I really like the idea. It can help both Snap and plugins. The question is that if you like to do this Async or still keep it Syncronized?

[2016-06-01 20:13] jcooklin commented on #964
#967 has been created to capture \#1

For \#2 I feel it might make sense for some plugins to implement their own internal retry separate from the fact that the framework will retry a task some `x` number of times before the task will be placed in a `disabled` state.

@iceycake: Related to \#3 we someone else recently request for spooling on failure (process/publish) so I just added a separate issu

[2016-06-01 20:58] iceycake commented on #967
Can we also pass -1 to the value so that the task will be never disabled by the error?

[2016-06-02 04:09] #954 closed

[2016-06-02 08:03] elemoine commented on #967
It sounds to me that this issue is related to one I created on the Heka publisher plugin: https://github.com/intelsdi-x/snap-plugin-publisher-heka/issues/7.

[2016-06-02 15:00] danielscottt commented on #765
@mkleina yes. Will do.  Thanks for your consideration on this!

[2016-06-02 15:00] #765 closed

[2016-06-02 18:37] #676 closed

[2016-06-06 19:58] #889 closed

[2016-06-06 20:36] tjmcs opened #971 "Constraints on CLI option values are not applied on snapd startup"
The constraints defined in the package-level configuration files are only used to validate the values retrieved from a global configuration file. The same constraints are not applied to values passed in on the command-line using the command-line flags defined for `snapd` or values passed in as environment variables (and these values override the values from the global configuration file).

[2016-06-06 22:41] #916 closed

[2016-06-07 22:46] #900 closed

[2016-06-08 16:56] lynxbat commented on #958
This is great. We need to use #800 and this along with our plans to make a more holistic plugin for the Linux OS telemetry.

Would you mind reviewing an RFC on a plugin including these features when it is ready @brendangregg?

[2016-06-08 18:01] IRCody opened #976 "Plugin tests rebuild snapd/snapctl unnecessarily"
When running plugin tests like: [mock1](https://github.com/intelsdi-x/snap/blob/master/plugin/collector/snap-collector-mock1/main_test.go), [mock2](https://github.com/intelsdi-x/snap/blob/master/plugin/collector/snap-collector-mock2/main_test.go), [file-publisher](https://github.com/intelsdi-x/snap/blob/master/plugin/publisher/snap-publisher-file/main_test.go) snapd/snapctl are rebuilt because of

[2016-06-08 18:08] iceycake commented on #878
I'm solving this problem by turning snap as a service unit in CoreOS (I'm launching snapd and register the plugins during coreos-cloudinit).

[2016-06-08 19:27] brendangregg commented on #958
Yes, I can review. I posted a few more hist triggers examples here: http://www.brendangregg.com/blog/2016-06-08/linux-hist-triggers.html

[2016-06-08 23:01] iceycake opened #978 "Collect Tags not working"
I'm developing a publisher plugin and want to publish the tags for collect as well.

I'm following the sample task @ https://github.com/intelsdi-x/snap/blob/master/scheduler/wmap/sample/1.yml to create tags for the collector and created the following task configuration:

[code]

In my code, I did

[code]

However, it looks like m.Tags() only contains "plugin_running_on".

Am I doing anything wrong

[2016-06-08 23:21] IRCody commented on #978
Closing after talking with @iceycake on chat. The issue was that he was testing against an older version of snap that did not include support for adding tags to a task in the workflow.

[2016-06-08 23:21] #978 closed

[2016-06-09 14:09] tjmcs opened #979 "Ports for the RESTful API can be specified in two ways; confusion reigns"
In PR #418 (merged a few weeks ago), a second method was added for specifying the port that the Snap RESTful API listens in on. With the merge of that PR, users can now specify the port using either of the following methods:

* an integer value passed in via the `--api-port` command-line option **or**
* a string value of the form `ip_address:port` passed in via `--api-addr` command line option (eg

[2016-06-09 14:38] elemoine opened #980 "Inconsistencies in "snap metric list" output"
I have a snapd daemon with two plugins loaded: snap-plugin-collector-cpu and snap-collector-mock2.

[code]

When I run `snapctl metric list` I get this output:

[code]

I am surprised to see a wildcard in the "baz" namespace (from the snap-collector-mock2 plugin), and **no** wildcard in the cpu namespaces (from the snap-plugin-collector-cpu). It looks to me that the plugins do not behave in the sa

[2016-06-09 15:14] jcooklin commented on #979
@obourdon: would you like to weigh in here?

[2016-06-09 16:09] obourdon commented on #979
I will try to get a deeper look into this issue soon and will hopefully come back with more infos. Thanks for the notice

[2016-06-09 17:03] jcooklin commented on #980
Yes, issues should be opened on plugins that expose static namespaces where the schema, or in other words a dynamic namespace, would be appropriate.

I created https://github.com/intelsdi-x/snap-plugin-collector-cpu/issues/19l

[2016-06-09 19:29] obourdon commented on #979
OK, having looked at this more deeply I have seen some areas of improvement going your way.

However I also have a tendency to also make sure the user understands that he has to be knowledgeable and accountable for what he is doing. Having both a configuration file and command line parameters is always dangerous and the usual way to treat this is by having command line values to take precedence ov

[2016-06-09 20:03] tjmcs commented on #979
We already have code in place to ensure the command-line parameters override the same parameters if they are specified in the global configuration file, @obourdon, the issue here is if the port is specified as part of the `--api-add ` **and** using the `--api-port` (or as part of the `restapi:addr` **and** using the `restapi:port`, or any combination of those 4 parameters). If the port is included

[2016-06-10 00:31] IRCody opened #985 "RFC - Single Run Task"
## Definition

A Single Run Task is a task where the workflow is going to be scheduled for execution immediately (at most once). The task is saved so that it may be run again easily simply by starting it again.
## Purpose

A single run task serves the following purposes:
- Allows a user to test a task end to end easily with 1 run through the workflow to ensure a task will work.
- Forms a sort of '

[2016-06-10 15:43] #971 closed

[2016-06-11 00:00] geauxvirtual opened #986 "Fix dependencies related to Kubernetes"
There is a dependency in the snap godep file that no longer exists in the kubernetes repo. This is causing godep restore to fail as it cannot change into this directory and try to checkout the dependency at the revision in the Godeps.json file. Also, it appears the commit kubernetes(and related dependencies) is pinned to in snap Godeps.json file is to a commit that has been reverted. These depende

[2016-06-11 00:29] geauxvirtual opened #987 "Tasks running distributed workflow do not stop, error 10 times, then disable"
When trying to stop a task that is executing a distributed workflow, snapctl reports an error when trying to stop the task `No plugins found`. The task will eventually show as disabled when listing tasks via snapctl.

![screen shot 2016-06-10 at 5 20 45 pm](https://cloud.githubusercontent.com/assets/1395030/15981853/60d74a4a-2f30-11e6-9347-e06c01ed0b3e.png)

Node A (described below) shows the foll

[2016-06-11 02:54] jcooklin opened #988 "Plugins with multiple config policy nodes may cause a panic"
When there are multiple config policy nodes
**and** there exists a metric which does not fall under any of the policies
**and** the root node does not contain a policy

The following example causes a panic since no policies apply to `/intel/abc/baz`.
**metric types**
/intel/abc/foo
/intel/def/bar
/intel/abc/baz

**config at**
/intel/abc/foo
/intel/def/bar

**root**
/intel

[2016-06-11 19:54] jcooklin commented on #937
I feel that this issue should be addressed with documentation.  Plugin writers should not set the name for a namespace field unless it's a dynamic.

The following exist to help plugin authors not have to deal with or think about the fields of `NamespaceElement`.
- `func NewNamespace(ns ...string) Namespace`
- `func (n Namespace) AddDynamicElement(name, description string) Namespace`
- `func (n Nam

[2016-06-13 14:19] iceycake commented on #967
Any traction on this issue?  Our team is getting close to move on and want to use Snap in our environment.  However, this is currently a major deal breaker (e.g.  If there is connectivity issue with TSDB, I can image thousands of the servers running Snap will disable the task and there is no mechanism to auto restart them).

If there is no one active working on this issue, I can work on it and sub

[2016-06-13 16:10] jcooklin commented on #967
@iceycake I am not aware of anyone working on this.

[2016-06-13 16:17] lynxbat commented on #967
@iceycake A PR would be awesome on this. We are scoping an RFC for a buffering option that will handle temporary failures at a publisher level better also.

Let us know if you need some help with the PR. @tjmcs could help with how config is run in Snap.

[2016-06-13 16:26] lynxbat commented on #985
Wouldn't a schedule time that has a `start time` and `count` satisfy this need in the existing framework?
The UX for the CLI could have a friendly switch for single-run (set count==1).

The scheduler would execute the Task when the start time is current or in the past until the run count meets the count. If it is one it would execute once.

I am opposed to schedule type on the CLI unless the UX is

[2016-06-13 16:40] iceycake commented on #967
@lynxbat I did work on a publisher plugin (snap-plugin-publisher-cloudwatch) so I have some ideas on how the whole thing works.  Let me take a look this week and see if I can pull something quick.

[2016-06-13 18:59] lynxbat commented on #967
Awesome @iceycake

Looking forward to seeing it

[2016-06-13 19:19] IRCody commented on #985
The UX for the CLI could have a friendly switch for single-run (set count==1).

You meant schedule type not time? If so I think this makes sense. Seems simple enough implementation wise -- run n times vs run once.

The RFC wasn't attempting to take a position on whether the schedule type changing is explicit (via --schedule-type=x) or implicit (i.e. via something like `snapctl task create --run-co

[2016-06-13 23:06] IRCody commented on #987
@geauxvirtual: Thanks for finding this. The root cause seems to be during unsubscribe we always checked for metrics to unsubscribe (even if none were present). I added a PR to address this issue by only going through the step of checking for metrics/collector plugins if at least 1 is present.

[2016-06-14 06:32] elemoine commented on #986
I may be wrong, but it sounds like the same [issue](https://github.com/intelsdi-x/snap/issues/953) I had a while ago. I would like to verify that. How can I reproduce the problem exactly? Just run `godep restore`? Thanks.

[2016-06-14 21:58] msundara opened #993 "Agent initiated control-path"
Usecase:
I want to host a snap controller app in a public cloud to manage a geographically distributed set of physical and virtual servers that are behind firewalls that prevents outside-in communication. I can't use snapctl because it is outside-in communication.

Possible approaches:
(1) Snapd could be configured to periodically initiate a connection to a configured 'controller' and check for 't

[2016-06-15 15:48] elemoine opened #994 "go get github.com/intelsdi-x/snap does not work"
It looks like `go get github.com/intelsdi-x/snap` fails with the following error:

[code]

[2016-06-15 17:07] IRCody commented on #994
This seems like it's erroring when go get is running a build. I believe you probably have to run make to ensure the correct grpc version of the library is loaded via godeps before a a build will succeed.

What is the state of the repository after you get this error? Are you able to run make successfully?

[2016-06-15 18:10] ConnorDoyle opened #995 "Update logging verbosity on the fly"
As an operator I want to update the log level for a single instance of snapd, or even a tribe without having to restart the service. Logging at debug level can be expensive, so I would want to only turn up the verbosity for a short window to take a deeper look at what's happening.

[2016-06-15 18:29] tjmcs commented on #995
As a related issue, do we need to target specific modules in terms of this increased verbosity (so that we can more easily see what we're interested in seeing) or is this just a global setting that will apply to Snap as a whole?

[2016-06-15 18:32] ConnorDoyle commented on #995
Targeting specific modules would be even better. A pattern I've seen before in JVM projects where loggers typically form a hierarchy is to set the default level to INHERIT, with overrides done at runtime. In that way, users can turn up the volume on a whole subtree. That might be overkill for Snap's purposes.

[2016-06-15 18:45] tjmcs commented on #995
I was thinking of the same thing, @ConnorDoyle; if we're thinking about reworking the way we do logging to support dynamic changes to the log level, I definitely think we should also consider other changes we might want to make to make this capability more usable for end users, and I think that capability to target specific parts of the codebase would be really useful if you're trying to debug an

[2016-06-15 20:02] lynxbat commented on #995
+1 on the hierarchy. Something I wanted but didn't have time to drop in when I dropped the existing logging.

I think we approach in phases here and drop a) on-the-fly b) module aligned level c) add functional flow aligned

[2016-06-16 08:40] elemoine commented on #994
First of all, note that the [BUILD_AND_TEST doc](https://github.com/intelsdi-x/snap/blob/master/docs/BUILD_AND_TEST.md#getting-started) indicates that `go get github.com/intelsdi-x/snap` is to be used to get Snap.

Now, to answer, your questions: after I run `go get github.ccom/intelsdi-x/snap` I can indeed changedir to the `snap` directory and run `make`. That works.

But shouldn't `go get github

[2016-06-16 14:51] IRCody commented on #994
So the issue seems to be that there is a library (grpc in this case) that has a breaking change between the version we are linked against and the version on master. This error could happen with any library that we use so we should probably address it in a general way. Maybe the docs should be changed to say `go get -d github.com/intelsdi-x/snap` so that the go tool will not attempt to build/instal

[2016-06-16 15:16] lmroz commented on #980
On of possible solutions of other issue also addresses this: https://github.com/intelsdi-x/snap/pull/977#issuecomment-225906150

[2016-06-16 15:58] elemoine commented on #994
Yes, I tested `go get -d` and it works. I just don't know if people expect `go get github.com/intelsdi-x/snap` to work. Maybe they would expect it to work if they build a package that depends on snap and that itself can be installed using `go get`. I don't know. Maybe it's time to learn about the "vendor" thing and use it in Snap.

[2016-06-16 16:58] brharrington opened #998 "support for CORS headers"
It doesn't look like snapd currently supports [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) at least with v0.14.0-beta. This would be useful to allow javascript based tooling to interact with the snapd without needing to be on the same host or use a proxy layer.

Is this planned or are there any objections to adding CORS support?

[2016-06-16 17:04] lynxbat commented on #998
This was on my list of concerns. In another internal project we started heavily using Beego and have been very pleased so I was debating moving the API to a Beego service and leveraging their CORS automated hooks: https://github.com/astaxie/beego/blob/master/plugins/cors/cors.go

Thoughts? @brharrington

[2016-06-16 17:13] IRCody commented on #994
Vendoring would help if we checked in all dependencies. I'm not sure what another answer is unless we just agree to stay on master for all of our dependencies. Is there another answer you can think of?

The docs should be updated to add the `-d` flag.

[2016-06-16 17:17] bjray commented on #957
Per offline conversations, we will create a new RFC for a more holistic logging approach for Snap.

[2016-06-16 17:49] brharrington commented on #998
I'm not familiar with Beego, so I can't really offer an opinion on it overall. At first glance the CORS support looks like it would work for my needs.

[2016-06-16 18:07] lynxbat commented on #998
@brharrington Thanks

We will track against this issue.

[2016-06-16 18:18] balajismaniam opened #999 "Support for Adding New Metrics from Processor Plugins"
A processor plugin like https://github.com/intelsdi-x/snap-plugin-processor-statistics can process the metrics and produce entirely different set of data. It would be useful to expose this processed data as new metric(s). Is there any plans to support adding new metrics from processor plugins?

@andrzej-k

[2016-06-16 18:24] balajismaniam opened #1000 "Support for Registering New Data Type from Processor Plugins"
A processor plugin like https://github.com/intelsdi-x/snap-plugin-processor-statistics can generate new data types. It seems like the current way to handle this is to register the new data type with gob. However, we also need to register the same data type with gob on the publisher plugin side, resulting in a coupling between the processor and the publisher. It would be good to have a way to regis

[2016-06-16 18:49] lynxbat commented on #491
Closing this since @nqn verified offline it can be closed.

[2016-06-16 18:58] lynxbat commented on #1000
Could you give an example of the data type you want to use?

We have two ways to approach this. A new content type to share among a family of plugins. Or a primitive to add the the core data types in the snap.gob content type.

[2016-06-16 22:30] #986 closed

[2016-06-16 22:48] lynxbat commented on #136
We have decided to rewrite a new version of this RFC. Closing this one ahead of that.

[2016-06-16 22:48] #136 closed

[2016-06-17 01:07] #799 closed

[2016-06-17 01:18] tiffanyfj opened #1001 "Periods in metric namespaces are not allowed"
I was running the df plugin and since I have a mounted path with periods it failed:

[code]

[code]

This needs to be handled somehow, whether it's in the plugins or in the framework. It doesn't seem reasonable to make people never have periods etc.

[2016-06-17 07:49] elemoine commented on #994
I guess this discussion is related to https://github.com/intelsdi-x/snap/pull/932 and https://github.com/intelsdi-x/snap/pull/933 (which were closed with no written conclusions).

In the mean time I agree that the docs should be updated to use the `-d` flag.

[2016-06-17 17:56] tiffanyfj opened #1002 "Control_test uses the same port for for several tests which can cause failures"
[code]
[code]

[2016-06-18 16:48] brharrington opened #1003 "Collector for tcp and udp stats?"
We are investigating a switch from snmp to snap for collecting basic system stats. Looking through the current collectors in the plugin catalog, I didn't see any that provide tcp or udp stats. Is there an existing or any planned work for a collector that would provide tcp and udp level networking stats? Something similar to what is available via:

http://net-snmp.sourceforge.net/docs/mibs/tcp.html

[2016-06-18 17:42] lynxbat commented on #1003
@brharrington We actually just completed a design spike on an SNMP plugin design out of an ask of our Networking group. Would you be willing to review the approach and comment? I can ask the team to post as an RFC.

We could also use some help implementing it in the short term since we don't think we can get to it for a month or so.

[2016-06-18 17:44] lynxbat opened #1004 "The readme badge for goreportcard appears to be broken."
https://github.com/intelsdi-x/snap

[2016-06-18 17:44] lynxbat commented on #1004
ping @mjbrender

[2016-06-18 19:42] brharrington commented on #1003
Sure.

I can potentially help, but it will depend a bit on the scope and how some of our priorities shape up for Q3.

[2016-06-19 21:19] elemoine commented on #994
@IRCody, FYI I've been experimenting with migrating Snap to `vendor/` and removing `Godeps` entirely. See my [vendor branch](https://github.com/intelsdi-x/snap/compare/master...elemoine:vendor).

So this branch adds a `vendor` directory with Git submodules for all the Snap dependencies. My final goal is to see if we can use the standard `go get` command to download, build and install Snap, while s

[2016-06-20 17:55] IRCody commented on #994
@elemoine: The way you are testing it it is the best way I can think of also. Are you adding the vendor'ed dependencies by hand?

[2016-06-20 18:46] nanliu commented on #994
The long version of the comment left in #933, we explored a variety of go dependency tools and unfortunately they all have shortcomings, whether it's repo bloat, incompatible with go get, hard to track and update dependencies (especially considering all the plugins). We are trying to make a decision focused on reproducibility, but keeping in mind development v.s. release needs as well as an easy w

[2016-06-20 19:50] IRCody opened #1007 "Need example tasks for other schedule types"
There should be more example tasks that deal with other schedule types [here](https://github.com/intelsdi-x/snap/tree/master/examples/tasks). Right now all the examples deal with simple schedule only.

[2016-06-20 21:12] #1004 closed

[2016-06-20 21:53] lynxbat commented on #998
@bjray We need to capture this one in a spike next sprint.

[2016-06-21 06:40] elemoine commented on #994
@nanliu Thanks for your comment. I created https://github.com/intelsdi-x/snap/pull/1008 for discussion.

[2016-06-21 14:35] katarzyna-z opened #1010 "RFC - snap SNMP collector plugin"
It describes concept of snap SNMP collector plugin.
## Use Case
As a snap user I want to collect metrics from network devices using Simple Network Management Protocol (SNMP).

## Desired features
- Support for SNMP v1, SNMP v2c, and SNMP v3.
- Metrics defined by the user (e.g. metric name, OID).
- Configurable SNMP hosts (user can define from which host metrics are collected and can configure host

[2016-06-21 14:39] katarzyna-z commented on #1003
@brharrington  You can read the RFC for SNMP plugin, see #1010.

[2016-06-21 18:08] marcin-krolik commented on #1010
@katarzyna-z this looks great! :+1:

[2016-06-21 18:09] lynxbat commented on #1010
👍

[2016-06-21 18:12] iceycake commented on #967
I have talked to @IRCody.  I will work on this issue as 2 separated pull request.  Submitted #1006 first just making the maximum # of failures customizable.  Will submit another pull request on infinite retries, which requires more works.

[2016-06-21 18:27] geauxvirtual opened #1011 "Dynamic metrics are not properly cached when returned from a plugin"
When a dynamic metric is part of a task manifest, the metric will have the form of `/foo/bar/*/baz`. Prior to collecting this metric from a plugin, the cache will be checked to see if `/foo/bar/*/baz` exists. If the metric does not exist, then the metric will be collected from the plugin and the result stored in the cache.

When the dynamic metric is returned from the plugin, the metric now has a

[2016-06-21 19:07] ss7pro commented on #1010
It would be nice if we can implement some kind of logic which is important for operators to ensure:

- there's no need to deploy separate instance for each hosts we're collecting data from
- collector will adjust number of running threads to ensure that it will keep up with collecting each metric in a provided interval. This means that if we're monitoring 20k metrics with 5s interval it will spawn

[2016-06-21 20:51] geauxvirtual opened #1013 "Adding cache entries should set time consistently."
There is a current mix use of chrono.Chrono.Now() and time.Now() for setting time when an entry is added to the cache.

https://github.com/intelsdi-x/snap/blob/master/control/strategy/cache.go#L101-L118

[2016-06-21 22:00] #994 closed

[2016-06-21 22:45] tjmcs opened #1016 "Default values on CLI override values in Global Config File"
The default values defined for the various command-line flags override the values specified in the global configuration file in those cases where the user does not supply a value for a command-line flag that includes a default value as part of it's definition.  For example, the following output shows a `snapd` command that should result in debug output (based on the `log_level` value specified in

[2016-06-22 06:50] katarzyna-z commented on #1010
Configurable number of retries and timeout were taken into account,  I forgot to add this. I corrected my first comment. I added to host configuration following parameters:
- network - to configure network, e.g udp, tcp,
- retries - number of connection retries,
- timeout - connection timeout in seconds.

[2016-06-22 09:16] mkhajeh opened #1019 "SNAP_TEST_TYPE is missing in run_tests_with_docker.sh"
When calling `scripts/test.sh` inside `scripts/run_tests_with_docker.sh`, the `SNAP_TEST_TYPE` is missing.

[2016-06-22 13:18] brharrington commented on #1010
There are several variants of v2, does this mean v2c?

How important is it to support v1? Dropping v1 support would allow use of bulkget.

How would this behave with respect to naming restrictions? For example, using the OID from your example I get back the string:

[code]

Which is not a valid path element.

The example uses an snmp source, I'm assuming the other option would be something like:

[2016-06-22 14:38] katarzyna-z commented on #1010
@brharrington Thank you for your response. I'm starting responding from the easier questions/doubts.

SNMP v2 means SNMP v2c (I corrected this in RFC)

Not allowed character in prefix or suffix (received through SNMP request or configured by the user) will be replaced with '_' (see [snap-plugin-utilities](https://github.com/intelsdi-x/snap-plugin-utilities#ns-package) and pay attention to [Replace

[2016-06-22 18:49] #1019 closed

[2016-06-22 20:13] #987 closed

[2016-06-22 21:18] brharrington commented on #1010
Does everything need to be flattened into the same namespace element? When I first read the spec, I thought I could configure something like:

[code]

And get a set of metrics like:

[code]

So I could make the output similar to [other plugins](https://github.com/intelsdi-x/snap-plugin-collector-load#collected-metrics) and work quite naturally with things like wildcards (`/intel/snmp/load/*`).

[2016-06-22 21:54] lynxbat commented on #1010
+1 on the using the namespace element to make the queries more powerful.

[2016-06-22 22:43] #950 closed

[2016-06-22 22:54] brharrington commented on #1010
As a example of using multiple, I was thinking about getting metrics per network interface.

http://www.net-snmp.org/docs/mibs/interfaces.html

Ideally I would like to get these mapped in as metrics like:

[code]

What about a config like:

[code]

So for this example, the set of metrics would be:

* Static
    * `/intel/snmp/load/loadavg1`
* Dynamic
    * `/intel/snmp/load2/[translation]`, for ex

[2016-06-23 03:06] tjmcs commented on #1016
After a bit more digging, realized that this bug was introduced due to the changes in a recent PR (PR #1014); have made a subsequent commit with changes to that PR that should resolve this issue and prevent it from appearing in the Snap master once that PR is merged. As such, this issue can probably be closed at this time (since it only appeared on a feature branch on my fork, no longer exists on

[2016-06-23 13:20] mstachowski opened #1026 "New version of grpc package is causing error during plugin compilation"
New version of `grpc` has got `SupportPackageIsVersion3` constant instead of `SupportPackageIsVersion2` ([grpc documentation](https://godoc.org/google.golang.org/grpc#pkg-constants)). This situation is causing following error during compilation:

`
../go/src/github.com/intelsdi-x/snap/grpc/controlproxy/rpc/control.pb.go:393: undefined: grpc.SupportPackageIsVersion2
`

[2016-06-23 13:26] elemoine commented on #1026
How do you compile Snap? Did you just run `go get github.com/intelsdi-x/snap`?

This is issue is the same as https://github.com/intelsdi-x/snap/issues/994.

[2016-06-23 14:01] mstachowski commented on #1026
@elemoine I am cloning snap into gopath and there I am running `make build` and `make all`.

Issue #994 is the same as mine (I was looking for issues with grpc instead of looking for issues with building). In this case we can close this.

[2016-06-23 14:02] #1026 closed

[2016-06-23 15:56] elemoine commented on #1026
There's no `make build`. Do you mean `make deps`?

If you do clone Snap and run `make deps all` then it should work. Please confirm that you do get an error when you do that.

[2016-06-23 19:11] tjmcs commented on #1016
Closing issue now (after a suitable period for comment)

[2016-06-23 19:11] #1016 closed

[2016-06-23 23:00] #967 closed

[2016-06-24 08:48] katarzyna-z commented on #1010
@brharrington Thank you for your proposals. I've analyzed it.

I think that you propose great solution to configure namespaces in plugin configuration file. I want to change "prefix" and "suffix" into your proposition:
[code]
and then also build namespaces as you showed.

I think that is good to introduce a new source  {"source": "oid-translate", "index": 9} but I would like to add this in the sec

[2016-06-24 15:16] brharrington commented on #1010
The `walk` I think is the same as `multiple` in the original proposal. I changed the name because `table` would also have multiple results and to me it was similar in behavior to the `snmpwalk` command. That said I don't care too much about what the modes are called. For `table`, here are some examples:

### Network Interfaces

http://www.net-snmp.org/docs/mibs/interfaces.html

The OID consists of

[2016-06-24 15:53] brharrington commented on #1010
No objections. The `single` and `table` modes would cover my use-cases.

That sounds fine. It makes it easier to loop over the table without needing an explicit config per column. I'll mention this is also an example where I would probably try to use the the `table` format for several reasons:

1. Most of our users are not familiar with snmp so for someone querying the snap API I would rather they

[2016-06-24 22:02] #979 closed

[2016-06-24 22:46] #1011 closed

[2016-06-24 23:26] geauxvirtual commented on #680
To expand on this issue, I'll use the snap-plugin-collector-rabbitmq plugin as an example.

The plugin exposes a dynamic metric in the form of `/intel/rabbitmq/queues/*/*/messages` where the first dynamic element is the vhost and the second dynamic element is the name of the queue to the collect the metric.

As the plugin is a proxy plugin, the task manifest for collecting this metric would look l

[2016-06-26 06:10] candysmurf opened #1029 "Running Snap error"
The latest Snap is broken with this error when run it:

Step:
1. ./build/bin/snapd -l 1 -t 0
2. see log on the console:
       proto: duplicate proto type registered: rpc.CollectMetricsReply

It seems caused by this merge:  e68b1a3df159125502e44efbc007425a7138ea12.

[2016-06-26 16:42] smartx-jshan opened #1030 "Support flow collector like sflow or netflow?"
Hello,
We are intrested in Snap Framework.
Good thing is that most of resource-level collectors are supported.
However I couldn't find any flow-level collectors in Snap Plugin Catalog.
Do you have plan to support flow collector such as sflow or netflow?

[2016-06-27 04:00] jcooklin commented on #1030
We would definitely like to have plugins supporting sflow and/or netflow.

Is this something you can or would like to develop?  If so, we would like to assist you in any way we can.

[2016-06-27 04:07] jcooklin opened #1031 "Unable to start REST API"
Snapd REST doesn't bind to an address after #1014

[code]

[2016-06-27 07:08] katarzyna-z commented on #1010
@brharrington Thanks for examples, now I understand the ``table`` mode :)

[2016-06-27 16:58] geauxvirtual commented on #1029
That message is not from that commit or PR. This could be related to PR #1012 which added plugins being able to communicate over gPRC. @IRCody should be able to validate that.

[2016-06-27 17:05] Collinux opened #1034 "Snap build broken: undefined values during make"
I'm trying to build snap from source using the latest pull by running "make snap". I get the following errors:

[code]

The same happens when I run "go get github.com/intelsdi-x/snap". I found that closed issue #953 references a part of this, so I found a solution to resolving one of the three errors by running `export GO15VENDOREXPERIMENT=1`. If I run the same above commands again I receive these

[2016-06-27 17:11] thomastaylor312 commented on #1034
@Collinux which version of Go are you using?

[2016-06-27 17:12] Collinux commented on #1034
@thomastaylor312 go version go1.5.4 linux/amd64

[2016-06-27 17:14] jcooklin commented on #1034
@Collinux will you run just `make`.  This will run godeps restrore which may resolve the problem.

[2016-06-27 17:17] Collinux commented on #1034
@jcooklin I'm having problem with `make` as well:

[code]

[2016-06-27 17:28] #1031 closed

[2016-06-27 17:45] jcooklin commented on #1029
☝️ I found this to be true.  It was introduced in #1012.

[2016-06-27 17:52] nanliu commented on #1034
@Collinux, in go convention the source code should be in $GOPATH/src/github.com/intelsdi-x/snap

Based on your go env output, go get should of created this folder, so please try the following command:
[code]

[2016-06-27 21:18] Collinux commented on #1034
RESOLVED: I had numerous problems with the way that I set up go and my gopath was not set to what @nanliu mentioned.

SOLUTION:
@jcooklin and I resolved the issue offline by setting up [gvm](https://github.com/moovweb/gvm) and checking out go version 1.6.2 which fixed my poor gopath configuration.

[2016-06-27 21:18] #1034 closed

[2016-06-29 14:02] #1013 closed

[2016-06-29 18:55] geauxvirtual opened #1037 "Recently added tests need to be labeled appropriately"
snap/grpc/controlproxy/controlproxy_test.go
snap/pkg/netutil/netutil_test.go
snap/pkg/rpcutil/rpcutil_test.go

The above three test files are not labeled as small, medium, large, or legacy, so these tests execute for any test that runs. The above files should have the appropriate build label applied for test size, and the file renamed to match the test size (e.g. netutil_small_test.go)

[2016-06-29 19:44] danielscottt opened #1038 "RFC: RPC Type, Content Types, and Client Libraries"
# Overview
### RPC Type

When a plugin and `snapd` perform their initial handshake, the plugin must inform the daemon which form of RPC it uses: Gob or JSON-RPC. This is known through the `RPCType` key in a plugin's `Meta`.  JSON-RPC was introduced as a solution for polyglot plugins, however due to the current nature of Snap's pipeline, only Collectors may be written in languages other than Go.  T

[2016-06-29 20:21] ConnorDoyle commented on #1038
@danielscottt could you add a note about planned compatibility guarantees? Could be something simple like "no breaking changes to the gRPC service protocol allowed within a major version series".

[2016-06-29 20:51] danielscottt commented on #1038
@ConnorDoyle ✔️

[2016-06-29 22:07] bjray commented on #680
Resolution of this issue involves merging of #907 & add documentation around uniquely identifying metrics through their namespace and version because those are the keys to the cache.   We will open issues around any other proxy plugins such as apache, libvirt, docker, etcd, &c to ensure that they expose unique namespaces.

[2016-06-29 22:22] bjray commented on #800
Were are implementing gRPC #1038 to support multiple languages.  Following that, we will look implementing the bcc tools.  Would be interested in collaboration on this front.

[2016-06-30 18:28] #1029 closed

[2016-06-30 21:18] lynxbat opened #1042 "Snapctl error message on Task should truncate"
[code]

The FAIL message causes line wrapping and is either truncating really long or not truncated.

It would be better to have it truncate to keep the table consistent and have the user use a specific `task info` to see details like fail messages.

[2016-06-30 21:30] lynxbat opened #1043 "Removing a Disabled Task requires calling Stop first."
[code]

[code]

Ideally a Disabled Task should be something that can be removed without having to stop.

[2016-06-30 21:33] lynxbat opened #1044 "Stopping a Disabled task doesn't make sense. And it doesn't change the state."
[code]

[code]

[code]

[2016-06-30 21:37] lynxbat opened #1045 "Snap logs don't signal any startup"
A default log level has no indication Snap knows it is running. It would be cool to have a text splash similar to common services like influx.

Example:

<img width="502" alt="screenshot 2016-06-30 14 37 45" src="https://cloud.githubusercontent.com/assets/1278669/16505086/3ad84f92-3ed0-11e6-948a-5512c6dd09b3.png">

[2016-07-01 17:26] #937 closed

[2016-07-05 10:11] obourdon opened #1048 "Invalid API response returned by mock collector"
Having loaded the snap-collector-mock2 plugin I found out that the following call returned an error:
[code]
Looking at the REST response contents seems like snapd returns the following contents:
[code]

Note that in the case where a single metric is returned here is the REST API response contents
[code]

Please note also that if both versions of mock plugin are loaded into snapd, both v1 and v2 me

[2016-07-05 11:02] IzabellaRaulin commented on #963
@sandlbn, this issue is resolved, isn't it?

[2016-07-06 19:16] IRCody commented on #810
Closing since #1048 is a newer issue with with a better description and linked PR that addresses this issue.

[2016-07-06 19:16] #810 closed

[2016-07-06 19:20] IRCody commented on #1048
I went ahead and closed #810 which afaict is about the same issue. This issue has a better description since it points out examples of the API responses.

[2016-07-07 01:56] mjbrender commented on #1048
@IRCody is it cool to label this as a Bug for tracking? I understand @obourdon has a fix in place already.

[2016-07-07 05:43] obourdon commented on #810
Oops sorry I did not see that the issue was already logged. Will be more careful in the future

[2016-07-07 13:05] marcintao opened #1052 "Unable to load upgraded collector with reduced set of metrics"
When new version of collector is exposes a reduced set of metrics (doesn't export them from `GetMetricTypes()`) , it's impossible to restart a task involving that collector. Snap will complain about missing metric during task creation, even though:
- task was removed,
- plugin was unloaded and loaded in new version (with version number changed),
- list of metrics reflects tracks the current state

[2016-07-07 15:53] IRCody commented on #1048
Yes I think that is fine.

[2016-07-07 17:14] geauxvirtual commented on #1052
Can you add the task manifest you were using to this issue?

[2016-07-07 18:49] #980 closed

[2016-07-07 22:02] IRCody commented on #976
Closing since #1047 was merged.

[2016-07-07 22:02] #976 closed

[2016-07-08 00:07] NichelleBot opened #1054 ""Unexpected EOF Error" when using Snap with influxdb container"
I am currently running Snap version v0.14.0-beta and Docker version 1.12.0-rc3 (for both client and server). I am also using the most recent update of the influxdb plugin that was merged after resolving issue #61 last week.  When I load my plugins and run my Snap task, both snapd and my containers stall (meaning that they are running but not collecting telemetry). This said, I am confident that th

[2016-07-08 04:25] jcooklin commented on #1054
@NichelleBot can you look in the influxdb.stderr log in /tmp for an error
(possibly a stack trace).

On Thu, Jul 7, 2016 at 5:07 PM NichelleBot <notifications@github.com> wrote:

[2016-07-08 07:05] marcintao commented on #1052
Added task manifest:
[bug_task.txt](https://github.com/intelsdi-x/snap/files/353678/bug_task.txt)

[2016-07-08 07:09] smartx-jshan opened #1057 "Plugin Load Error when loading snap-plugin-publisher-kafka"
•OS version : Ubuntu 14.04.4
•Snap version: Snap v0.14-beta
•Environment details: Virtual Machine based on KVM

When loading snap-plugin-publisher-kafka, I see the error message as below.

$ snapd -t 0 -l 1
$ snapctl plugin load snap-plugin-publisher-kafka

![snap error](https://cloud.githubusercontent.com/assets/19390594/16679708/9e927396-4524-11e6-8914-9d33ebe601cd.png)

gob: name not registred

[2016-07-08 16:20] tjmcs opened #1058 "Snap should restart in response to a SIGHUP"
We should be able to use a `kill -HUP [PROC_ID]` (where the `[PROC_ID]` value is the process ID of the Snap daemon) to force the Snap daemon to restart (and pick up any changes that might have been made to the configuration in it's global configuration file).

[2016-07-08 20:23] #1037 closed

[2016-07-11 03:03] jcooklin opened #1061 "Unloading a plugin should kill instances of the plugin that are running"
Given you start the example mock-file.yaml task and then unload the mock plugins the latest plugin, which was the one running, will still be running after unloading it.

[2016-07-11 12:15] pchronz opened #1062 "Indicate command errors for snapctl via return codes"
When I call snapctl in the wrong way, the return code still is 0. The missing error code makes automation harder.

[code]
returns 0, although it should be != 0, since load and plugin are swapped.

[2016-07-11 19:49] marcin-krolik commented on #1054
@NichelleBot I have just repeated your experiment with snap-plugin-collector-psutil, snap-plugin-publisher-influxdb and snap-processor-passthru. I used task manifest you provided. InfluxDB running with docker, started with command you mentioned. I cannot reproduce your issue.

Docker version:
Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:

[2016-07-12 00:25] mkhajeh commented on #1062
That is resolved already in #1023, but it is not released yet

[2016-07-12 11:50] pchronz commented on #1062
@mkhajeh perfect, thanks. I'll try it out with the next release or on the master branch.

[2016-07-12 11:50] #1062 closed

[2016-07-12 16:13] #1002 closed

[2016-07-12 23:22] geauxvirtual commented on #1044
Looking at the code, it seems an error should be thrown for trying to execute an action on a task in a state that does not support that action. Something like the following.

[code]

[2016-07-13 07:36] woodsaj commented on #993
This is an important feature for our use case where we have many snapd instances isolated from each other (eg behind NAT'ed connections) that we want to centrally manage.

We have discussed this internally within our team and have a few ideas.

Ideally we would like to just be able to use Tribe, with a single tribe member reachable by all tribe members acting as a "master" node.
However the use of

[2016-07-13 11:27] andrzej-k commented on #1057
Hi @smartx-jshan - thanks for reporting this!
That may be the issue with no updated Godeps - we'll investigate it further. Just to let you know, I've opened a new issue to capture this in snap-plugin-publisher-kafka repo, and will close this one.

[2016-07-13 11:30] #1057 closed

[2016-07-13 11:36] andrzej-k commented on #1054
Closing this issue as non reproducible.

[2016-07-13 11:36] #1054 closed

[2016-07-13 17:01] jcooklin commented on #1044
I agree.

[2016-07-13 18:03] mjbrender commented on #1054
👍 thanks @NichelleBot! Great work figuring this tough one out. Having it documented would be awesome. It may be worth sending that feedback to the Docker on Mac Beta team too if you have a chance.

[2016-07-13 21:19] IRCody opened #1065 "On Stop(), scheduler does not clean up all connections"
On Scheduler.Stop(), remote connections used in a distributed workflow are not cleaned up properly. This is not an issue until #1059 is merged as the only time scheduler.Stop() will be called is right before the process exits, so cleaning up is not an issue. After #1059 is merged, Scheduler.Stop() will need to properly clean up all open connections.

[2016-07-13 22:28] mjbrender opened #1066 "Further context with additional GitHub Labels"
We started pretty light on labels and continue to review them. It's time to dig into it again.

Maintainers need more context when reviewing issues in the backlog and pull requests alike.  Our labels do not meet that need today. What's definitely missing:

* ability to quickly see PRs that proposal breaking changes
* more options for how to review an issue's status (wrong repo, flaky test)
* more

[2016-07-13 23:07] #1058 closed

[2016-07-14 09:16] andrzej-k opened #1067 "Sectioning plugin catalog"
With growing number of plugins of different types our Plugin Catalog may benefit from sectioning "Maintained plugins" in PLUGIN_CATALOG.md. How about creating a section for each plugin type, for example like below, as opposed to having all plugins on a single list?

## Maintained collector plugins
| Name  | Description | Link | Download |
| :---- | :---------- | :--- | :------- |
| CollectorPlugin

[2016-07-14 15:46] lynxbat commented on #1067
Good idea.

We have a few things in flight for categorizing the quality, stability, and type of plugins including partners starting to host better catalogs (outside of github).

We will be posting our 1.0 plans soon and this will include that.

[2016-07-14 18:57] jcooklin opened #1068 "Support defining a namespace in a task manifest using an arbitrary separator"
Stated another way, allow plugins to provide "/" as a valid character in the `Value` field of `NamespaceElement`.

This issue was brought up in https://github.com/intelsdi-x/snap-plugin-collector-df/issues/10 where it would be more natural if the framework allowed "/" as a valid character in the `Value` field of `NamespaceElement`.

I propose that
- The framework detect what separator is being use

[2016-07-14 22:49] #1043 closed

[2016-07-14 23:17] #1044 closed

[2016-07-15 00:03] juliasantos opened #1072 "Latest snap plug-in package released is missing disk plug-in"
I downloaded the lastest snap plug-in package and it appears to be missing the snap-plugin-collector-disk plug-in. This plug-in listed as "done" and the docs for it say it is in the latest release.

[2016-07-15 05:15] juliasantos opened #1073 "Task creation fails with long list of metrics from different collectors"
I have a list of metrics from 3 different collectors that I want to combine into one output file. I first created 3 different task files (one for each collector) that wrote to 3 separate output files to test and make sure everything worked. Then I made a combined task file that would write to one output file. Even though the 3 individual tasks worked fine, the combined task fails with a runtime er

[2016-07-15 15:42] lynxbat commented on #1073
Using gist.github.com is a great way to share these. Also you can inline json into these issues (using Markdown).

Here is the data:

Error:
[code]

disk-file_linux
[code]

iostat-file_linux
[code]

psutil-file_linux
[code]

select_telem_file_pub-2
[code]

[2016-07-15 16:31] IRCody commented on #1073
@juliasantos: Can you include which version of Snap you were using?

 Looking at it really quick it seems to be panic'ing [here](https://github.com/intelsdi-x/snap/blob/b508b3166d969c1d9913c4a92623cabe01242e5d/pkg/ctree/tree.go#L167). In master there is a check that the length is not 0 before we index in to the array [here](https://github.com/intelsdi-x/snap/blob/master/pkg/ctree/tree.go#L194). Th

[2016-07-15 16:36] juliasantos commented on #1073
We installed the latest package on github this week - v0.14.0 beta.

[2016-07-15 16:36] thomastaylor312 commented on #1073
@juliasantos I think @IRCody is right. I just checked against master and the task worked. I'll work offline with you to verify

[2016-07-15 16:38] thomastaylor312 commented on #1072
@nanliu Will this be added in to 0.15?

[2016-07-15 17:47] thomastaylor312 commented on #1073
@juliasantos and I tried it with master and verified it worked. Closing issue.

[2016-07-15 17:47] #1073 closed

[2016-07-15 19:26] jcooklin opened #1075 "FetchMetrics doesn't return latest metric(s) when version < 0"
FetchMetrics (in control) doesn't return latest metric(s) when version < 0.

[2016-07-15 20:16] nanliu commented on #1072
Yes, this will be released in 0.15

[2016-07-15 23:09] #1075 closed

[2016-07-15 23:21] nanliu commented on #1072
Plugin released in 0.15.

[2016-07-15 23:21] #1072 closed

[2016-07-15 23:51] mjbrender opened #1079 "mock plugins not providing testing coverage for publishers"
Note comment at the bottom of this Issue: https://github.com/intelsdi-x/snap-plugin-publisher-mysql/issues/16#issuecomment-233093616

The type mismatch issue, particular `uints`, may need better coverage.

[2016-07-15 23:57] IRCody opened #1080 "Minimum and maximum values config policy rules for int/floats crash plugins when used"
Adding either
[code]
or
[code]
to a plugins GetConfigPolicy method will cause the plugin to crash on startup. This is because the min/max values are not handled properly [here](https://github.com/intelsdi-x/snap/blob/master/control/plugin/cpolicy/float.go#L140-L156) and [here](https://github.com/intelsdi-x/snap/blob/master/control/plugin/cpolicy/integer.go#L48-L64). The failing logic for both is:

[2016-07-16 00:07] IRCody opened #1081 "Descriptions for rules need to be passed from plugin to daemon"
When rules are encoded prior to being sent to the daemon, Description does not appear to be passed, at least afaict. An example of the Gob Encoding that is(not) happening can be seen [here](https://github.com/intelsdi-x/snap/blob/master/control/plugin/cpolicy/integer.go#L90-L124).

[2016-07-16 00:35] tjmcs opened #1082 "Metric version value passed into a `snapctl metric get` command is not checked"
With the recent merge of #1076 and the pending merge of #1049, there is potential confusion surrouding the value passed in for the `--metric-version` flag. In short, the values used to retrieve **all** versions of a given metric and the values used to return the **latest** version of a given metric are different depending on whether the `--metric-namespace` value passed into the `snapctl metric ge

[2016-07-16 00:58] candysmurf commented on #1082
@tjmcs, do you mind to give a couple of examples to demonstrate the issue here? thank you.

[2016-07-16 01:07] candysmurf commented on #1081
@IRCody agreed with you that the description currently it's not being sent.

[2016-07-16 01:25] candysmurf commented on #1081
The question is that if we need to encode "Description" or simply not expose it.

[2016-07-16 04:27] tjmcs commented on #1082
I would have thought it was fairly obvious from my description above, but here's my best shot at a couple of examples. Once #1049 is merged, the specifying a `--metric-version` value that is less than or equal to zero in a `snapctl metric get ...` command that retrieves a single metric will return the latest version of that metric:
[code]
but based on the changes we just merged in PR #1076 a very

[2016-07-16 05:06] candysmurf commented on #1082
@tjmcs, thanks for your detailed explanation! It's clear now. Thanks for your suggestion to make the behavior consistent!

[2016-07-17 13:41] irom77 opened #1084 "Plugin not found: type(publisher) name(mock-file) version(-1)"
When going thru examples I  get 'Plugin not found' , see below:
[code]
Mock file is taken from https://raw.githubusercontent.com/intelsdi-x/snap/master/examples/tasks/mock-file.yaml
[code]
[code]

[2016-07-17 19:32] candysmurf commented on #1084
@irom77, your mock-file.yaml must have publisher named "mock-file" but the publisher plugin you loaded named "file". That's why you got that error. If you can change the file in your mock-file.yaml. it should work. Please give that a try and let me know. thanks

[2016-07-17 22:39] irom77 commented on #1084
Thnx appreciate

[2016-07-17 22:39] #1084 closed

[2016-07-18 16:38] nanliu commented on #1079
We need better acceptance test. At minimum we should attempt to load all plugins as part of the release process. I've done this manually for the 0.15 release and will write an acceptance test to help catch these type of issues.

[2016-07-18 16:43] jtlisi opened #1086 "Ignore specified metrics that are not available"
When deploying on a variety of systems, there may be metrics available on some systems that are not available on others. However, this means each system would need a unique task manifest that is tailored to that system. What I'm proposing is either an optional tag for a metric to be ignored if not available or a setting that allows the snap collector to collect every listed metric that is availabl

[2016-07-18 21:12] #621 closed

[2016-07-18 21:16] candysmurf commented on #1086
@jtlisi, It’s a good idea and we are investigating how to deliver the feature and will update you once it's ready for you to test.

[2016-07-18 21:34] #1080 closed

[2016-07-18 23:31] mjbrender commented on #276
@nanliu this echoes our conversation from last week. cc @bjray

[2016-07-18 23:34] mjbrender commented on #1067
+1 to this being good @andrzej-k. Hey @nanliu, when we further discuss auto-generating this file, let's take this feature into account.

[2016-07-18 23:37] mjbrender commented on #1079
That's a great additional feature @nanliu. Separately, shouldn't mock cover us here?

[2016-07-19 00:52] IRCody commented on #1079
Is the idea that mock collectors should publish metrics that cover some specific set of types so there is an easy way to verify a publisher at least supports those base types?

[2016-07-19 18:31] mjbrender commented on #1079
@IRCody exactly my point, since I thought that's what mock is for. Is that premise right though?

[2016-07-19 18:45] mjbrender commented on #963
Hey all - this one is completed in the correct repo 🙌 https://github.com/intelsdi-x/snap-plugin-collector-libvirt/issues/23

Thanks again to @beyossi for finding this one and for other maintains for connecting the dots 🎯

[2016-07-19 18:45] #963 closed

[2016-07-19 18:55] mjbrender commented on #952
This is an interesting bug. @nqn, could you reproduce it or tell us how you made it? Tagging as a bug until we find out more.

[2016-07-19 19:07] IRCody commented on #1079
The mock plugins are used for Snapd tests. I don't think the intention is for them to be used by plugin authors to act as some sort of minimal test for a plugin.

[2016-07-19 19:09] lynxbat commented on #1079
@IRCody is right. Plugin tests should be for the plugins. The mocks are for Plugin API tests on Snapd itself.

[2016-07-19 21:59] #1048 closed

[2016-07-19 22:07] tjmcs commented on #1082
With the merge of PR #1049, we can now mark this issue as resolved...after looking through the comments on this story I think it'll be better to open a separate issue up that just addresses the question of documenting the `--metric-version` values that can be used with a `snapctl metric get` command (and the associated `GET` against the `/metrics` RESTful API resource)

[2016-07-19 22:07] #1082 closed

[2016-07-19 22:14] tjmcs opened #1088 "Document the '--metric-version' values that can be used with 'snapctl'"
We need to better document the various `--metric-version` values that can be used with a `snapctl metric get ...` command (and the associated `GET` that can be performed against the `/metrics` resource in the Snap RESTful API). Specifically, we should discuss that a value of:
- **0** can be used to get **all** versions of a given metric (or set of metrics if a wildcard is used in the specified met

[2016-07-20 08:38] andrzej-k commented on #1068
Hey @jcooklin, I think this is a good feature request. Have you considered other approaches to support this use case? For example, maybe escape character (\\) could be used. In such case metric catalog would expose:
[code]

and task manifest would look like this:
[code]

My impression is that concept of escaping may be already familiar to snap users, but I'm interested to learn what pros and cons

[2016-07-20 16:31] jtlisi commented on #1086
@candysmurf Sounds good! If there is anything I can do to help please let me know.

[2016-07-20 22:05] #491 closed

[2016-07-25 09:47] obourdon commented on #1068
@andrzej-k as I stated in [The original df plugin issue link](https://github.com/intelsdi-x/snap-plugin-collector-df/issues/10#issuecomment-228691533) neither [html_]escaping or changing the separator would work as the namespace elements are used within REST calls so this will most probably not work
@jcooklin do you have any rough time estimate on when this could be specified/implemented/reviewed/

[2016-07-25 12:26] marcintao opened #1095 "Formatting incoming data for publishing"
What format should be applied to published data?

Having looked at a few publishers it struck me that publishers don't yet have a common way to handle incoming metric data types. I believe we should guide developers in the choice of proper conversion strategy.

Here's breakdown of publishers by the data conversion approach:

Approach | Second Header | Remarks
------------ | ------------- | -------

[2016-07-25 16:22] #1061 closed

[2016-07-26 13:23] obourdon opened #1096 "Task creation errors are not displayed anymore"
Test scenario with only snap repository plugins (mock, mock-file, passthru)

Copy the test task in /tmp with a slight modification which is to replace the foo metric by a non-existing foo1 one:
[code]

In the snap repository launch the following commands:
[code]

The errors are caught and identified by the snap daemon:
[code]

Using a network sniffer to look at the REST reponses shows that the err

[2016-07-26 13:40] IzabellaRaulin commented on #723
Resolved by https://github.com/intelsdi-x/snap/pull/728

[2016-07-26 13:40] #723 closed

[2016-07-26 15:31] jcooklin commented on #421
The source should be included in the namespace (as a dynamic namespace element).  This is important since the namespace alone uniquely identifies each metric.

Using the example `/intel/ipmi/power/cpu` from above I suggest that the plugin should populate the metric catalog with the following namespace.

`/intel/ipmi/*/power/cpu`
which is equal to (verbose) metric list representation
`/intel/ipmi/[

[2016-07-26 15:50] jcooklin commented on #844
The resource name should be included in the namespace as a static or dynamic namespace element as is appropriate.

Using a dynamic namespace element
`/intel/*/writes`
`/intel/[device]/writes` listing catalog with `--verbose`

This is related to #421.

[2016-07-26 16:10] #1096 closed

[2016-07-26 16:44] IzabellaRaulin commented on #684
@lmroz, it seems that this issue cannot be reproduced easily. Moreover, it might be not related with snap itself, but with tmux - please check is it still occurs for upgraded version of tmux as @tiffanyfj suggested.

If this issue still occurs on your system, feel free to re-open this github-issue - please provide additional information which might help to reproduce that. Thank You.

[2016-07-26 16:44] #684 closed

[2016-07-26 16:51] bjray commented on #952
I spoke with @nqn and he confirmed that we are unable to reproduce, so closing for now.

[2016-07-26 16:52] #952 closed

[2016-07-26 18:20] candysmurf opened #1098 "Support dynamic metric type annotation as the default"
### Problem
- When a metric includes dynamic elements, it's not always obvious what the field is meant to represent

Example `snapctl metric list`:

[code]
### Proposed Solutilon
- Shows the annotated metric catalog **as the default** when listing the metric catalog `snapctl metric list` (today this is displayed when the flag `--verbose` is present)

[code]
- The framework should support in task m

[2016-07-26 21:20] candysmurf commented on #609
as code base changed dramatically. We'll need to reevaluate this. I would like to close this at this time.

[2016-07-26 21:20] #609 closed

[2016-07-26 23:50] mjbrender commented on #1095
This is an awesome proposal. Hey @jcooklin and other @intelsdi-x/snap-maintainers, I'd like to get a discussion on this one.

[2016-07-27 13:22] ssorsa opened #1100 "Snapctl task create doesn't give error/debug message for wrongly formatted input"
If the task .yaml - file is wrongly formatted or not in proper format and the user tries to load it with snapctl: "snapctl task create" command, the output doesn't state any error messages to the user. Snapctl should put an error message to the user, that the input file is not properly formatted or it can't parse the input file. Now you can only try to load the file, but you don't get any tasks.

[2016-07-27 13:31] ssorsa opened #1101 "Feature request: snapctl should be able to stop/kill tasks with shorter id or name"
Snapctl is able to stop a task with the task ID, which is a really long sequence of characters, for example:

c8427db1-0e3c-4355-b1f0-3b2036385c52

If you have multiple tasks, let's say 20 and you wan't to stop one of those without copy-and-paste console, you are in trouble since you need to type the whole ID to snapctl to stop the task. It would be more user friendly to be able to stop the task w

[2016-07-27 14:13] obourdon commented on #1100
I think it is a duplicate of #1097 and has been fixed by #1097

[2016-07-27 14:26] brharrington commented on #1101
You can already give a name to a task that shows up in the list.

[code]

I don't think you can do the operations like stop/kill using the name directly with snapctl, but it isn't too hard to script common use cases.

[2016-07-27 14:48] candysmurf commented on #1100
@ssorsa, Would you please get the latest Snap and let us know if the problem is fixed?

[2016-07-27 14:51] lynxbat commented on #1101
I have wanted a short UUID matching and matching of name feature for a while but forgot to ask for it here.

My idea is:

[code]

If the provided name or ID has duplicate matches the CLI would return an error including the matches examples.

This would be handled in the CLI lib and wouldn't need any REST API changes.

[2016-07-27 15:02] tjmcs commented on #1101
@lynxbat; would you rather match that string anywhere in the ID or would you rather use it as a unique prefix (like we did with Razor/Hanlon)?

It seems to me that most people would use a prefix form of the ID anyway, and it would probably make it less likely that we would find two IDs that match a given string if we restricted it to a prefix match (instead of matching anywhere in the ID string).

[2016-07-27 15:08] tjmcs commented on #1101
As an aside, I'm not sure I agree that you wouldn't want to make changes on the server side to support this feature. If you tried to implement this as a purely-client-side change you'd have to get all resources of a given type from the server and then filter on the client side. If you implement this on the server side you'd still be getting all resources on the server side, but only passing back t

[2016-07-27 15:18] ssorsa commented on #1101
For me stopping the task with the name would help and as @lynxbat suggested, maybe something like UUID* would be good too.

[2016-07-27 17:08] geauxvirtual commented on #1098
The reason the metrics are not expanded in the default metric catalog list with dynamic field entries as opposed to the `--verbose` listing is that the default listing groups metric versions together, and there is no guarantee that each version of the metric has the same fields as the other versions. The `--verbose` flag prints each metric in the catalog on a separate line allowing for the dynamic

[2016-07-27 17:39] jcooklin opened #1102 "Combine the plugin's log file(s) with the snapd log file"
Today the plugin lib bundled with snap creates a log for each plugin where it logs interaction between snapd and the plugin.  This includes log statements for all iteractions (Kill, Ping, GetConfigPolicy, CollectMetrics, ..).

Example plugin log:
![example](https://www.evernote.com/shard/s13/sh/45e45a29-8d27-4049-9c4f-5747afe71a1f/d0aed1820c699aad/res/81bed68a-642c-4482-8e32-2a2708a4e698/skitch.pn

[2016-07-27 17:43] jcooklin commented on #651
Dynamice namespaces were introduced to address this need.  Please see the doc [here](https://github.com/intelsdi-x/snap/blob/master/docs/METRICS.md) for more info.

[2016-07-27 17:43] #651 closed

[2016-07-28 08:20] ssorsa commented on #1100
I updated the snap few mins ago and tested, now it works and reports errors while you try to load malformed .yaml or .json. So, fixed!

[2016-07-28 08:20] #1100 closed

[2016-07-28 21:56] jcooklin opened #1104 "snapd fails to start when the auto-discover flag is used and the plugins are not executable"
To reproduce
* compile snap `make all`
* change permissions on mock plugins `chmod 444 build/plugin/*'
* start snap (with auto-discover switch) `build/bin/snapd -t 0 -l 1 -a build/plugin`

Once snapd hits the first file that is not executable snapd exits.

[2016-07-28 22:25] jcooklin opened #1105 "on plugin load error snapd should log what the plugin sent to stdout"
When snapd starts a plugin **and is unable to unmarshal it's stdout** the snapd log should include whatever the plugin sent to stdout to facilitate debugging.  Today snapd only returns the error from the unmarshal which includes the first letter of whatever was sent to stdout (e.g. "invalid character 'p' looking for beginning of value").

[2016-07-28 22:31] IRCody commented on #1105
I think the rest client does something similar when it has marshaling errors [here](https://github.com/intelsdi-x/snap/blob/89e29ab274b1fe7e353949b7d0cfaca27ddd3f8a/mgmt/rest/client/client.go#L256-L263) by returning the first 1k characters of any error to help debugging. Seems like a similar method could be used here.

[2016-07-29 07:09] andrzej-k opened #1107 "Exposing schedule data via "snapctl task list" and customizing command output"
What do you think about exposing via **"snapctl task list"** schedule type and interval?

Currently **"snapctl task list"** returns:
[code]

To avoid overloading the output maybe there should be an option to **"snapctl task list"** which would allow specifying which fields should be present on the output. The default can stay as it is now - but if needed could be overridden, like this for example:

[2016-07-29 10:17] mkuculyma opened #1108 "New make install doesn't work if you don't have GOPATH set up for root."
There is a possibility that following the steps from "Build and Test" tutorial (https://github.com/intelsdi-x/snap/blob/master/docs/BUILD_AND_TEST.md) a user could omit fact that they need to export GOPATH variable for root as well. And if they do omit this detail, snap will not compile with the command "sudo make install" - in the latest commit `make install` causes not only `cp` binaries to /use

[2016-07-29 15:14] mjbrender commented on #1108
Good catch @mkuculyma. I think that clarification is needed and if we end up changing the requirement for `sudo`, we'll readjust. Would you mind opening a pull request to fix this?

cc @intelsdi-x/snap-maintainers

[2016-07-29 15:43] geauxvirtual opened #1110 "Control GRPC server unable to be disabled"
With the addition of distributed workflow to snap, there is currently no way to disable the control GRPC server for users that do not want to use distributed workflow with snap. There should be a way to disable this feature for users that do not want to use it for security purposes.

[2016-07-29 17:25] mjbrender commented on #1003
Hey @brharrington, we launched the SNMP plugin recently: https://github.com/intelsdi-x/snap-plugin-collector-snmp

Take a look around it and let me know if you think it covers your wants on this issue. 👌

[2016-07-29 17:30] mjbrender commented on #1010
Hey everyone, we launched the SNMP plugin: https://github.com/intelsdi-x/snap-plugin-collector-snmp

That brings this RFC to conclusion. Please open recommendations via issues on the plugin repo! 🐢

[2016-07-29 17:30] #1010 closed

[2016-07-29 17:42] mjbrender commented on #774
How does this relate to @nanliu's work to create packages. See http://snap-telemetry.io/download.html

[2016-07-30 14:08] sandlbn opened #1113 "Task disabled when max-failures set to -1"
Using task manifest with:

---
  version: 1
  schedule:
    type: "simple"
    interval: "1s"
  max-failures: -1
  workflow:

After 10 failures task was disabled. Same with --max-failures -1 from cli. I was also tried to set any value greater then 10 but task was also disabled after 10 failures.

snapctl & snapd version master-8f40854

[2016-07-30 14:20] lmroz opened #1114 "Unnecessary O(n) factor in complexity of some metric catalog functions"
This for loop: https://github.com/intelsdi-x/snap/blob/master/control/metrics.go#L302 has O(n^2) complexity for broad queries like `/intel/*`. Additionally there https://github.com/intelsdi-x/snap/blob/master/control/metrics.go#L337 is used the least effective method of removing element from slice. If there is no reason to keep query cache ordered `map[string]struct{}` should be used instead of `[

[2016-07-30 14:46] lmroz opened #1115 "Wildcards lacks syntax error handling"
https://github.com/intelsdi-x/snap/blob/master/control/metrics.go#L301
It's possible to create such task manifest that queries are translated to invalid regexps (like `/intel(foo`), this causes (recovered) panic in snapd.

[2016-07-30 15:20] lmroz opened #1116 "Namespace validation is too permissive"
Blacklist there https://github.com/intelsdi-x/snap/blob/master/control/metrics.go#L44 lacks regexp control characters `+` and `$`.
Additionally my  suggestion is to disallow any non-printable character in namespace and use `"\0"` internally as separator. `unicode` package contains definitions of character classes, so it should be used for such check.

[2016-07-30 18:30] vnitinv opened #1117 "syslog collector"
Hi,

Can anyone point me if we already have a syslog collector. If not, can someone help me in developing the same.
this collector is supposed to listen on to a specific port on which different devices are publishing their syslogs.
syslog string example

[code]

If I can get a proto type code, I can extend it. Thanks in advance.

[2016-07-30 19:24] vnitinv commented on #1117
to add, I am able to collect syslog using this go module
https://github.com/mcuadros/go-syslog

log:
[code]

So I can use this module to collect syslog, Just need to know how to write collector using this so that snap can consume these datas.

[2016-08-01 15:43] IzabellaRaulin commented on #1114
The operation on https://github.com/intelsdi-x/snap/blob/master/control/metrics.go#L302 does **not** take place on every collection, but only in the beginning and when metrics catalog has been changed (loading/unloading collector plugin). That minimize impact on collection process.

Moreover, there is PR #907 (on-hold) where regexp is no longer use to expand queries. Expanding this to the list of

[2016-08-01 16:11] Lorquas opened #1118 "Getting started guide fails?"
I'm running through the getting started guide, found in this repo's README.md and off your vimeo page.  I'm going along and everything is peachy until:

[code]

I open up the yaml and check out that its looking for a publisher named "mock-file" and not "file", run `snapctl plugin unload publisher:file:1`  followed by
`snapctl plugin load plugins/snap-plugin-publisher-mock-file` .  I then run the t

[2016-08-01 16:26] IzabellaRaulin commented on #1118
Hello @Lorquas, could you start from the beginning and do the following steps once again as below:
In one terminal window:
[code]
In another terminal window:
[code]

When I execute these commands above I don't receive any error:

[code]

However, your issue might point that there is some bug which occures under some circumstances.

[2016-08-01 17:23] Lorquas commented on #1118
Here is the full console logs of running this:
[snapd.txt](https://github.com/intelsdi-x/snap/files/394369/snapd.txt)
[snapctl.txt](https://github.com/intelsdi-x/snap/files/394370/snapctl.txt)

Note that I am using both snap and plugins from the latest release here: https://github.com/intelsdi-x/snap/releases/tag/v0.15.0-beta  and not from the git repo directly.

[2016-08-01 18:30] thomastaylor312 commented on #1118
@Lorquas This could be because we renamed the included file publishing plugin in [this PR](https://github.com/intelsdi-x/snap/pull/1064). The current getting started guide is using `v0.13.0` which was released before the aforementioned PR was merged. With `v0.15.0-beta` there is a `snap-plugin-publisher-mock-file` that you should be able to load as @IzabellaRaulin mentioned.

As for the documentat

[2016-08-01 19:01] Lorquas commented on #1118
@thomastaylor312 yup, I've tried both the `snap-plugin-publisher-file` and `snap-plugin-publisher-mock-file`.  The former won't even submit the task due to a mismatch in plugin names (this makes sense with the rename).  The `snap-plugin-publisher-mock-file` plugin gets the EOF file errors as seen in my last comment.

[2016-08-01 19:07] ConnorDoyle commented on #1118
Duplicating selected lines from snapd logs for convenience:

[code]

[2016-08-01 19:58] jcooklin commented on #1118
@Lorquas I'm trying to reproduce the error as you are seeing it.
* Are you on Linux or Mac
* Did you download the v0.15 release of both snap and the plugins (or did you perhaps compile the snapd yourself?)

[2016-08-01 21:24] lmroz commented on #1114
I know when this code is executed and this PR doesn't resolve the issue. Look there: https://github.com/IzabellaRaulin/snap/blob/6e9c54b3c9cd14f1844ccc78b04ca4665810abce/control/metrics.go#L393

Again in `for` ranging over items in metric catalog there is linear duplicate search resulting in O(n^2) time. Now look where this is called:
https://github.com/IzabellaRaulin/snap/blob/6e9c54b3c9cd14f1844

[2016-08-01 22:17] mjbrender commented on #1116
@lmroz great improvement. Tagging it based on the context.

[2016-08-02 12:17] lmroz commented on #680
@bjray But second task will be hitting cache of first task anyways. If you are going to give config in task manifest you can't create two static namespaces, you have to stick to dynamic one. And they will share key in cache, like in original problem. The only thing you can do with https://github.com/intelsdi-x/snap/pull/907 or without it on plugin's side is giving all remote hosts in global config

[2016-08-02 12:47] Lorquas commented on #1118
I'm running on Linux. Doing more testing it seems to not work on Fedora 23 or 24, but does seem to work on an older RHEL 7.2 release.

I'm downloading and running the binaries/plugins from: `snap-plugins-v0.15.0-beta-linux-amd64.tar.gz ` and `snap-v0.15.0-beta-linux-amd64.tar.gz`

[2016-08-02 16:58] IRCody commented on #1117
@vnitinv: AFAIK there is not already a syslog collector. The [plugin authoring](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_AUTHORING.md) documentation is a good resource for writing a plugin. You can also look at some examples from the [plugin catalog](https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CATALOG.md) to get an idea of what is involved.  If you run into any tro

[2016-08-02 17:31] geauxvirtual opened #1121 "Expose task retry limit in scheduler config options"
After reviewing PR #1120, it appears an enhancement could be made to expose the number of task retries through scheduler config options passed at the start of the snapd. When set, this would apply to all tasks created in the snapd instance. A user could then pass a different value during task creation that would override any value set in the snapd config.

[2016-08-03 00:55] jcooklin commented on #1118
@Lorquas A PR has been submitted to fix this issue.  You can download the binaries built with the fix [here](https://dl.dropboxusercontent.com/u/88590968/snap-lorquas.tgz).  Will you test the fix in your environment?  (I was able to reproduce the error you reported on Ubuntu 16.04 but not on 14.04 or 12.04.)

The issue was due to the fact that the last advertised time field was not getting set on

[2016-08-03 02:00] #1104 closed

[2016-08-03 11:14] lmroz commented on #1118
@jcooklin this is strange, I'd avoid resolving this by setting metric time to Now() especially during conversion. If time.Time is empty it's .Location() should be &UTC https://golang.org/src/time/time.go?s=23385:24735#L810, and marshalling should recognize that. Perhaps it was set previously using time.Unix() and when marshalled again but not using grpc but gob it crashes.

[2016-08-03 17:06] Lorquas commented on #1118
@jcooklin I've tested your build on all of my systems and things are working.  I think this issue can be resolved with your PR and the documentation tweaks as @thomastaylor312 suggested.

Thanks every for the quick replies!

[2016-08-03 20:46] geauxvirtual opened #1124 "Incorrect build label applied to core/task_test.go"
Incorrect build label is applied to core/task_test.go. Small tests should not be accessing the file system per the agreed upon designation of small, medium, and large tests. The build label for this file should be medium and the file name should be updated to task_medium_test.go.

[2016-08-04 13:32] syepes commented on #687
+1 Hope this gets included in the next release.

[2016-08-05 00:46] jcooklin commented on #687
https://github.com/intelsdi-x/sbr/issues/6

[2016-08-05 16:05] geauxvirtual commented on #687
I don't believe SBR is being used any more for building the binaries. @nanliu can confirm this.

[2016-08-05 17:14] nanliu commented on #687
sbr is still used for the plugin tar.gz. I've only migrated the package builds. I will add this for consideration in 0.16 release. If nothing else, I'll check and make sure it's consistent across the board.

[2016-08-05 19:27] tjmcs opened #1126 "Command-line parameters should be consistently applied when creating tasks"
When creating tasks, the current version of `snapctl` only uses the command-line parameters associated with the `snapctl task create ...` command when a task is being created using a workflow manifest. In the case where a task is being created using a task manifest, any command-line parameters that are included in the `snapctl task create ...` command are silently ignored.

It would be much less c

[2016-08-05 19:29] tjmcs commented on #1126
It should be noted that this issue is a more generic statement of Issue #285, which simply requests that users be allowed to override the task name from a task manifest; a PR that resolves this issue would also resolve Issue #285.

[2016-08-08 14:36] mkuculyma opened #1128 "Loading collector twice causes failure of task creation"
### Description

The issue appears when one accidentally attempts to load already loaded collector plugin. Framework informs that plugin has been already loaded, but after that creating a task fails. snapd needs to be restarted and all the plugins loaded properly from the beginning in order to run a task. This is quite confusing as it seems that something is wrong with the collector.
### Steps to

[2016-08-08 21:40] geauxvirtual opened #1129 "snapctl should return a better error if a task manifest is passed in without a schedule"
Currently, if a task manifest does not include a schedule, snapctl will return `runtime error: invalid memory address or nil pointer dereference`. When creating a task, there is no validation that the task manifest passed in included a schedule. An error should be returned to the user saying the task manifest needs to include a schedule instead of a vague runtime error.

[2016-08-08 21:46] geauxvirtual opened #1130 "Passing a task manifest without a workflow throws a panic in snapd"
Trying to create a task from a task manifest that does not include a workflow causes a PANIC in the goroutine trying to create the task. The output of the panic is displayed in the snapd log file and returned to the user as an error in creating the task.

[2016-08-08 21:49] IRCody opened #1131 "snapctl printing "If the number of maximum failures is not specified, use default value of x""
When starting a task without the maximum number of failures, snapctl will print out the following:
[code]
this feels like an odd place to be printing this out and is phrased somewhat oddly. If we want to inform the user of what we are doing it could be phrased like:
[code]
To more clearly state what is happening, rather than putting it as a conditional (which is only printed in the case where the

[2016-08-08 21:51] tjmcs commented on #1131
This is addressed as part of PR #1127, which is currently still open but close to being merged. When that PR is merged, this issue should be closed as well.

[2016-08-08 22:17] IRCody commented on #1128
I was able to reproduce this on master so labeling as a bug. Haven't been able to identify the exact cause yet but looking into it.

[2016-08-08 22:39] lynxbat commented on #1128
Nice catch @mkuculyma. This may be the best bug this quarter.

[2016-08-08 23:17] IRCody commented on #1128
Looking at it I think it's related to [this](https://github.com/intelsdi-x/snap/blob/master/control/plugin_manager.go#L442) line. A reference to the loaded plugin is added to the metric catalog before we verify if a plugin with a matching key is already loaded. For metrics it allows multiple writes with the same metrics, but for plugins it does not allow it so it happily overwrites the metrics in

[2016-08-09 19:11] woodsaj commented on #993
@msundara i have put together a working POC of an agent initiated transport for the REST client.

In short, the snap agent makes a connection to a websocket server.  This server then uses the native Snap client library to control the agent.

see https://github.com/woodsaj/snap/pull/1

[2016-08-10 00:57] kindermoumoute opened #1132 "Using config based strategy make the task fail with error "Plugin strategy not set""
Code used:
[code]

Error when running the task:
<img width="1899" alt="screen shot 2016-08-09 at 5 55 29 pm" src="https://cloud.githubusercontent.com/assets/10092554/17538471/97b21910-5e5a-11e6-8a64-6f257c549568.png">

[2016-08-10 10:29] skonefal opened #1133 "Collect configuration section in task manifest does not support underscores in metric names"
**OS Version:** Ubuntu 16.04 ```Linux ubuntus 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux```
**Snap Version:** v0.15.0-beta  `c78752606ed2d27df26ed767a1d6f0b55be0359e`
**Enviroment details:** bare metal

**Steps to reproduce:**
1: Prepare task manifest with metric configuration using underscores:
[code]
2: Feed it to snapd:
[code]
**Actual Results:**

[2016-08-10 15:35] jcooklin commented on #613
This test has been fixed.  Closing.

[2016-08-10 15:35] #613 closed

[2016-08-10 15:44] IzabellaRaulin commented on #957
Resolved by #1055. Logs are not longer send to an individual file from plugins. They are send to snapd's log.

[2016-08-10 15:44] #957 closed

[2016-08-10 22:53] geauxvirtual opened #1134 "A task manifest does not support "windowed" schedule types"
For a task manifest, the manifest includes a schedule plus the workflow. When the task manifest is unmarshalled, the schedule is unmarshalled into the following struct.

[code]

For a `windowed` schedule type, the schedule would need to include Type, Interval, StartTime, and StopTime.

Golang json encoder does not support `time.Time` type by default, and to correctly unmarshal into a time.Time typ

[2016-08-11 21:40] IRCody opened #1136 "Scheduler not started error returned incorrectly from createTask"
In [scheduler.createTask](https://github.com/intelsdi-x/snap/blob/master/scheduler/scheduler.go#L296-L319)

[code]

ErrSchedulerNotStarted is returned incorrectly. I'm not sure exactly what the error should be but it should be related to parsing the wmap into a workflow since that is what is triggering the error.

[2016-08-11 21:41] IRCody commented on #1133
Thank you @skonefal for reporting this.

I was able to successfully reproduce this on the v0.15.0-beta hash provided above (`c78752606ed2d27df26ed767a1d6f0b55be0359e`) and master. The problem is occurring with namespaces in the config section with an under score (which took me a second to notice at first since an underscore in the namespace with no config works fine). The validation on the namespa

[2016-08-12 09:28] ssorsa opened #1137 "Snapctl task create needs more detailed error message from malformed input files"
When user creates a task in snapctl: "snapctl task create -t task.json" and the input format is malformed the error message that the user is given for some errors is:

Using task manifest to create task
Error parsing JSON file input - json: cannot unmarshal string into Go value of type map[string]interface {}

Even a line number would be useful in this situation. Now the user needs to figure out t

[2016-08-12 16:53] IRCody commented on #1137
@ssorsa: Thanks for the feedback. Better error messages definitely improve the user experience.

I think this is a good idea. I am adding an enhancement label to this issue so it can hopefully be added in the future.

[2016-08-12 17:00] #1118 closed

[2016-08-12 17:14] woodsaj commented on #993
@msundara I have thrown together a quick demo screencast of the POC.
https://vimeo.com/178631074

I am interested to hear if you think this is worth exploring more.

[2016-08-12 20:47] mjbrender opened #1138 "Add process to add plugins to plugin catalog"
We need to outline how people add to the plugin catalog in our CONTRIBUTING.md file. To date it's been that someone adds a line to the PLUGIN_CATALOG.md and we scrape from that, but I know @nanliu is working on automating it w/a JSON object instead. Let's get something out there sooner than later. cc @sarahjhh

[2016-08-12 22:26] IRCody commented on #1101
+1 to unique prefix.

[2016-08-12 22:32] #1108 closed

[2016-08-12 22:37] nanliu commented on #774
We have released packages and have a package build repo at: https://github.com/intelsdi-x/snap_packaging

If anyone have a specific platform that they need packages for which is not covered by our package repo, please open an issue.

[2016-08-12 22:37] #774 closed

[2016-08-15 22:49] IRCody opened #1141 "Plugin name in distributed-mock-file.json incorrect"
In [distributed-mock-file.json](https://github.com/intelsdi-x/snap/blob/master/examples/tasks/distributed-mock-file.json) the file publishers name was not updated when it was changed from file => mock-file which makes the example not work without having an extra dependency outside of snap.

[2016-08-15 23:00] IRCody opened #1142 "Snapd does not appropriately handle a plugin hanging on {collect, process, publish}"
If a plugin hangs on any step in the workflow, snapd does not appear to be stopping the plugin/failing the task appropriately. To test you can add this line to the CollectMetrics() function inside the mock2 collector:
[code]

Then load the mock plugins (from snap/build/bin run: `./snapd -t 0 -l 1 -a ../plugin`) and load the `example/tasks/mock-file.json` task file. The task will hang after 1 "hit"

[2016-08-15 23:08] #285 closed

[2016-08-15 23:08] #1113 closed

[2016-08-15 23:08] #1126 closed

[2016-08-15 23:08] #1131 closed

[2016-08-16 00:06] IRCody commented on #1095
It seems like you aren't referring to incoming data types but outgoing. i.e What format should data be going out of the publisher. This seems like it would necessarily depend on where you are publishing to.

[2016-08-16 19:31] #1136 closed

[2016-08-16 21:58] IRCody commented on #266
@jcooklin, @mjbrender: To flesh this out, is this trying to say that you'd be able to do something like:

`cat task.json | snapctl task create -t` ?

[2016-08-17 03:41] jcooklin opened #1144 "Provide the current potential values for dynamic elements of a namespace"
When getting a metric (e.g. `snapctl metric get -m /intel/procfs/cpu/*/utilization_percentage" I would like to also be provided the current values that are available.

Current output:
![screenshot from 2016-08-16 20-29-23](https://cloud.githubusercontent.com/assets/862968/17723660/a9384416-63f0-11e6-8178-f789a4b49316.png)

[2016-08-17 04:18] #832 closed

[2016-08-17 12:47] iwankgb opened #1147 "Invalid namespace validation"
function [``wmap.isValidNamespaceString()``](https://github.com/intelsdi-x/snap/blob/5192dc4b9d55b3f87c876443bdc7b6f2e079bcad/scheduler/wmap/wmap.go#L323) is responsible for namespace validation in [``CollectWorkflowMapNode.GetConfigTree()``](https://github.com/intelsdi-x/snap/blob/5192dc4b9d55b3f87c876443bdc7b6f2e079bcad/scheduler/wmap/wmap.go#L187). Function is inconsistent with [documentation ]

[2016-08-17 12:59] iwankgb opened #1148 "snapctl exit status"
When ``snapctl`` fails because of missing plugin configuration then 0 exit status is returned and it is difficult to determine application error as output parsing might not work all the time.

snapd logs:
[code]
Command execution:
[code]

[2016-08-17 13:15] skonefal commented on #1147
This partly looks like duplicate of #1133

[2016-08-17 13:15] skonefal commented on #1133
Thanks @IRCody for looking into this :+1:

[2016-08-17 17:22] IRCody commented on #1147
@iwankgb Thank you for reporting this. I believe this is a duplicate of #1133, but that issue did not include the links to documentation changes that would need to be done so I have edited it to include your links.

If you think #1133 doesn't completely capture your issue respond back here and @ me and I'll reopen.

[2016-08-17 17:22] #1147 closed

[2016-08-17 17:25] IRCody commented on #1148
@iwankgb: Thanks for reporting. I agree that the exit status should signal correctly if there is an error.

[2016-08-18 19:07] rl1748 opened #1151 "Just a question"
Real newbie type question ...  What tool is used to view the data that is stored by the Publisher ?

[2016-08-18 19:07] IRCody commented on #1107
I can see this being added under a "Verbose" option to task list that would give a long form of all the info we have related to a specific task. This might also include details about the workflow.

[2016-08-18 19:23] IRCody commented on #1151
Hey @rl1748: The goal for publishers is not to store the data, but to publish it somewhere else, which is where you would be able to access it.

For example if you look at one of the example tasks, [mock-file.yaml](https://github.com/intelsdi-x/snap/blob/master/examples/tasks/mock-file.yaml), You will see that it is using the mock-file publisher. This publisher outputs metrics it receives into the

[2016-08-18 19:33] IRCody commented on #790
@intelsdi-x/snap-maintainers: Have we decided not to do this?

[2016-08-18 19:37] IRCody commented on #771
The changes in #1150 will (I think) resolve this.

[2016-08-18 19:43] IRCody commented on #495
@ConnorDoyle, I'm closing this since the issue is fairly old and I don't recall seeing this test fail either locally, or in travis in the past few months. So it's either extremely flaky or has been fixed. If this issue is reported/seen again we can reopen this issue.

[2016-08-18 19:43] #495 closed

[2016-08-18 19:55] IRCody commented on #708
I believe the simple case has been covered by #1127.

[2016-08-18 20:01] IRCody commented on #648
@ConnorDoyle: Haven't seen this error ever so I'm going to close the issue due to age. We can reopen if we see/someone else reports this error.

[2016-08-18 20:01] #648 closed

[2016-08-18 20:40] geauxvirtual commented on #1142
This is the intention of the deadline setting for a task, so that a task (or jobs within the task) can be killed or not run if the task run time exceeds the configured deadline. Testing with `sleep.Time(5 * time.Second)` will show that the collect job will take 5s to return, and the subsequent process and publish jobs will not run because the job time exceeded the default configured deadline of 5s

[2016-08-18 22:07] IRCody commented on #1142
I hadn't dug into it enough to try that case. The behavior that prompted this was a plugin that hangs indefinitely was "freezing" the workflow in that 1.) the task was never being failed, 2.) No other runs of this task were happening. The end result was task list showing some number of hits, 0 misses, 0 failures.

I'm not sure what the value is of the deadline if it works how your saying. My expec

[2016-08-18 22:15] IRCody commented on #844
I think this is also related to #652.

[2016-08-18 22:29] geauxvirtual commented on #1142
I agree, deadline should be honored throughout the workflow and not just during the transitions during the workflow from collector to processor or publisher and processor to publisher.

[2016-08-18 22:30] IRCody commented on #566
Closing due to age of the bug and lack of context to move forward with a fix.

[2016-08-18 22:30] #566 closed

[2016-08-18 22:34] IRCody commented on #652
Since the tag was added in #872, which also removed source I am going to close this issue. If you feel like this issue is still valid please respond, with @ircody and we can reopen.

[2016-08-18 22:34] #652 closed

[2016-08-18 22:40] IRCody commented on #1038
Link: #1150.

[2016-08-18 22:53] IRCody commented on #935
@jcooklin: Would this be solved by allowing the task to have infinite number of failures, as talked about in #708?

[2016-08-18 22:57] jcooklin commented on #935
@IRCody, IMO yes.  I like the idea that if `max-failures` is set to -1 it means no number of failures will cause the task to be disabled.

[2016-08-18 23:29] IRCody commented on #180
After talking with @danielscottt and @jcooklin I am going to close this issue since we are not planning on implementing this feature.

[2016-08-18 23:29] #180 closed

[2016-08-18 23:31] IRCody commented on #828
The RFC for single run task is at #985. Closing this issue since I think the discussion is better had in the more specific and recent issues #879 and #985.

[2016-08-18 23:31] #828 closed

[2016-08-18 23:36] IRCody commented on #1151
@rl1748: I'm going to close this issue, but if I didn't answer your question clearly feel free to respond back and ping with `@ircody` and your question and I can reopen it.

[2016-08-18 23:36] #1151 closed

[2016-08-19 19:27] bjray commented on #993
@woodsaj , @msundara - thanks for putting this together.  We'll take a look and respond to you early next week.

[2016-08-19 22:30] IRCody opened #1152 "Request for SQLite Publisher"
I think a SQLite publisher would be a good plugin to add. Adding this issue so it can be added to the plugin wish list.

[2016-08-19 22:39] #1152 closed

[2016-08-22 21:37] felipewd opened #1154 "Task list not consistent"
Hi,

When listing tasks, if I run `snapctl task list` a few times, the tasks are listed in different ways (not always, but a few times).

This lead me to almost stop the wrong task, and I can see other people making the same mistake I did in a production environment.

I talked it over on Slack, and @IRCody suggested listing the tasks ordered by time created, which I agree.

If you guys could take

[2016-08-22 21:44] IRCody commented on #1154
After a brief look I think the best place to change this would be in [snapctl](https://github.com/intelsdi-x/snap/blob/master/cmd/snapctl/task.go#L479). I think sorting it before going into this loop is all that would be required.

[2016-08-22 23:01] IRCody commented on #993
@woodsaj, @msundara:

After watching the demo we think it's definitely worth exploring. There are a few things we would like to get your opinion on.

* How do we handle a connection interruption between snapd and the proxy server? We were thinking that snapd could periodically retry connecting, maybe with a back off but would be interested to know your thoughts.

* How do you think security of the

[2016-08-23 04:18] woodsaj commented on #993
* yes, a websocket implementation will typically automatically reconnect.  The websocket protocol has specific message types for heartbeats (PIngFrame, PongFrame), but the "golang.org/x/net/websocket" requires you to implement the heartbeats yourself.  Other websocket libraries like the popular "github.com/gorilla/websocket", do provide better support.  As "github.com/gorilla/websocket.Conn" does

[2016-08-23 08:46] #1066 closed

[2016-08-23 14:27] kylebrandt commented on #671
As an aside, we build scollector to have Linux and Windows monitoring both be primary systems for the agent. So we have a fair amount of WMI collection built into scollector which is in Go.

Steal at will: https://github.com/bosun-monitor/bosun/tree/master/cmd/scollector/collectors (see stuff that `*_windows.go`)

[2016-08-23 15:07] mjbrender opened #1155 "Redesign maintainer notification workflow"
When we started with GH teams it was under the impression that anyone could tag groups like @intelsdi-x/snap-maintainers or @intelsdi-x/plugin-maintainers and get our attention. Unfortunately, that is not how this feature behaves - only **organization members** can get the attention of teams.

I'd like to rethink how people contact maintainers given this behavior. I've contacted GitHub for recomme

[2016-08-23 19:15] thomastaylor312 opened #1157 "Snap doesn't return error on invalid task file"
When creating a task from a JSON file, Snap ignores invalid configuration

Bad config file:
[code]

When you create the task, it creates successfully with the following output from `snapctl task export`:
[code]

It appears that snap ignored the invalid parts of the workflow instead of erroring on creation. This is tested against the latest master

[2016-08-23 21:21] mjbrender opened #1158 "Clarify scope and purpose of examples/ folder"
The goal of files/folders in `examples/` is not clear. I'd like to discuss a couple points (and can check them off as we do).

Biggest question:
- [ ] 1. What is the first example we want everyone to use with Snap?

More on tactics:
- [ ] 2. How should the `tasks/` folder differ from example tasks in each plugin repository?
- [ ] 3. How can we ensure all these files - tasks, configs, full demos -

[2016-08-24 02:00] kjang96 commented on #1141
Are we trying to change the file publisher in mock-file.yaml and mock-file.json to "file" instead of "mock-file" or changing the example plugin to be loaded to "snap-plugin-publisher-mock-file" instead of "snap-plugin-publisher-file"?

[2016-08-24 12:26] mjbrender commented on #671
This is awesome @kylebrandt. Thank you for sharing! cc @intelsdi-x/snap-maintainers

[2016-08-24 13:37] mjbrender opened #1159 "Clearer advice on reason for plugin/ folder"
I've received feedback what `plugin/` confuses new developers of Snap. Upon review, it does appear that these mock plugins could be seen as references on how to design a plugin. I think we would benefit from being explicit about this folder's role in relation to the project.

[2016-08-24 13:40] mjbrender commented on #1159
Hey @jcooklin - another touchpoint we've talked about briefly but I haven't offered a fix for. What do you think of this approach?

https://github.com/mjbrender/snap/tree/demo-edit/plugin#please-note-these-are-not-example-plugins

I'd dig having a copy of this on each subfolder so people can't land in a folder and be unsure of the goal. If my understanding of why we have this folder is off, that's

[2016-08-24 15:16] rl1748 commented on #1151
Cody, looks like Grafana is the answer to my question  ?      I watched the video where Grafana provided a graphical interface to data collected by the publishers.

From: Cody Roseborough [mailto:notifications@github.com]
Sent: Thursday, August 18, 2016 7:37 PM
To: intelsdi-x/snap <snap@noreply.github.com>
Cc: LYNCH, ROBERT <rl1748@att.com>; Mention <mention@noreply.github.com>
Subject: Re: [intel

[2016-08-24 16:50] kjlyon commented on #1141
We need to change [this](https://github.com/intelsdi-x/snap/blob/master/examples/tasks/distributed-mock-file.json#L28) line to reference "mock-file" so the mock file publisher gets loaded.

[2016-08-24 17:18] kjang96 commented on #1141
We are referring to the README example right? "mock-file" is never loaded as per the example instructions, whereas "file" is, so why are we changing to "mock-file"?

[2016-08-24 17:50] kjlyon commented on #1141
@kjang96 and I determined we were talking about different issues. This issues is now assigned to me.

[2016-08-24 18:39] jcooklin commented on #1141
The intent of this issue to make it consistent which plugins we leverage.  Specifically leveraging the file publisher https://github.com/intelsdi-x/snap-plugin-publisher-file.

We will eventually accompany these tasks with run scripts which pull down all of the dependencies, start snap, load plugins and tasks without requiring snap to be built.

[2016-08-24 19:28] IRCody commented on #1159
I think some sort of disclaimer makes sense and would be a simple way to avoid any confusion.

[2016-08-24 19:49] IRCody commented on #1158
I like the idea of having some sort of way to vagrant up/docker run an example that includes all the moving parts that includes a good readme type explanation of what is happening.

I think a differentiation between the tasks/ folder in snap and the example tasks in the plugin repos should be that the tasks/ folder in snap focus on what different sorts of things you can do with tasks. An example t

[2016-08-24 19:55] IRCody commented on #1157
@thomastaylor312: You are talking about the Publish not being a list correct? (It took me a few to notice). I wonder if that's json marshaling not returning an error or if we are ignoring it?

[2016-08-24 19:57] thomastaylor312 commented on #1157
Yes, and it also happened when my publish was outside of the `workflow` object/dictionary

[2016-08-24 19:58] IRCody commented on #1155
Would it be useful to have an account that can be tagged that you could use to send notifications to a group of people via something else (slack?)

[2016-08-24 19:59] thomastaylor312 commented on #1157
Sorry, I meant that the `publish` was outside of the `collect` object/dictionary

[2016-08-24 20:01] IRCody commented on #1151
@rl1748: You're right, Grafana is one of the most common tools to visualize metrics. I think I must've misunderstood the gist of your question. If you have anymore questions let me know.

[2016-08-24 20:02] thomastaylor312 commented on #1157
@IRCody The invalid task manifest is valid JSON, it is just an invalid task manifest

[2016-08-24 20:03] thomastaylor312 commented on #1155
Isn't there a Slack plugin or webhook we could use that could push alerts into a Slack channel any time a new issue or PR is opened or a specific trigger phrase is given in a comment?

[2016-08-24 20:09] jcooklin commented on #993
@woodsaj what are the next steps for this?

Do you plan to
* open a PR against snap adding the support for websockets?
* create a separate repo to contain your implementation of the proxy?

Would you like help? if so, what can we do to assist?

[2016-08-24 20:15] IRCody commented on #1157
@thomastaylor312: Even if it's validJSON marshaling it into the task object should fail I think. I will try to look into it.

[2016-08-24 20:25] geauxvirtual commented on #1157
Unless specific code is written to validate the task manifest sections, `json.Unmarshal` will just ignore anything that doesn't exist in the object that was passed to it.

[2016-08-24 20:41] jcooklin commented on #1158
My current opinion on this is that our end-2-end tests should leverage the tasks in examples/tasks which will confirm that our examples actually work.

IMO, general examples should be in the snap and plugin repos and we will expect that these examples always work as they will be executed on merge and in some cases nightly.  As a general rule separate repos for examples would be for a specific audi

[2016-08-24 23:34] IRCody commented on #1157
@geauxvirtual: Thanks! That would explain the behavior then I think then. It matches what we are seeing where the task is created with only the portion of the task manifest that maps correctly to something in the task struct. I'm not sure the best way to fix it though, even with custom unmarshal there are limits to what you can check for I think.

[2016-08-25 01:33] geauxvirtual commented on #1157
I can put something together tomorrow as this ties into my work on #1130.

[2016-08-25 09:27] daria-lewandowska commented on #1148
I think this is fixed in snap newest version.
My command execution is:
`Using task manifest to create task`
`Error creating task:required key missing (host)`
`$ echo $?`
`1`

[2016-08-25 09:39] iwankgb commented on #1148
@daria-lewandowska, @IRCody - if it is fixed on master then I don't mind this issue being closed :)

[2016-08-25 17:45] IRCody commented on #1148
Thanks @daria-lewandowska for noticing and updating the issue. @iwankgb: Going to go ahead and close it then.

[2016-08-25 17:45] #1148 closed

[2016-08-25 19:04] #771 closed

[2016-08-25 21:04] geauxvirtual opened #1162 "Version in task manifest only checked in snapctl"
When loading a task manifest via snapctl, `version` must be set in the task manifest to 1 (today) in order for the task to be created. This check only exists in snapctl. When creating a task directly through REST API, using snap's included golang REST API client, or through autoloading of tasks via snapd, `version` is not required. If `version` is to be required in the task manifest, then `version

[2016-08-26 16:48] IRCody commented on #1162
What is the intent behind version? Is it versioning the API or the task manifest?

[2016-08-26 17:41] #1129 closed

[2016-08-26 19:09] #1141 closed

[2016-08-26 20:35] geauxvirtual commented on #1162
The intent was to version the task manifest.

[2016-08-26 20:40] geauxvirtual commented on #1157
In the current code I'm working on, I have this being outputted as an error message with the invalid task manifest supplied up above.

[code]

[2016-08-26 20:51] geauxvirtual commented on #1162
To add to this discussion, as seen in in issue #1157, exporting a task via snapctl does not include version, which would not allow it to be able to be used as an input to create a task.

[2016-08-26 23:37] IRCody commented on #1162
If the versioning is meant to version the format of the task manifest (and not an individual task manifest) is that not versioning the API as well since any change to how task manifests are parsed would be a rest API change as well?

[2016-08-26 23:58] geauxvirtual commented on #1162
To me, the API version correlates to the actions of the API. For example, if `load plugin` was expanded to support a new package format for a plugin, would this require a version change of the API? Would this version now apply to all task manifests as well even though the task manifest didn't change?

[2016-08-26 23:59] geauxvirtual commented on #1162
Also, tasks can be added to snapd without using the REST API. Do we just ignore version here, or do we enforce version in snapd and let snapd define versions of the task manifests that it supports?

[2016-08-27 00:16] candysmurf commented on #1162
@geauxvirtual, it sounds a good enhancement to me. @IRCody, what do you think?

[2016-08-27 00:19] candysmurf commented on #1159
Should those mock plugins reside in "plugin-lib" repositories?

[2016-08-27 00:30] candysmurf commented on #1158
It seems a good time to redefine the scope of examples. Should snap examples be focused on Snap and have docs linked to other plugin-lib repo examples?

[2016-08-29 05:55] elemoine commented on #1159
Or `test-plugins` maybe. If the plugins in this dir are only for testing I think the directory name should explicitly reflect that. Just my 2 cents.

[2016-08-29 18:56] obourdon opened #1164 "Need to block processing tasks until all plugins are loaded"
On a virtualized and shared environment which is quite loaded (several users running heavy jobs) snapd is launched using auto discovery path (-a option) to load 10+ plugins (cpu df disk interface load meminfo processes swap smart heka) and a task which runs every 10 seconds and collect all metrics from the above collectors.

Since the load increased on the system, it seems like the task stops righ

[2016-08-29 23:55] IRCody commented on #1162
These are good points  that I hadn't thought of. I see the need to version the task manifest format now. And if we are versioning it, the version should be enforced everywhere a task can be created.

@geauxvirtual: Would you consider this a bug or an enhancement?

[2016-08-30 12:30] katarzyna-z opened #1167 "Errors during capturing of stderr from plugins"
It seems that there is an issue with capturing logs from plugin which are sent to stderr. The issue was observed using the cpu plugin.

I've prepared the special versions of cpu plugin to observe what if plugin sends logs frequently:
- cpu plugin with frequent short log, the version is available [here](https://github.com/katarzyna-z/snap-plugin-collector-cpu/commit/a79c0a040d6308a9276a54d2e6f8cd27

[2016-08-30 15:16] woodsaj commented on #993
Yes I am willing able to submit a PR  and a produce a reference implementation of the server components

[2016-08-30 15:33] geauxvirtual commented on #1162
I would say it's a bug with the way it was implemented. However, there will be implications of adding version to task with any users that are using the REST client library directly. With the CreateTask method (https://github.com/intelsdi-x/snap/blob/master/mgmt/rest/client/task.go#L51), CreateTask does not take a task object, but takes all the parts of the task as arguments to the function. This c

[2016-08-30 16:44] candysmurf commented on #1167
@katarzyna-z, thanks for reporting an issue in details. For the scanner one, the log is in a goroutine. It won't cause the hanging. It's understandable.

It doesn't make sense if a long log causes hanging. It seems a program issue to me. Can you elaborate more? thanks!

[2016-08-30 16:49] candysmurf commented on #1164
@obourdon, thanks for logging the issue. We'll investigate solutions.

[2016-08-30 17:01] #1159 closed

[2016-08-30 21:07] IRCody commented on #1162
Could we update the rest client library to require a version, and then update the server to default to version 1 if no version is passed to support older versions of the clients?

[2016-08-30 21:18] geauxvirtual commented on #1162
My initial thought would be to add a new method to the client library, and log a deprecation warning on the old method to alert users to update to the new method.

[2016-08-30 22:09] IRCody commented on #1162
That would require users of an older version of the library to update there dependency. Is that something we want to enforce?

[2016-08-30 23:12] #1042 closed

[2016-08-30 23:14] #1102 closed

[2016-09-01 17:55] kjlyon opened #1172 "Fix inconsistant naming in rest API"
Under body of each "GET v1/xx" call the lists should all be snake_case.

“GET /v1/tasks” needs to be consistent with similar calls such as "/v1/plugins" and "/v1/metrics".

**"GET /v1/plugins"**

[code]

**"GET /v1/tasks"**

[code]

**"GET /v1/metrics"**

[code]

[2016-09-01 18:49] candysmurf opened #1175 "Develop Perfmon windows performance monitor plugin"
Richard Turmel requested Snap running in Windows server environment in "snap-telemetry" channel.
His question:
[code]
It seems that Perfmon plugin will help to demonstrate Snap's capability on Windows from Joel.

[code]

[2016-09-01 19:34] kjlyon opened #1176 "Rest client test at line 430 is unreliable"
* /home/travis/gopath/src/github.com/intelsdi-x/snap/mgmt/rest/client/client_func_test.go
  Line 430:
  Expected: 'error 0: Task is already stopped. '
  Actual:   'error 0: Subscription does not exist '
  (Should be equal)

[2016-09-01 21:53] felipewd opened #1178 "case sensitive plugin name"
Currently, it is possible to load 2 plugins with the same name, if we change the case.

So, "Use" and "use" collector could both be loaded with the same version.

This could open snap to a few subtle issues, such as removing the wrong plugin.

Not sure how to solve this, but talking on slack, @IRCody and @thomastaylor312 had some ideas.

I'm opening this issue so can move the conversation here and

[2016-09-01 22:01] thomastaylor312 commented on #1178
Based on the discussion from slack, I am more of a fan of enforcing lower case only, but @IRCody did point out that it could break existing plugins. The other option is to have case insensitive comparisons.

[2016-09-01 22:03] IRCody commented on #1178
The options I thought of for addressing this are:

This would be easy implementation wise. The negative is that it could cause plugins that currently work to be unable to load (if they have an upper case name). The `Use` plugin is an example.

This is a little more work implementation wise. The obvious benefit is that it has no impact on existing plugins provided they do not conflict with another

[2016-09-01 22:05] thomastaylor312 commented on #1178
@IRCody Do you think the risk of breaking is ok? I think option 1 is better and we can have that be the rule for when we hit 1.0. If we were already at 1.0, I would think option 2 would be safer.

[2016-09-01 22:08] IRCody commented on #1178
I would want to know how many existing plugins are effected and probably go through and fix those before making a change we know is going to break them but I also like option 1 better.

[2016-09-02 02:37] candysmurf commented on #1176
@kjlyon, thanks for reporting it. Do you have steps to reproduce it?

[2016-09-02 16:35] kjlyon commented on #1176
This issue was identified in PR #1174 . [Here](https://travis-ci.org/intelsdi-x/snap/jobs/156899302) is the exact error in travis.

[2016-09-02 17:09] #1176 closed

[2016-09-02 18:27] jcooklin commented on #1178
Adding to what has already been said I feel the next step could/should be

1. Add to the announcements (on slack, main readme, etc.) that we intend to enforce lowercase names for plugins on the 0.17 release (4 weeks) describing why and what impact this may have.
2. Before the 0.17 release log a warning when a plugin is loaded that doesn't pass validation.

cc: @mjbrender

[2016-09-02 22:15] candysmurf opened #1179 "task manifest magic"
* if change the task manifest version to any number other than 1, it gave the following error:

Error: Invalid version provided for task manifest

* if change the schedule interval to "100ms", the task created, if you run command "snapctl export taskid" it still show "5s"

* if change the task type to "windowed", it thrown an exception:

[code]

[2016-09-02 23:29] geauxvirtual commented on #1179
Task manifest version can only be 1 via snapctl since that is the only place where it checks. There is another issue open about this.

Windowed schedules are not supported in task manifests. There is another issue opened about this as well.

Justin Guidroz
Sent from my iPhone

[2016-09-03 00:01] candysmurf commented on #1179
@geauxvirtual, thanks Justin for clarifying it. Probably we can give a better error message if "windowed" schedule is not supported.

[2016-09-03 00:33] geauxvirtual commented on #1179
No, the fix is to add proper support for windowed schedule in the task manifestand only return an error on an incorrect schedule.

Justin Guidroz
Sent from my iPhone

[2016-09-06 16:41] IRCody commented on #1179
Just to link it, that issue is #1162.

[2016-09-06 16:45] #1157 closed

[2016-09-06 23:59] geauxvirtual commented on #1179
I am unable to reproduce the this. Task interval is still set to 100ms in the export of the created task.

Task file
[code]

Task export

[code]

[2016-09-07 16:16] #1130 closed

[2016-09-07 16:39] geauxvirtual commented on #1124
This was resolved with PR #1156.

[2016-09-07 16:39] #1124 closed

[2016-09-07 17:37] kjlyon opened #1184 "Errors occur when SNAP_PATH has variables in it."
Environment variables are not read correctly when SNAP_PATH has variables like $GVM_ROOT, $gvm_go_name, or $gvm_pkgset_name as seen in the example below: `"\$GVM_ROOT/pkgsets/\$gvm_go_name/\$gvm_pkgset_name/src/github.com/intelsdi-x/snap/build"`

This results in many errors and file not found messages, even when the file is there.
Each call to `os.Getenv("SNAP_PATH")` should actually be `os.Expand

[2016-09-07 18:13] obourdon opened #1186 "Plugins errors should not be displayed at Debug level but at Error level"
If you look at [this code snippet](https://github.com/intelsdi-x/snap/blob/master/control/plugin/execution.go#L163) and now that stdout and stderr of plugins are remapped to snapd it seems reasonable to assume that errors occurring in plugins should be logged as errors in snapd so that user gets notified about them using proper logging level at snapd startup

[2016-09-07 22:22] geauxvirtual commented on #1134
To compound this issue, with the addition of PR #951, tasks can be autoloaded into snapd. However, if a task manifest is loaded via this mechanism, the manifest is treated the same as a request from the REST API, which unmarshals the request into a task object with the following schedule struct.

[code]

So between snapd and snapctl, there is no consistency with unmarshaling the schedule with rega

[2016-09-07 23:40] #892 closed

[2016-09-07 23:46] #1184 closed

[2016-09-08 02:35] geauxvirtual commented on #1134
There also seems to be a loss of information from creation of a task with a windowed schedule when the task is exported from snapd.

For example, say a user creates a task using the following command

`build/bin/snapctl task create -w examples/tasks/mock-file-wf.json -i 5s --duration 30m`

This will create a task with a windowed schedule that will start immediately and execute every 5s for 30 minu

[2016-09-08 17:07] candysmurf commented on #1179
@geauxvirtual, thanks for checking. Yes, the interval issue is unable to reproduce with the latest Snap.
The "windowed" schedule is the duplicate of issue #1134. @IRCody linked #1162.

What about other two issues I reported. Are they legit?

* When specifying any value other than "simple" and "windowed", it gave the following. A clear error message for Snap supports would be a better message.

Usa

[2016-09-08 17:08] ericho opened #1189 "snapd ram memory usage dramatically increases when a plugin is added"
Looking in the memory usage that snapd consumes in the different stages I noticed that the memory increases when a plugin is added. For instance:

Without any plugin added, ```snapd -t 0 --log-level 1```
[code]

So, adding a plugin, ```snapctl plugin load snap-plugin-processor-passthru```

[code]

So from a very nice 7.8MB increased into 36.6MB

Adding another one, ```snapctl plugin load snap-plug

[2016-09-08 17:15] geauxvirtual commented on #1189
Yes, this is normal since the plugin binary is read into memory before being written to the filesystem when loading through snapctl. The memory gets released, but unless the OS is under pressure for memory, the OS will continue to report the application is using the amount of memory it was allocated. The only way to see the amount of memory snapd is actually using is from within the application it

[2016-09-08 17:32] ericho commented on #1189
So, if the memory is released, when should I see a memory decrease?

I though that maybe after running a task the number should decrease (i'm assuming that the in-memory binaries are write in this step), so I did the following:

[code]

I'm just running collector-cpu and publisher-file plugins.

Running several times the ps commands I get the following:

[code]

Actually the memory usage is increa

[2016-09-08 17:33] ericho commented on #1189
I just saw a decrease, after some minutes:

[code]

[2016-09-08 18:16] jcooklin commented on #1189
It's going to depend on the OS but like @geauxvirtual mentioned generally it's when the OS is under pressure.

@ericho should we close this issue or do you have additional findings or points you would like to discuss?

[2016-09-08 18:23] jcooklin commented on #1186
@obourdon as we discussed there are PROs and CONs for capturing the plugins stderr as either DEBUG or ERROR. I'm leaning towards staying conservative meaning that when someone wants to debug a plugin they will run snapd in debug mode to effectively surface whatever log messages the plugin might be logging (on stderr).

In the future we can decide if we want to extend the contract snapd establishes

[2016-09-08 18:32] jcooklin opened #1190 "Enable the collection of optional metrics"
Today when you define a task it will fail if it doesn't exist in the catalog.  This becomes problematic when trying to use the same task across many servers which may not be exactly the same.

Proposal:
When defining the metrics to be collected in the task manfiest provide the ability to set a flag declaring the metric as optional.  The result being that if the metric cannot be collected it will b

[2016-09-08 20:08] ericho commented on #1189
Sure, I think we can close it. Thaks for the explanation :)

[2016-09-08 20:37] candysmurf commented on #1189
@ericho, thanks for reporting concerns!

[2016-09-08 20:37] #1189 closed

[2016-09-09 09:14] iwankgb commented on #711
We are facing issues with ``SIGKILL`` while working with Serenity (see: https://github.com/intelsdi-x/serenity2/pull/29#discussion_r77984633). Consider following flow:
1. Collector plugin launches long running process in that is needed to return metrics.
2. Plugin process is killed with ``SIGKILL``
3. Child process mentioned in step 1 becomes a zombie.

As of now we are going to use systemd to lau

[2016-09-09 16:23] candysmurf commented on #711
@andrzej-k, GRPC lib-go provides such capability to kill/ping between servers(plugins) and the Snap GRPC client. Probably we can think along this line to connecting task killing,... @IRCody is working on a related bug fix currently. I think all these interactions will have to consider the implication @andrzej-k mentioned.

[2016-09-09 16:46] candysmurf commented on #1186
I agree with @obourdon; errors should log as Error, not Debug that's how log level works. Due to Snap consolidated log(all together), there is a cost. Due to the complication @jcooklin mentioned, we need to put more thoughts into this.

[2016-09-09 18:19] mjbrender commented on #1175
Worth noting this is blocked by #671. I'll clarify this in the Plugin Wishlist on my next PR.

[2016-09-09 18:57] mjbrender commented on #1030
FYI @smartx-jshan - I'm making this request more visible in our product catalog. Are you still exploring Snap and in need of these plugins? Have you written any? Keep us posted and thanks for sharing here 👍

[2016-09-09 22:37] mjbrender commented on #1190
I know of at least two users of Snap who would like to see this. +1 to the format of it - it's simple and looks like it wouldn't break existing Task Manifests.

[2016-09-09 22:56] mbbroberg opened #1196 "Plugin Wanted: Publisher for Prometheus"
I'd like to get a publisher that can play well with [Prometheus](https://prometheus.io/). Given Prometheus has a pull model and Snap is designed for a push model, I could see a couple routes forward:
1. Use the Snap file publisher and format it in a way where Prometheus' [node exporter](https://github.com/prometheus/node_exporter) can parse it
2. Use the [Push Gateway](https://prometheus.io/docs/p

[2016-09-09 23:09] #1178 closed

[2016-09-09 23:12] mjbrender commented on #1152
This was initially opened as an example - we can reopen it if someone has the need of this publisher!

[2016-09-09 23:54] IRCody commented on #1190
If a task manifest has multiple metrics like:
[code]

Where both metrics map to the same collector. What happens when an error is returned from the collect call but some metrics are also returned? Since snap doesn't control the format of the error I think it might be tough to know which requested metrics were successfully returned.

The ways I see to address this:

* On collectMetrics return, if t

[2016-09-10 01:10] kindermoumoute opened #1198 "Use an arbitrary separator for plugin keys"
In order to prevent potential issues of using `:` as a separator for plugin keys in the plugin catalog, it should use an arbitrary separator.

[2016-09-12 05:59] elemoine commented on #1190
Thanks for creating this issue. FWIW we also need that functionality.

[2016-09-12 09:15] iwankgb commented on #711
@candysmurf - I am aware of implications that @andrzej-k mentioned and I do not expect collector interface to be extended before 1.0. Would there be a chance to sent another signal, prior to ``SIGKILL`` to indicate that plugin is to be shut down in lets say 5 seconds?
It could work as a temporary fix until more robust version is developed.

[2016-09-12 16:52] candysmurf commented on #711
@iwankgb, a good question. Cody just added this PR (https://github.com/intelsdi-x/snap/pull/1192) for enforcing plugin timeout. Will this help? Please share your thoughts.

[2016-09-12 23:11] #1164 closed

[2016-09-13 12:04] andrzej-k opened #1201 "Add support for loading plugin and creating task from remote locations"
Currently both ```snapctl plugin load``` and ```snapctl task create``` require passing file path to either a plugin or a task. Sometimes it may not be feasible (or cumbersome) and having possibility to call ```plugin load``` and ```task create``` like this may be useful:

- ```snapctl plugin load http://snap.ci.snap-telemetry.io/plugins/snap-plugin-publisher-file/master/latest/linux/x86_64/snap-pl

[2016-09-13 12:17] andrzej-k commented on #1190
Agree, that this would be useful feature, but how about making each metric optional by default? Only when marked as required but not available task would fail.

[2016-09-13 12:58] andrzej-k commented on #1154
Hey @felipewd, maybe this is obvious, and you probably know about this, but you can give task a name, that may allow to better identify tasks.
That is --name, or -n switch for ```snapctl task create```, or using ```name``` as part of task manifest:
[code]

[2016-09-13 15:19] iwankgb commented on #711
@candysmurf - #1192 won't help, I'm afraid. It seems to affect collecting, processing and publishing but not actual plugin killing. As far as I understand logic in [``ExecutablePlugin.Kill()``](https://github.com/intelsdi-x/snap/blob/master/control/plugin/execution.go#L163) would need to be altered.

[2016-09-13 17:14] candysmurf commented on #1190
Agreed, it could be a useful feature by allowing optional metrics.  I still like to share a couple points for discussion.

* The benefit of task manifest is that it can pick and choose what to be collected instead of collecting all metrics.

* Users can group metrics in different task manifests and create many tasks.

* Validating available metrics seems a good feature up front.

I know with the o

[2016-09-13 17:19] candysmurf commented on #711
@iwankgb, if PR (#1192) won't help, please state your problem and your suggestion is very welcome. If it's a separate issue, feel free to open an issue. thank you.

[2016-09-13 20:44] iwankgb commented on #711
@candysmurf - isn't this comment clear enough? https://github.com/intelsdi-x/snap/issues/711#issuecomment-245861857

[2016-09-13 20:59] candysmurf commented on #711
@iwankgb, As it mixed with @andrzej-k's, I think they're not exact the same. Do you like to pull your comment into a new issue?

[2016-09-14 13:43] iwankgb opened #1203 "Zombie process created on plugin stop"
We are facing issues with SIGKILL while working with one of our projects:
1. Collector plugin launches long running process in that is needed to return metrics.
2. Plugin process is killed with SIGKILL
3. Child process mentioned in step 1 becomes a zombie.

As of now we are going to use systemd to launch snapd as it will kill all the zombies. It would be great if we could handle termination signal

[2016-09-14 15:32] lynxbat commented on #1203
@iwankgb Have you tested this against `master`? I know one of these kind of bugs is solved.

[2016-09-14 15:40] jcooklin commented on #1203
https://github.com/intelsdi-x/snap/pull/1092 👈 is the commit that _likely_ addresses this issue

[2016-09-14 16:31] brharrington commented on #1201
Being able to reference a common url for the task seems like it would be convenient.

The plugin loading would make me a bit nervous and I would want a way to disable it. Pulling in executables from an arbitrary url, in particular via the REST API, means we would need to be much more careful about what can interact with and access the REST endpoint. At the very least, I think #286 becomes critical

[2016-09-14 17:05] IRCody commented on #1203
I think #1092 addresses zombie plugin processes but not children of plugin processes.

[2016-09-14 17:07] geauxvirtual opened #1204 "Missing dependency "snap-plugin-lib-go" in glide.yaml to build mock plugins"
On latest HEAD of master, running `make` fails with errors

[code]

[code]

Looking at the glide.yaml in the repo, it does not appear the `snap-plugin-lib-go` dependency was added with the PRs that committed these new plugins.

[2016-09-14 17:11] IRCody commented on #1201
snapctl task create -u http://snap.ci.snap-telemetry.io/tasks/some-example-task.json (-u standing for url).

I'm not sure I agree that requiring someone using snapctl/api to have a plugin/task file locally is cumbersome or infeasible. Can you give some reasons/examples of why/when that would be the case?

This seems like a larger and separate issue.

[2016-09-14 17:23] candysmurf commented on #1204
I ran fine for me, probably because I had it.

![screen shot 2016-09-14 at 10 18 35 am](https://cloud.githubusercontent.com/assets/13841563/18522523/3acab014-7a65-11e6-8250-e0df64050d4b.png)

[2016-09-14 18:57] edhenry commented on #1201
@IRCody In highly heterogeneous environments this can prove to be cumbersome depending on the deployment tooling one uses. I'll give an example on some of the early work I was using SNAP for.

Nested deployment for dev/test/prod environment can make things a bit challenging. See image below.

![image](https://cloud.githubusercontent.com/assets/5572998/18525562/01d5cdd6-7a8b-11e6-9a39-07bdae6aa516.

[2016-09-14 22:38] jcooklin opened #1205 "On merge publish binaries to S3 under appropriate OS and ARCH"
Currently it's publishing to snap/master/latest/snapd

[2016-09-14 22:51] jcooklin opened #1206 "Validate plugin name on load"
* limit
 * length
 * characters

Should spaces be accepted?

[2016-09-14 22:57] jcooklin opened #1207 "Simplify `snapctl plugin unload` to use positional arguments"
Proposal: Instead of accepting flags or a formatted string to unload plugins use positional arguments

Before: `snapctl plugin unload collector:mock:1` or `snapctl plugin unload -t collector -n mock -v 1`

After: `snapctl plugin unload collector mock 1`

[2016-09-14 23:07] jcooklin opened #1208 "Enable global and per plugin configuration of client timeout"
The default configuration has been set to 10s in https://github.com/intelsdi-x/snap/pull/1192.

[2016-09-14 23:40] #1142 closed

[2016-09-15 00:20] IRCody commented on #1201
@edhenry: Thank you for taking the time to respond with an example.

The task/plugin only needs to be local to the snapctl instance, not the daemon. snapctl can connect to remote daemons via the `-u` flag. It will send files/tasks via the API to the daemon. Is doing snapctl calls to the appropriate daemon as cumbersome as calling copy multiple layers down?

This seems like a different ask than wha

[2016-09-15 01:36] edhenry commented on #1201
Cool, that was my misunderstanding of the functionality between the snap daemon and snapctl. From the use case I'd presented above, that does address the copying of the file multiple levels deep.

Sorry for the lack of clarity. I was speaking more from an implementation perspective, I think.

I was thinking in the same vein of how something like a schema registry works in the world of Kafka/Avro.

[2016-09-15 07:00] andrzej-k commented on #1201
@IRCody my use case looks like this: I have a snap running as a pod in Kubernetes. Both snapd and snapctl are inside the container.

Now, for example, in order to load a new plugin I must first download it (and depending on cluster type I must first find a partition to which I can write):
```curl -O http://snap.ci.snap-telemetry.io/plugins/snap-plugin-publisher-file/master/latest/linux/x86_64/snap

[2016-09-15 08:26] iwankgb commented on #1203
@lynxbat, @jcooklin, @IRCody - I will have it tested by the end of the week.

[2016-09-15 15:57] iwankgb commented on #1203
@lynxbat - @IRCody seems to be right, plugin child process becomes a zombie on current master (4ac7b4d27c9dd44a50ce9e422d61036514797846).

[2016-09-15 16:18] lynxbat commented on #1203
@iwankgb @IRCody -  in this case, wouldn't the plugin author need to implement behavior to catch and kill?

[2016-09-15 16:27] felipewd commented on #1154
Hi @andrzej-k, I did know that. But if I want to do a task stop, for example, I can't reference the name.

I have to reference the Task ID, so, my original problem remains the same, right? :)

[2016-09-15 17:04] geauxvirtual opened #1210 "Plugins started on unsuccessful task start are not stopped"
After creating a task, if the task is stopped and a plugin is removed that the task needs, attempting to start the task will result in starting the plugins required for the task, but not stopping those plugins when the task fails to start due to a missing required plugin. There is no way to stop these plugins without stopping snapd.

[2016-09-15 17:05] lynxbat commented on #1210
Would a plugin existence check on start solve this?

[2016-09-15 17:10] geauxvirtual commented on #1210
Code currently tries to subscribe to dependencies and then tries to unsubscribe from dependencies if any error is found during subscription. This doesn't look to be stopping the started plugins though.

https://github.com/intelsdi-x/snap/blob/master/scheduler/scheduler.go#L486-L510

[2016-09-15 17:46] geauxvirtual commented on #1210
I believe the problems lies here https://github.com/intelsdi-x/snap/blob/master/scheduler/scheduler.go#L500. We are ranging over `subbedDeps`, but nothing actually sets `subbedDeps`, so this slice is empty.

[2016-09-15 18:06] geauxvirtual commented on #1210
To expand on the last comment, there is only one dependency group created for the task. `subbedDeps` is only added to if all subscriptions succeed. If an error occurs during subscription of dependencies, then the code tries to iterate over `subbedDeps` which has not been added to yet.

[2016-09-15 18:13] lynxbat commented on #1210
Nice catch

[2016-09-15 18:27] IRCody commented on #1203
@lynxbat: I think that that is what this issue is requesting since right now the signal we are sending is not catchable.

@iwankgb: As a temporary fix, would it be possible to update the child processes to periodically check if the parent pid is init and kill itself in that case? (Basically checking if the parent pid is 1 and killing itself if it is since that signifies the parent process has died

[2016-09-15 18:31] lynxbat commented on #1203
What about a facility in the plugin libs for spawning child processes where we can manage the shutdown from the plugin side? Telling the author to use the facility so we can help them shut them down should the framework stop talking to the plugin.

[2016-09-15 19:19] IRCody commented on #1203
@lynxbat: Do you mean as some sort of plugin-lib extension or as a change to the plugin interface?

I think going forward we should first change the initial signal to be a catchable signal and give the plugin some time to kill it's own children before calling with SIGKILL as was mentioned when the issue was opened.

As far as strategies for the a plugin author to do this, one interesting thing wou

[2016-09-15 20:02] IRCody commented on #1201
@edhenry: I'm not familiar with kafka/avro but it seems like adding the ability to point snapctl to remote url's as a convenience might make sense, especially if a lot of people think it would be helpful.

This is a little different than having a central registry that can be listed/etc. Is the registry more what you were thinking would be good?

curl -O http://snap.ci.snap-telemetry.io/plugins/sna

[2016-09-15 20:08] #1204 closed

[2016-09-15 23:56] geauxvirtual opened #1211 "Return better error for when trying to start a task with a missing plugin"
Related to #1210, when trying to start a task after a plugin has been removed, the only error returned is `plugin not found`, not which plugin was not found.

Here, https://github.com/intelsdi-x/snap/blob/master/control/subscription_group.go#L400, we are just returning the error from trying to get the loaded plugin, which is just a simple `plugin not found`. As opposed to here, https://github.com/

[2016-09-16 08:09] iwankgb commented on #1203
@IRCody - as temporary fix we decided to use systemd to launch snapd and zombie is being killed after some time. We were also experimenting with process groups some time ago and we realized that relying on them might not work in all the cases (as you can still call ``setpgid()`` whenever you want).

Another solution that could be used in order to make sure that all the processes created are killed

[2016-09-16 08:50] jaiswalsanjeev opened #1212 "Autoscaling using Heat and Snap metrics"
Is it possible to autoscale using Heat template and use snap metrics instead of Ceilometer alarms?

I did not see anything for autoscaling yet. Can someone let me know about this?

[2016-09-16 09:25] iwankgb commented on #1203
@IRCody - using ``Pdeathsig`` does not seem to solve the issue that I am facing.

[2016-09-16 12:57] andrzej-k commented on #1201
@IRCody Regarding REST API - according to the documentation (https://github.com/intelsdi-x/snap/blob/master/docs/REST_API.md#plugin-apis-and-examples) loading plugin is done like this:

So, if anyone would like to use REST API instead of snapctl then REST API should also support this feature.

[2016-09-16 15:54] #1198 closed

[2016-09-16 16:22] candysmurf commented on #1203
As we're moving to gRPC, it supports multiplexing and the flow control. Should we allow plugins unload themselves but notify Snap?  I'm just trying to throw in a different approach which will require some change in Snap. If it's the direction, we like to think.

[2016-09-16 16:57] IRCody commented on #1203
@iwankgb: That stinks. The documentation around it seems like it'd be exactly what you want:
[code]

Can you link me to the code for the plugin so I can easily reproduce the behavior and play around with potential fixes?

[2016-09-16 17:22] IRCody commented on #1201
It seems like if someone is already scripting the API calls they should be able to deal with getting the binary to the API. Do we really want to complicate the API implementation when you can use curl already to do this?
[code]

[2016-09-16 21:16] jtlisi opened #1214 "Large numbers of calls to os.Hostname() when reapplying tags"
After running a stack trace there was a large number of reads to `/proc/sys/kernel/hostname`

[code]

After running a pstree it was confirmed that the origin was snapd
`{snapd}(41504)`

The source of all of these calls to os.Hostname() seem to come from this little snippet in [control/control.go](https://github.com/intelsdi-x/snap/blob/master/control/control.go)

[code]

[control/metrics.go](https

[2016-09-16 22:01] IRCody commented on #1214
I think it makes sense to reduce the number of calls since the hostname shouldn't be changing super often. Were you thinking about having it called once per collect or just once in per snapd startup?

[2016-09-17 01:45] jtlisi commented on #1214
Once per collect seems easiest to me, and the performance impact of one call is basically negligible. What do you think?

[2016-09-17 02:20] IRCody commented on #1214
I think that makes sense. You are going to make a pr to do this?

On Friday, September 16, 2016, Jacob Lisi <notifications@github.com> wrote:

[2016-09-18 02:22] jtlisi commented on #1214
Yes, I'll try and have it done by Monday.

[2016-09-18 11:20] IzabellaRaulin commented on #1212
cc: @intelsdi-x/snap-maintainers, @intelsdi-x/plugin-maintainers

[2016-09-19 04:25] woodsaj opened #1216 "plugins downloaded via the pluginCatalog dont work"
The plugin catalog typically use links to files in the form:
https://s3-us-west-1.amazonaws.com/snap-plugins-linux-latest/snap-plugin-collector-cpu

Though the link suggests that the plugins downloaded should work with the **latest** snapd (currently 0.16.1), the plugins cant be loaded, returning the error

[code]

[2016-09-19 07:02] andrzej-k commented on #1201
@IRCody I don't mind complicating implementation to simplify the (user) interface ;)

[2016-09-19 09:57] andrzej-k commented on #1212
Hi @jaiswalsanjeev, Would you be so kind to elaborate more on  use cases and flows you are interested in?

When you say snap metrics - do you mean custom metrics provided by snap and available in Ceilometer, and Ceilometer emitting alarms for such custom metrics? Or would you rather see snap emitting alarms (to webhook or log) by observing metrics collected by Ceilometer? I'm assuming that you are

[2016-09-19 10:13] jaiswalsanjeev commented on #1212
Hi Andrzej,

I am interested in snap amitting alarms to webhook or log without using Ceilometer. My main usecase is for Heat autoscaling ,without using Celiometer. Currently , I am using other external monitoring agents –Zabbix/Consul etc to call webhooks for Heat and autoscaling , since we have issues with Ceilometer performance and have disabled it completely in our environment.

In our current

[2016-09-19 10:58] andrzej-k commented on #1212
Thanks @jaiswalsanjeev for this background. I did a quick check and it seems that autoscaling feature is no longer developed as part of Heat - there is a new project for this called Senlin. Here is a link to documentation about autoscaling support in Senlin: http://docs.openstack.org/developer/senlin/user/scenarios/autoscaling.html
I didn't do much research on it yet, but it seems it's not so heav

[2016-09-19 11:23] jaiswalsanjeev commented on #1212
Thanks Andrzej. I will look into Senlin and autoscaling with Aodh for alarming and snap metrics. I am looking at autoscaling VM’s.

[Description: cid:image003.png@01CE4CD0.6DA59600]

Sanjeev Jaiswal
VP – Cloud Operations
Reliance Jio Infocomm Limited.
Reliance Corporate Park, Bldg. No. TC23, 4B, 4th Floor, CA-04
Thane - Belapur Road, Ghansoli, Navi Mumbai - 400 701
Direct      : +91-22-44787507
Mo

[2016-09-19 11:41] andrzej-k commented on #1212
Great - just let us know if you'd need any help with snap in this setup.

[2016-09-19 18:10] nanliu commented on #1216
I didn't realize we had download link in the plugin catalog. I'm trying to track down the s3 repo, but currently they are not updated on new releases. For now please use the bundle in github release.

We are trying to move each plugin to it's own release schedule and they are expected to exist in:
[code]

We are updating the plugin release so that it will support latest version and latest build:
h

[2016-09-19 21:40] IzabellaRaulin commented on #832
Resolved among others by #1146

[2016-09-20 00:05] jcooklin opened #1222 "Tasks don't reflect changes to plugin config"
To reproduce add a plugin configuration item that will be used by a given task, start the given task and then update the configuration item.

**Expected result**: When a task, depending on a configuration item that is not provided by the task, is changed the task should start using this new configuration item.
**Actual result**: The new configuration is ignored.

In the example below:
1. snapd is

[2016-09-20 09:30] woodsaj commented on #1216
yes, i reverted to using the tarbal from the snap release, but being able to just download and load only the plugins I want would be great.

Additionally all of the plugins in the plugin bundle appear to have been built with CGO and therefor dynamically linked. So they dont run in the alpine docker container from https://hub.docker.com/r/intelsdi/snap/ due to missing shared libraries.

[2016-09-20 15:58] nanliu commented on #1216
Status update, the gox -cgo flag is only enabled for libvirt/node-manager plugins, but for some reason everything is build with dynamic linked binaries.

[code]

I'm checking if CGO_ENABLED=0 will solve this.

[2016-09-20 17:02] #1154 closed

[2016-09-20 18:02] geauxvirtual commented on #1222
What's happening here is when a new task is created, the workflow ends up being a pointer to the workflow created from the wfmap here, https://github.com/intelsdi-x/snap/blob/master/scheduler/scheduler.go#L315-L330.

Further in `createTask`, the code tries to validate the dependencies for the plugins, https://github.com/intelsdi-x/snap/blob/master/scheduler/scheduler.go#L342.

When this occurs, an

[2016-09-20 21:43] nanliu commented on #1216
Took a while to track down, looks like CGO_ENABLED=0 is respected. I will update the tar.gz as soon as the build completes.

[2016-09-21 00:18] nanliu commented on #1216
I've updated the release tar.gz bundles, and I tracked down the s3 repos so I will update them shortly.

[2016-09-21 00:38] nanliu commented on #1216
The s3 repos are updated as well. If there's any issues, please post issues in those specific plugins github repo. I'm going to keep this issue open since we need to update the links in the plugin catalog with the new build artifacts that we are releasing continuously.

[2016-09-21 11:51] andrzej-k commented on #1196
@mjbrender I also think that Prometheus publisher would be very useful.

Alternatively - What do you think about having a processor plugin to format snap metrics Prometheus way? For features like this one: https://github.com/kubernetes/heapster/blob/master/docs/proposals/push-metrics.md instead of file publisher we could then use REST publisher.

[2016-09-21 15:05] andrzej-k commented on #1190
@jcooklin To continue discussion on how to specify optional metrics - how about expanding **metrics** section to include children: **mandatory** and **optional**? Maybe that could be more convenient to use:
[code]

[2016-09-21 16:29] andrzej-k commented on #1212
Hey @jaiswalsanjeev - If you don't mind I'll close this issue. In case of any new questions let's start new discussion under new issue, ok?

[2016-09-21 17:33] IRCody commented on #1190
I think that would require changing the task manifest version and updating related areas surrounding task parsing. That might be ok but it definitely requires more changes than an `optional: true` flag on the metrics config.

[2016-09-21 17:35] geauxvirtual opened #1223 "Task can be created and fail 10 times if no plugins in pool are available"
In a situation where a plugin defines it strategy as `sticky` and the pool size is set to `n` plugins, when adding a `n+1` task that uses said plugin, the task will be created successfully, and then fail 10 times since the `n` available plugins are in use by `n` other tasks.

From a workflow perspective, it may be better to not allow the task to be created and report why instead of creating the ta

[2016-09-21 22:07] evilezh opened #1226 "Tribe problems (join/leave, syncing tasks)"
Last days i was trying to get tribe to work. As documentation is quite poor, some things should be discovered by browsing source code or monitoring network activity.
First of all:
For tribe you need TCP/UDP 6000 and TCP 8181 as minimum (not sure about 8082).

So - first of all, weird way to create add modules/tasks to agreement.
Something like - direct command - load this module/task into this agr

[2016-09-21 22:39] IRCody commented on #1226
@evilezh: Thanks for the feedback. In your exploration of tribe, if you identify gaps in the documentation we'd be happy to accept/merge PR's to close those gaps. The tribe docs could definitely use some love.

Something that I think would be helpful and is probably causing most of the issues you're seeing is that tribe is only meant to be run with 1 agreement. The idea is to keep a cluster of sna

[2016-09-21 23:53] #654 closed

[2016-09-22 00:47] evilezh commented on #1226
Yeah .. but snap allows you to join to multiple agreements btw. :)

As for for RFC, it seems something similar, only changes new commands .. new tribes...

I was purposing just add few extra attributes to tasks/modules, if snap is in tribe mode.
Even more, to simplify all things ...
We can assume that tribe is always on and standalone node is tribe with one member. Then you do not need special cas

[2016-09-22 01:15] jaiswalsanjeev commented on #1212
Yes, Thanks. Please close the issue.

From: Andrzej Kuriata [mailto:notifications@github.com]
Sent: 21 September 2016 21:59
To: intelsdi-x/snap
Cc: Sanjeev Jaiswal; Mention
Subject: Re: [intelsdi-x/snap] Autoscaling using Heat and Snap metrics (#1212)

Hey @jaiswalsanjeev<https://github.com/jaiswalsanjeev> - If you don't mind I'll close this issue. In case of any new questions let's start new disc

[2016-09-22 06:45] #1212 closed

[2016-09-22 09:14] marcin-krolik opened #1228 "Metric too ambiguous"
Plugin exposes metrics like below:

[code]
where
- `/intel/psutil/cpu/*/<metric_name>` are dynamic metrics per cpu ids
- `/intel/psutil/cpu/cpu-total/<metric_name>` are static metrics for aggregated value over all cpus

1st Example task manifest:
[code]

2nd Example task manifest:
[code]

Issue:
For both task manifest, when starting task error is reported:

for example 1:
[code]

for example 2:
[c

[2016-09-22 11:03] marcin-krolik opened #1229 "Error reported when plugin catalog is empty"
Reproduction steps:
1. Start `snapd` eg. `snapd -t 0 -l 1&`
2. Check metric catalog (no collectors loaded) `snapctl metric list`

Results:
Snapctl reports error
[code]
Snapd reports error
[code]

This should not be reported as error, maybe just info, or warning?

During large tests `pytest` module checks snap output for any error, and fails the test if any error was found. While this could be easi

[2016-09-22 16:36] #1214 closed

[2016-09-22 17:04] lynxbat commented on #1229
Yeah, this is not an error. Asking for a list of metrics should be able to return an empty list.
I wouldn't mention plugins at all in the response as it is not really relevant.

[2016-09-22 17:27] geauxvirtual commented on #1229
This is definitely a change in behavior with the merge of PR #1220. Prior to this PR, an empty list would be returned to snapctl, and snapctl would just print out the column headers.

[2016-09-22 17:31] lynxbat commented on #1229
Functionally a REST API call to a list can return an empty list without error.

Snapctl can be a bigger discussion. I would prefer maybe a "helper" message after the empty list that can say "Try loading a plugin first to get some metrics"

[2016-09-22 18:24] lynxbat opened #1230 "Loading invalid plugin gives non-useful error"
When loading a plugin that should not run the error does not fit:

[code]

In this case, the influxdb plugin is a Linux build but I am loading on my Mac. I believe this used to return the error from exec on the plugin.

[2016-09-22 22:21] marea-cobb commented on #1045
Any preference between displaying Snap or a turtle?
[ascii_snappy.docx](https://github.com/intelsdi-x/snap/files/488487/ascii_snappy.docx)

[2016-09-23 00:22] IRCody opened #1233 "Don't print header columns in snapctl if no metrics/plugins returned."
It would be more useful to provide a hint that helps the user know that nothing was returned and how to remedy that.

[2016-09-23 00:23] IRCody commented on #1229
I submitted a PR for this and opened #1233 to track improvements to snapctl dealing with empty lists for metrics/plugins.

[2016-09-23 11:31] marcin-krolik opened #1234 "RFC: Arbitrary namespace separator"
### Problem description
There are at least two collector plugins (df, swap) identified where dynamic namespace element value may contain "/" character, which breaks metrics namespace.

Problem was reported by Mirantis and is tracked in [github](https://github.com/intelsdi-x/snap-plugin-collector-df/issues/10).

Example:
[code]
In above example "Filesystem" is dynamic namespace element.

### Propos

[2016-09-23 12:52] brharrington commented on #1234
Have you considered escaping instead of changing the separator? My main objection to having different separators is the string version can no longer be used reliably when consuming the data. It probably isn't a big deal if writing a plugin, but for more ad-hoc use-cases like watching a task or viewing/processing output from the file publisher using the shell it would be cumbersome. The same metric

[2016-09-23 16:00] obourdon commented on #1234
Please have a look at my [further comment in the original issue](https://github.com/intelsdi-x/snap-plugin-collector-df/issues/10#issuecomment-249232094)

[2016-09-23 16:01] obourdon commented on #1068
Please have a look at my [further comment in the original issue](https://github.com/intelsdi-x/snap-plugin-collector-df/issues/10#issuecomment-249232094)

[2016-09-23 17:27] #1210 closed

[2016-09-23 21:40] jcooklin commented on #1234
Originally the list was informed by the fact that we were using regex internally against the namespaces however this has since changed.  At this point the special characters that would need to be handled include  '/', '*', and '.'.   The plugin authoring documentation is in the process of being updated and we are planning to remove the need for special handling of `.`.

This begs will String() now

[2016-09-23 21:42] jcooklin commented on #1234
**Arbitrary separator**:
Pros

* doesn't include escapes which may pose a problem in some deployment configurations that involve reverse proxies

Cons

* Requires a priority list of characters that would be tested when printing the string representation of a namespace
* It makes it harder to reliably parse after we have published. For example, parsing the file produced by the file publisher would

[2016-09-23 21:48] jcooklin commented on #1234
**Escaping special characters when part of a namespace element**:
Pros
* standard/intuitive approach to the problem

Cons
* Results may vary if reverse proxies are involved  ([details](https://github.com/intelsdi-x/snap-plugin-collector-df/issues/10#issuecomment-228691533))

[2016-09-23 23:08] rji commented on #1234
Personally, I like the idea of an arbitrary separator, kind of like how GNU sed works:

[code]

[2016-09-24 13:37] brharrington commented on #1234
The sed separator being arbitrary makes them easier to write initially and that is the common usage pattern. Very few things need to actually read and match on the sed expression itself. In my usage the metric namespaces are far more often read and used as inputs for tools like grep, sed, awk, jq, etc. Being able to use simple string operations for matching namespaces makes it much easier to do si

[2016-09-24 14:35] brharrington commented on #1234
If I understand this correctly, the concern is that `%2F`

[code]

Would get automatically decoded by some servers to:

[code]

What about something like [CSV](https://en.wikipedia.org/wiki/Comma-separated_values#Standardization) only using `/` instead of comma as the main separator? So basically you would just quote the path element:

[code]

If a quote is used in the field, then it would need to

[2016-09-24 16:40] andrzej-k opened #1237 "Global, trusted registry of plugins"
This proposition builds up on top what was proposed, discussed and suggested in #1201 by all participants.

My use case is like this: Let's say that I have a cluster which I would like to monitor (HW metrics, VM/docker metrics, app metrics, etc.). To simplify metrics collection process I would like to just define task manifest and let registry provide me  plugins that are needed to run the workflo

[2016-09-26 08:28] marcin-krolik commented on #1234
@brharrington I was thinking about the same and we discussed it internally before, but it was not chosen. I still think that standard escaping like `%2F` or even letting plugin user define it in plugin config (`df` and `swap` collectors) would be much straight forward and would not require any changes in framework.

[2016-09-26 13:24] sandlbn opened #1238 "Grpc error "received message length 9399375 exceeding the max size 4194304" when processing more then 10000 probes."
When I tried to collect metric from middle size cluster and process it using grpc2 I get a grpc error
rpc error: code = 13 desc = grpc: received message length 9399375 exceeding the max size 4194304

**My workflow**
I have 100 machines and every vm is collecting around 200 different metrics. I tried to process metrics using some anomaly detection plugin, same happened when I switched to the differ

[2016-09-26 17:45] geauxvirtual commented on #1230
PR #1104 changed this behavior.

[2016-09-26 22:15] IRCody commented on #1230
If we timeout we may or may not have any output from the plugin. A trivial example:
[code]
So I think we need to have the timed out message (or something equivalent). It makes sense to add in any output from the plugin to the tail of the error message. This would give the user more context (when available) about what went wrong.

#1104 isn't a PR. I don't see how the pr linked to that issue ( #110

[2016-09-26 22:49] geauxvirtual commented on #1230
You are correct, PR #1106 (#1104 was the issue).

Trying this same behavior in release v0.15.0, the output will actually be a runtime error PANIC for invalid memory address or nil pointer deference when trying to load a plugin that can not execute on the system.

After PR #1106, a warning is seen in the snapd output saying `Process for plugin 'snap-plugin-collector-mock1' not started; cannot kill

[2016-09-26 23:00] geauxvirtual commented on #1230
The actual error from `start` is never being captured, as seen here: https://github.com/intelsdi-x/snap/blob/master/control/plugin/execution.go#L76

If this error is actually captured, trying to start a plugin that doesn't match the underlying architecture of the system would result in this type of error:

[code]

[2016-09-26 23:03] geauxvirtual commented on #1230
Executable start errors were captured prior to #1055.

[2016-09-26 23:06] IRCody commented on #1230
Thanks for digging deeper into it. I wonder if you could capture it fairly easily on the command wrapper struct and add something to the command interface (Maybe `GetLastError() error`) to allow it to be retrieved by the executablePlugin. Does that seem like a reasonable approach?

[2016-09-26 23:20] geauxvirtual commented on #1230
In testing this, the only changes that were need were to update the command interface to
[code]

And the function: ` func (cw *commandWrapper) Start() error { return cw.cmd.Start() }`

From there, inside of `Run` just needs to check to see if `Start()` returned an error, and return that error. The error could be better formatted to not include the temporary path and be more pertinent to what the u

[2016-09-26 23:25] IRCody opened #1240 "Remove usage of dot separator in config tree"
In [ctree](https://github.com/intelsdi-x/snap/blob/master/pkg/ctree/tree.go#L123-L150) a `.` separator is used when calling GetAll(). This forces `.`'s to not be accepted in some cases inside a metric namespace. This seems like an unnecessary so I think it should be removed.

I think the main place this is used is in plugin_manager.go and the grpc for both snap's side and the client libs. Changes

[2016-09-27 10:36] rkd286 opened #1241 "Error 405 while using snapctl"
Please refer attachment:
![image](https://cloud.githubusercontent.com/assets/22471467/18870186/21fe2c6a-84cd-11e6-9e54-ef1f87dd4722.png)

[2016-09-27 16:09] nanliu commented on #1241
Seems like you have a jetty service rather than snapd is running on port 8181

[2016-09-27 16:17] IRCody commented on #1241
@rkd286: If you have snapd running on a different port you can use the `snapctl -u "http://localhost:<port>" plugin load snap-plugin-collector-mock1` to target it to a different port (or address).

[2016-09-27 18:46] mjbrender commented on #661
We've had a lot of progress on this since launch. The map to all builds starts with http://snap.ci.snap-telemetry.io/ and looking at that XML output gives you a map to all available plugins through this build process.

Example: `plugins/snap-plugin-collector-bind/master/1c068b54c2e48ca6cfdd32bee85fd6c6a0ad91d5/linux/x86_64/snap-plugin-collector-bind` is in there, which means I can download it:

[c

[2016-09-28 14:59] ldcastell opened #1243 "How do I create a 'collector' type task?"
I'm trying to create a task for a collector plugin (in this case keystone plugin), but when I run:
`snapctl task create` passing my manifest file as parameter I get: `Error creating task:Plugin not found: type(processor) name(keystone) version(-1)`

I'm guessing it is because the keystone plugin is a collector, But I could not find in your documentation how to create a task for this type of plugin

[2016-09-28 15:24] geauxvirtual commented on #1243
Can you post the task manifest you are trying to pass to snap?

[2016-09-28 15:28] ldcastell commented on #1243
Sure!, here is it: http://pastebin.com/raw/G8ARZ0re

[2016-09-28 15:35] geauxvirtual commented on #1243
It looks like you are not processing any of the metrics, so you can simplify the task manifest to the following:

[code]

[2016-09-28 15:41] ldcastell commented on #1243
Thank you! that did the trick  :)

[2016-09-28 15:54] #1243 closed

[2016-09-28 20:48] IRCody commented on #1241
@rkd286: I'm going to close this but if you have more issues feel free to post another issue or respond here.

[2016-09-28 20:48] #1241 closed

[2016-09-28 20:56] #1229 closed

[2016-09-28 22:02] #1207 closed

[2016-09-28 23:23] jcooklin opened #1244 "Add the command `version` to snapctl"
The flag `--version` currently exists however it would be helpful if we could report both the version of the client and server from `snapctl` in a fashion similar to what docker and kubernetes does today.

Something similar to
[code]

[2016-09-29 17:45] candysmurf commented on #1234
Thanks for your contribution. It seems that I need to work on this task. Apparently, there are tradeoffs.
What's the verdict?

I have a couple of questions:
1. Will a namespace have different separators? if your answer is yes, would you please give a use case? E.g.
[code]
2. Will a plugin have mixed namespaces?

Thank you in advance for your help!

[2016-09-29 22:49] candysmurf commented on #1234
Here are my thoughts:

* Priority list sounds a good idea. We only support a list of valid separators.
* If a namespace contains all characters of the valid separators, core.Separator will be used.
* If a namespace does not contain any character of the valid separators, the first one in the valid separator list will be used and so on.
* if a namespace contains characters other than following, alph

[2016-09-29 22:58] #1045 closed

[2016-09-29 23:26] #1067 closed

[2016-09-29 23:26] #1138 closed

[2016-09-30 12:08] krzysztofx opened #1246 "configurable plugin restart limit"
Hi

Would it be possible to expose currently hardcoded limit as a part of global configuration ? I mean MaxPluginRestartCount = 3  from control/runner.go .
Since snap currently doesn't give any means for controlled plugin reload, that would be workaround for situations where plugin has to be restarted.

Thanks

[2016-09-30 16:20] IRCody commented on #1246
@krzysztofx: It's definitely possible. I'd be interested to know if anyone else has run into this issue.

[2016-10-01 17:14] byronschaller opened #1249 "Plugin Wanted: Collector for vCenter"
I'd like to get a collector that can play well with VMware vCenter. Given vCenter telemetry metrics can be pulled via an API using govmomi the collector plugin would most likely leverage the library.

An alterrnative would be to use a intermediary like the Statsfeeder Fling to publish the metrics. Ideally this would be some kind of consumable endpoint for Snap, however nativily it publishes to CSV

[2016-10-03 16:58] mjbrender commented on #1249
I know you already know this, but I love the idea @byronschaller. Plugin Authoring documentation is in flight as we migrate our client library here: https://github.com/intelsdi-x/snap-plugin-lib-go

So if you want to get started, I'm thinking we need:

1. A target example of using the library in Go. Hey @IRCody or @kindermoumoute, is there a plugin out there you can recommend?
2. Clone that exampl

[2016-10-03 17:05] kindermoumoute commented on #1249
You can take the mock example on the Snap repo: https://github.com/intelsdi-x/snap/tree/master/plugin/collector/snap-plugin-collector-mock2-grpc

[2016-10-03 17:39] mjbrender commented on #1249
Good thought @kindermoumoute, though mocks != examples because they're quite confusing for new users. The PR on the library (https://github.com/intelsdi-x/snap-plugin-lib-go/pull/26) has a better example coming together. I'm more interested in a skeleton that could be a basis for a good new plugin.

[2016-10-03 17:47] kindermoumoute commented on #1249
There is also a collector example from the library repo. AFAIK this one and the above mock2-grpc are the only collector you can find that use the new library.
https://github.com/intelsdi-x/snap-plugin-lib-go/tree/master/examples/collector

[2016-10-03 19:52] IRCody opened #1250 "Expand supported types for grpc"
Snap should support the types in this [table](https://developers.google.com/protocol-buffers/docs/proto3#scalar) for gRPC communications.

[2016-10-04 09:24] obourdon commented on #1246
@krzysztofx I'd be interested in knowing in which use cases this occurs and needs to be fixed

[2016-10-04 09:41] krzysztofx commented on #1246
Hi
I'm developing  some plugin for getting DPDK statics.  Brief picture is that collector plugin process attaches to primary DPDK process as  a secondary . When primary restarts for some reason, secondary has invalid memory handlers to common memory area, so it has to reintialize it . Unfortunatelly current DPDK libraries  implementation is lacking memory reinitialization routines, so the only and

[2016-10-04 14:40] candysmurf commented on #1234
PR #1252 is ready for your review. It supports arbitrary separators.

[2016-10-04 16:36] kjlyon opened #1254 "Add documentation for V2 Rest API"
Add the V2 REST API routes and examples to REST_API.md

[2016-10-04 22:53] IRCody commented on #1238
@sandlbn: Are all 100 vm's going to the same instance of the anomaly detection plugin?

Also it would be helpful to link where the MaxMsgSize is coming from.

[2016-10-05 18:10] #1205 closed

[2016-10-06 18:36] andrzej-k commented on #1052
Closing - fixed by #1146

[2016-10-06 19:03] andrzej-k opened #1260 "snap near zero-downtime upgrade"
It may be early, but I think that we should start considering how we'd like to support software upgrade for snap. Doing this early may allow us discovering design gaps before they become blockers.

Main use case assumes that snap (v1) is running and collecting metrics. Then, new version of snap (v2) is released and User wants to use features from new version without much impact on metrics collecti

[2016-10-06 20:45] bjray opened #1261 "List Snap maintainers"
We want to provide an easy way for external contributors to know who our maintainers are, what packages they maintain and how to contact them.

One idea on how we do this is to provide a MAINTAINERS file in /docs that lists the maintainers along with their email and github id, similar to https://github.com/coreos/etcd/blob/master/MAINTAINERS.

This aligns to #1155 and helps prepare for external ma

[2016-10-06 20:58] nanliu commented on #1261
This is related to #588.

[2016-10-07 08:44] katarzyna-z commented on #1115
I reproduced the issue using the following [commit](https://github.com/intelsdi-x/snap/commit/4833736f46f62be6729e31bb63ed003b1acef1a3). I tested snapd with snap-plugin-collector-mock2 using this task manifest:

[code]
In this test I received following output from snapctl:
[code]

I was trying to reproduce the issue also with the latest snap ([commit](https://github.com/intelsdi-x/snap/commit/8fc7

[2016-10-07 09:26] katarzyna-z opened #1264 "make install does not work"
`make install` does not work because of change of directories structure (in build directory). I received following error using `make install`:
[code]
Current tree of build directory:
[code]
Earlier tree of build directory:
[code]

[2016-10-07 17:07] #1115 closed

[2016-10-07 18:21] #1234 closed

[2016-10-07 18:48] #1222 closed

[2016-10-07 18:48] #1228 closed

[2016-10-07 19:27] #1240 closed

[2016-10-07 20:17] #1264 closed

[2016-10-08 00:33] kindermoumoute opened #1267 "Simplify source file structure for Go plugins"
As a plugin developer I want a coherent way to structure source files.

## Current state
Let's say I develop `snap-plugin-collector-myplugin`. Currently, we organise Go source in the following way:
[code]

Where `myplugin.go` implement the collector/processor/publisher interface. Those interfaces are specific to __myplugin__, and there is no use case to import `"github.com/intelsdi-x/snap-plugin-c

[2016-10-10 07:24] obourdon opened #1268 "Task moved to disabled state when system becomes too busy"
After exchanging on the subject in slack channel here are the details of this issue:

I am running a snapd instance with 12 plugins (amongst which cpu, df, disk, …) and collecting metrics from all of these each and every 10s. If I put my system under heavy load (using stress Linux CLI tool `stress -c 2 -t 90`) I suddendly hit this line in the code [https://github.com/intelsdi-x/snap/blob/master/co

[2016-10-10 07:32] obourdon commented on #1268
[perf_sched.txt](https://github.com/intelsdi-x/snap/files/518946/perf_sched.txt)
[lscpu.txt](https://github.com/intelsdi-x/snap/files/518947/lscpu.txt)

[2016-10-10 15:08] ericho opened #1270 "Try to understand performance behavior on plugin load operations"
Hi,

This is more a question than an issue.
I'm experimenting with snap to get environmental data from an Intel Edison board. Basically what i'm doing is to build snap for 32 bits as well as the needed plugins.

Since the first experiment running snap on this board I noticed some behavior in the plugin load procedure. If I load a plugin it takes some time to complete the operation, but if I load a